Repository 6bee/Remote.Linq: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

set target framework to net48 (.net framework) for binary formatter serialization
  samples/20_RemoteQueryable_UsingBinarySerializationOverTcp/Client/Client.csproj
  samples/20_RemoteQueryable_UsingBinarySerializationOverTcp/DemoStartUp/DemoStartUp.csproj
  samples/20_RemoteQueryable_UsingBinarySerializationOverTcp/Server/Server.csproj
  samples/21_RemoteQueryable_UsingBinarySerializationOverTcpAsync/Client/Client.csproj
  samples/21_RemoteQueryable_UsingBinarySerializationOverTcpAsync/DemoStartUp/DemoStartUp.csproj
  samples/21_RemoteQueryable_UsingBinarySerializationOverTcpAsync/Server/Server.csproj
Due: none

rename BinaryFormatterSerialization samples
  Remote.Linq.Samples.sln
  samples/20_RemoteQueryable_UsingBinaryFormatterSerializationOverTcp/Client/Client.csproj
  samples/20_RemoteQueryable_UsingBinaryFormatterSerializationOverTcp/Client/Program.cs
  samples/20_RemoteQueryable_UsingBinaryFormatterSerializationOverTcp/Client/RemoteRepository.cs
  samples/20_RemoteQueryable_UsingBinaryFormatterSerializationOverTcp/Common/Common.csproj
  samples/20_RemoteQueryable_UsingBinaryFormatterSerializationOverTcp/DemoStartUp/DemoStartUp.csproj
  samples/20_RemoteQueryable_UsingBinaryFormatterSerializationOverTcp/DemoStartUp/Program.cs
  samples/20_RemoteQueryable_UsingBinaryFormatterSerializationOverTcp/Server/Program.cs
  samples/20_RemoteQueryable_UsingBinaryFormatterSerializationOverTcp/Server/Server.csproj
  samples/21_RemoteQueryable_UsingBinaryFormatterSerializationOverTcpAsync/Client/Client.csproj
  samples/21_RemoteQueryable_UsingBinaryFormatterSerializationOverTcpAsync/Client/Program.cs
  samples/21_RemoteQueryable_UsingBinaryFormatterSerializationOverTcpAsync/Common/Common.csproj
  samples/21_RemoteQueryable_UsingBinaryFormatterSerializationOverTcpAsync/DemoStartUp/DemoStartUp.csproj
  samples/21_RemoteQueryable_UsingBinaryFormatterSerializationOverTcpAsync/DemoStartUp/Program.cs
  samples/21_RemoteQueryable_UsingBinaryFormatterSerializationOverTcpAsync/Server/Program.cs
  samples/21_RemoteQueryable_UsingBinaryFormatterSerializationOverTcpAsync/Server/Server.csproj
  samples/24_RemoteQueryable_UsingJsonSerializationOverWebApi/Server/Properties/launchSettings.json
Due: none

migrate to OIDC based trusted publishing
  .github/workflows/publish.yml
Due: none

add xml declaration
  Directory.Packages.props
Due: none

remove local nuget source and use public package version
  Directory.Packages.props
  nuget.config
Due: none

add ci-build script
  .github/workflows/ci-tests.yml
Due: none

remove appveyor and travis ci-builds
  .appveyor.yml
  .travis.yml
Due: none

update ci build and package listing in readme
  README.md
Due: none

bump version to 8.0.0
  Directory.Build.props
Due: none

fix ci-build triggers
  .github/workflows/ci-tests.yml
Due: none

add explicit builds for framework and samples
  .github/workflows/ci-tests.yml
Due: none

enable locked nuget restores
  .github/workflows/ci-tests.yml
  .github/workflows/publish.yml
  .gitignore
  Directory.Build.props
  samples/Directory.Build.props
  src/Remote.Linq.Async.Queryable/packages.lock.json
  src/Remote.Linq.EntityFramework/packages.lock.json
  src/Remote.Linq.EntityFrameworkCore/packages.lock.json
  src/Remote.Linq.MessagePack/packages.lock.json
  src/Remote.Linq.Newtonsoft.Json/packages.lock.json
  src/Remote.Linq.Protobuf/packages.lock.json
  src/Remote.Linq/packages.lock.json
  test/Remote.Linq.Async.Queryable.Tests/packages.lock.json
  test/Remote.Linq.EntityFramework.Tests/packages.lock.json
  test/Remote.Linq.EntityFrameworkCore.Tests/packages.lock.json
  test/Remote.Linq.Tests/packages.lock.json
Due: production, test

remove coverlet runsettings
  codecov.yml
  coverlet.runsettings
Due: none

define test runner on global.json
  global.json
Due: none

fix project name
  README.md
Due: none

refactor: change ToLinqExpression to accept delegate type
  CHANGELOG.md
  src/Remote.Linq/ExpressionTranslationExtensions.cs
  src/Remote.Linq/SimpleQuery/SimpleQueryQueryableExtensions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_BlockExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_GotoAndLabelExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_GotoAndLabelExpressions_with_names.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_GotoAndLabelExpressions_with_nested_BlockExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_InvokeExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_LambdaExpression_returnung_a_type.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_LoopExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_SwitchExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_TryCatchExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_TryFinallyExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_complex_expression_with_local_lambda.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_const_bool_expression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_simple_bool_expression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_simple_projection_to_single_member.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_instance_variable_query_argument.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_argument.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_argument_list.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_string_argument.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_string_argument_list.cs
Due: production, test

clean code
  test/Remote.Linq.Tests/RemoteQueryable/When_running_query.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_subquery_expression_use_same_parameter_name.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_IfElseExpressions.cs
Due: test

add text coverage for serializing linq expression
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_BinaryExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_ConditionalExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_ConstantExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_DefaultExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_ListInitExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_MemberExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_MemberInitExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_MethodCallExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_UnaryExpression.cs
Due: test

add .gitea ci-build script
  .gitea/workflows/ci-tests.yml
Due: none

collect and upload test coverage
  .gitea/workflows/ci-tests.yml
Due: none

rename test classes
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_BinaryExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_BlockExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_ConditionalExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_ConstExpression_of_expression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_ConstantExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_DefaultExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_GotoAndLabelExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_GotoAndLabelExpressions_with_names.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_GotoAndLabelExpressions_with_nested_BlockExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_IfElseExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_InvokeExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_LambdaExpression_returnung_a_type.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_ListInitExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_LoopExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_MemberExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_MemberInitExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_MethodCallExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_SwitchExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_TryCatchExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_TryFinallyExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_UnaryExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_complex_expression_with_local_lambda.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_const_bool_expression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_simple_bool_expression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_simple_projection_to_single_member.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_subquery_expression_use_same_parameter_name.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_complex_expression_with_local_lambda.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_const_bool_expression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_simple_bool_expression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_simple_projection_to_single_member.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_serializing_instance_variable_query_argument.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_serializing_local_variable_query_argument.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_serializing_local_variable_query_argument_list.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_serializing_local_variable_query_string_argument.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_serializing_local_variable_query_string_argument_list.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_instance_variable_query_argument.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_argument.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_argument_list.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_string_argument.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_string_argument_list.cs
Due: test

clean code
  test/Remote.Linq.Tests/Serialization/BinarySerializationHelper.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_ConstExpression_of_expression.cs
Due: test

add test coverage for null value serialization
  src/Remote.Linq.Async.Queryable/AsyncGrouping`2.cs
  src/Remote.Linq/Grouping`2.cs
  src/Remote.Linq/SimpleQuery/Query`1.cs
  test/Remote.Linq.Tests/Remote.Linq.Tests.csproj
  test/Remote.Linq.Tests/Serialization/When_serializing_null.cs
  test/Remote.Linq.Tests/packages.lock.json
Due: production, test

revise project tags
  src/Remote.Linq.Async.Queryable/Remote.Linq.Async.Queryable.csproj
  src/Remote.Linq.EntityFramework/Remote.Linq.EntityFramework.csproj
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
  src/Remote.Linq.MessagePack/Remote.Linq.MessagePack.csproj
  src/Remote.Linq.Newtonsoft.Json/Remote.Linq.Newtonsoft.Json.csproj
  src/Remote.Linq.Protobuf/Remote.Linq.Protobuf.csproj
  src/Remote.Linq/Remote.Linq.csproj
Due: production

clean test code
  src/Remote.Linq.MessagePack/Formatters/BinaryExpressionFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/BlockExpressionFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/CatchBlockFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/ConditionalExpressionFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/ConstantExpressionFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/ConstantQueryArgumentFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/DefaultExpressionFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/ElementInitFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/ExpressionFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/FormatterHelpers.cs
  src/Remote.Linq.MessagePack/Formatters/GotoExpressionFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/InvokeExpressionFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/LabelExpressionFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/LabelTargetFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/LambdaExpressionFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/ListInitExpressionFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/LoopExpressionFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/MemberAssignmentFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/MemberBindingFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/MemberExpressionFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/MemberInitExpressionFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/MemberListBindingFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/MemberMemberBindingFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/MethodCallExpressionFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/NewArrayExpressionFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/NewExpressionFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/ParameterExpressionFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/QueryableResourceDescriptorFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/SubstitutionValueFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/SwitchCaseFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/SwitchExpressionFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/TryExpressionFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/TypeBinaryExpressionFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/UnaryExpressionFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/VariableQueryArgumentFormatter.cs
  src/Remote.Linq.MessagePack/Formatters/VariableQueryArgumentListFormatter.cs
Due: production

handle null values
  src/Remote.Linq.MessagePack/Formatters/ConstantValueFormatter.cs
Due: production

extend test coverage
  test/Remote.Linq.Tests/Core/When_using_core_expression_utilities.cs
  test/Remote.Linq.Tests/Include/When_using_include_with_local_queryables.cs
  test/Remote.Linq.Tests/Serialization/When_configuring_system_text_json.cs
  test/Remote.Linq.Tests/SimpleQuery/When_executing_simple_queries.cs
Due: test

improve ef core test coverage
  test/Remote.Linq.EntityFrameworkCore.Tests/When_evaluating_entity_framework_core_expressions.cs
  test/Remote.Linq.EntityFrameworkCore.Tests/When_rewriting_ef_core_expressions.cs
  test/Remote.Linq.EntityFrameworkCore.Tests/When_using_entity_framework_core_factory_extensions.cs
Due: test

extend test coverage
  test/Remote.Linq.Tests/DynamicQuery/VariableQueryArgument/When_creating_variable_query_arguments.cs
  test/Remote.Linq.Tests/Serialization/When_configuring_newtonsoft_json.cs
Due: test

updated dependencies
  CHANGELOG.md
  Directory.Packages.props
  src/Remote.Linq.Async.Queryable/packages.lock.json
  src/Remote.Linq.EntityFramework/packages.lock.json
  src/Remote.Linq.EntityFrameworkCore/packages.lock.json
  src/Remote.Linq.MessagePack/packages.lock.json
  src/Remote.Linq.Newtonsoft.Json/packages.lock.json
  src/Remote.Linq.Protobuf/packages.lock.json
  src/Remote.Linq/packages.lock.json
  test/Remote.Linq.Async.Queryable.Tests/packages.lock.json
  test/Remote.Linq.EntityFramework.Tests/packages.lock.json
  test/Remote.Linq.EntityFrameworkCore.Tests/packages.lock.json
  test/Remote.Linq.Tests/packages.lock.json
Due: production, test

add test coverage for complex system-to-remote and remote-to-system nodes
  test/Remote.Linq.Tests/ExpressionVisitors/ExpressionTranslator/When_translating_complex_expression_nodes.cs
  test/Remote.Linq.Tests/TestSupport/RecordingProviders.cs
Due: test

handle System.RuntimeType internal type as Type
  src/Remote.Linq/ExpressionTranslationExtensions.RemoteToSystemLinqTranslator.cs
  src/Remote.Linq/ExpressionTranslationExtensions.SystemToRemoteLinqTranslator.cs
Due: production

use default equality comparer for contant query argument key (value and type of ConstantExpression)
  src/Remote.Linq/ExpressionTranslationExtensions.SystemToRemoteLinqTranslator.cs
Due: production

add test coverage for complex constants and query arguments
  test/Remote.Linq.Tests/ExpressionVisitors/ExpressionTranslator/When_translating_complex_constants.cs
  test/Remote.Linq.Tests/ShouldlyExtensions.cs
Due: test

clean code
  src/Remote.Linq/System.Linq.Expressions/SystemExpressionFactoryExtensions.cs
  test/Remote.Linq.Tests/ExpressionVisitors/ExpressionTranslator/When_translating_complex_constants.cs
  test/Remote.Linq.Tests/ExpressionVisitors/ExpressionTranslator/When_translating_complex_expression_nodes.cs
  test/Remote.Linq.Tests/ShouldlyExtensions.cs
  test/Remote.Linq.Tests/Test.cs
Due: production, test

add test coverage for variable query argument rewriting
  test/Remote.Linq.Tests/ExpressionVisitors/VariableQueryArgumentVisitor/When_rewriting_variable_query_arguments.cs
Due: test

add test coverage for rewriting queryable resources for remote expressions
  test/Remote.Linq.Tests/ExpressionVisitors/QueryableResourceVisitor/When_replacing_queryable_resources.cs
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
