Repository 6bee/Remote.Linq: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

codecov:
  ci:
    - appveyor

fixed link
  CHANGELOG.md
Due: none

removed line breaks after list items
  CHANGELOG.md
Due: none

added API doc
  src/Remote.Linq.Async.Queryable/DynamicQuery/IRemoteLinqAsyncQueryProvider.cs
  src/Remote.Linq.Async.Queryable/DynamicQuery/RemoteLinqAsyncQueryProvider`1.cs
  src/Remote.Linq.Async.Queryable/DynamicQuery/RemoteLinqAsyncQueryable.cs
  src/Remote.Linq.Async.Queryable/DynamicQuery/RemoteLinqAsyncQueryable`1.cs
  src/Remote.Linq/DynamicQuery/RemoteQueryable.cs
  src/Remote.Linq/IAsyncRemoteQueryProvider.cs
  src/Remote.Linq/IAsyncRemoteQueryable.cs
  src/Remote.Linq/IAsyncRemoteQueryable`1.cs
  src/Remote.Linq/IAsyncRemoteStreamProvider.cs
  src/Remote.Linq/IAsyncRemoteStreamQueryable.cs
  src/Remote.Linq/IAsyncRemoteStreamQueryable`1.cs
  src/Remote.Linq/IOrderedAsyncRemoteQueryable.cs
  src/Remote.Linq/IOrderedAsyncRemoteQueryable`1.cs
  src/Remote.Linq/IOrderedAsyncRemoteStreamQueryable.cs
  src/Remote.Linq/IOrderedAsyncRemoteStreamQueryable`1.cs
  src/Remote.Linq/IOrderedRemoteQueryable.cs
  src/Remote.Linq/IOrderedRemoteQueryable`1.cs
  src/Remote.Linq/IRemoteLinqQueryProvider.cs
  src/Remote.Linq/IRemoteLinqQueryable.cs
  src/Remote.Linq/IRemoteQueryProvider.cs
  src/Remote.Linq/IRemoteQueryable.cs
  src/Remote.Linq/IRemoteQueryable`1.cs
  src/Remote.Linq/RemoteQueryable.cs
Due: production

moved IQueryResultMapper to DynamicQuery namespace added API doc
  src/Remote.Linq.Async.Queryable/DynamicQuery/RemoteLinqAsyncQueryProvider`1.cs
  src/Remote.Linq.Async.Queryable/DynamicQuery/RemoteLinqAsyncQueryable.cs
  src/Remote.Linq.EntityFramework/RemoteQueryableFactoryAsyncExtensions.cs
  src/Remote.Linq.EntityFramework/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/RemoteQueryableFactoryAsyncExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/RemoteQueryableFactoryAsyncStreamExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq/DynamicQuery/DynamicResultMapper.cs
  src/Remote.Linq/DynamicQuery/IAsyncQueryResultMapper`1.cs
  src/Remote.Linq/DynamicQuery/IQueryResultMapper`1.cs
  src/Remote.Linq/DynamicQuery/RemoteQueryable.cs
  src/Remote.Linq/ExpressionTranslatorContext.cs
  src/Remote.Linq/Grouping`2.cs
  src/Remote.Linq/IExpressionFromRemoteLinqContext.cs
  src/Remote.Linq/IExpressionToRemoteLinqContext.cs
  src/Remote.Linq/IExpressionTranslatorContext.cs
  src/Remote.Linq/IExpressionValueMapperProvider.cs
  src/Remote.Linq/Include/IIncludableQueryable`2.cs
  src/Remote.Linq/Include/IncludeQueryableExtensions.cs
  src/Remote.Linq/MethodInfoExtensions.cs
  src/Remote.Linq/RemoteLinqException.cs
  src/Remote.Linq/RemoteQueryable.cs
  src/Remote.Linq/RemoteQueryableFactory.cs
Due: production

resolved code style issues
  Style.Tests.ruleset
  Style.ruleset
  src/Remote.Linq.Async.Queryable/Expressions/ExpressionAsyncExecutionExtensions.cs
  src/Remote.Linq.Async.Queryable/Expressions/ExpressionAsyncStreamExecutionExtensions.cs
  src/Remote.Linq/Async/AsyncQueryableExtensions.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteQueryable.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteQueryable`1.cs
  src/Remote.Linq/DynamicQuery/RemoteQueryProviderExtensions.cs
  src/Remote.Linq/ExpressionTranslator.SystemToRemoteLinqTranslator.cs
  src/Remote.Linq/ExpressionTranslatorContext.cs
  src/Remote.Linq/ExpressionVisitors/SystemExpressionReWriter.cs
  src/Remote.Linq/Helper.cs
  src/Remote.Linq/Include/RemoteIncludeExpressionReWriter.cs
  src/Remote.Linq/Include/SystemIncludeExpressionReWriter.cs
  src/Remote.Linq/MethodInfoExtensions.cs
  src/Remote.Linq/MethodInfos.Enumerable.cs
  src/Remote.Linq/MethodInfos.Expression.cs
  src/Remote.Linq/MethodInfos.Queryable.cs
  src/Remote.Linq/MethodInfos.cs
  src/Remote.Linq/SimpleQuery/SimpleQueryEnumerableExtensions.cs
  src/Remote.Linq/SimpleQuery/SimpleQueryQueryableExtensions.cs
  src/Remote.Linq/TestSupport/TaskAsyncQueryProvider.cs
Due: production

renamed AsyncDynamicStreamResultMapper
  src/Remote.Linq.Async.Queryable/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq/DynamicQuery/AsyncDynamicStreamResultMapper.cs
  src/Remote.Linq/RemoteQueryableFactoryAsyncStreamExtensions.cs
Due: production

added API doc
  src/Remote.Linq/DynamicQuery/AsyncDynamicResultMapper.cs
  src/Remote.Linq/DynamicQuery/AsyncObjectResultCaster.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteQueryable.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteQueryable`1.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteStreamProvider`1.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteStreamQueryable.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteStreamQueryable`1.cs
  src/Remote.Linq/DynamicQuery/DynamicResultMapper.cs
  src/Remote.Linq/DynamicQuery/ExpressionHelper.cs
  src/Remote.Linq/DynamicQuery/IAsyncQueryResultMapper`1.cs
  src/Remote.Linq/DynamicQuery/IQueryResultMapper`1.cs
  src/Remote.Linq/DynamicQuery/ObjectResultCaster.cs
  src/Remote.Linq/DynamicQuery/RemoteQueryable.cs
  src/Remote.Linq/DynamicQuery/RemoteQueryable`1.cs
  src/Remote.Linq/ExpressionExecution/DefaultExpressionExecutor.cs
  src/Remote.Linq/Grouping`2.cs
Due: production

using GetMethodEx
  src/Remote.Linq.Async.Queryable/ExpressionExecution/InteractiveAsyncExpressionExecutor`1.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/InteractiveAsyncStreamExpressionExecutor`1.cs
  src/Remote.Linq.EntityFramework/ExpressionExecution/EntityFrameworkExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/EntityFrameworkCoreExpressionExecutor`1.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteQueryProvider`1.cs
  src/Remote.Linq/DynamicQuery/RemoteQueryProvider`1.cs
  src/Remote.Linq/ExpressionTranslatorContext.cs
  src/Remote.Linq/ExpressionVisitors/SystemExpressionReWriter.cs
  src/Remote.Linq/ExpressionVisitors/VariableQueryArgumentVisitor.cs
Due: production

revised API doc
  src/Remote.Linq.Async.Queryable/TestSupport/EnumerableExtensions.cs
  src/Remote.Linq/TestSupport/EnumerableExtensions.cs
Due: production

minor code changes
  src/Remote.Linq.Async.Queryable/AsyncEnumerable`1.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/DefaultReactiveAsyncExpressionExecutor.cs
  src/Remote.Linq/DynamicQuery/ConstantQueryArgument.cs
Due: production

renamed AsyncQueryExpressionTranslatorContext
  src/Remote.Linq.Async.Queryable/ExpressionExecution/AsyncQueryExpressionTranslatorContext.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/DefaultReactiveAsyncExpressionExecutor.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/DefaultReactiveAsyncStreamExpressionExecutor.cs
Due: production

removed DynamicQueryResultMapper
  src/Remote.Linq/DynamicQuery/AsyncDynamicStreamResultMapper.cs
  src/Remote.Linq/DynamicQuery/DynamicQueryResultMapper.cs
  src/Remote.Linq/DynamicQuery/DynamicResultMapper.cs
  src/Remote.Linq/ExpressionExecution/DefaultExpressionExecutor.cs
Due: production

using ExpressionTranslatorContext.Default to get default instance
  src/Remote.Linq/DynamicQuery/AsyncDynamicStreamResultMapper.cs
  src/Remote.Linq/DynamicQuery/DynamicResultMapper.cs
  src/Remote.Linq/ExpressionExecution/AsyncStreamExpressionExecutor`2.cs
  src/Remote.Linq/ExpressionExecution/DefaultExpressionExecutor.cs
  src/Remote.Linq/ExpressionTranslator.RemoteToSystemLinqTranslator.cs
  src/Remote.Linq/ExpressionTranslator.cs
  src/Remote.Linq/ExpressionTranslatorContext.cs
Due: production

completing NoMappingContext for two-way translation
  src/Remote.Linq/ExpressionTranslator.cs
Due: production

moved NoMappingContext property into `ExpressionTranslatorContext` class
  src/Remote.Linq/DynamicQuery/QueryableResourceDescriptor.cs
  src/Remote.Linq/ExpressionTranslator.cs
  src/Remote.Linq/ExpressionTranslatorContext.cs
  src/Remote.Linq/Include/RemoteIncludeExpressionReWriter.cs
  test/Remote.Linq.Tests/ExpressionTranslator/NoMappingContext/When_translating_expression_without_value_transformations.cs
Due: production, test

7.0.0-alpha-096
  Directory.Build.props
Due: none

removed methods that cannot be hidden
  src/Remote.Linq/RemoteQueryable.cs
Due: production

enable InProcDataCollectionRunSettings for coverlet
  coverlet.runsettings
Due: none

7.0.0-alpha-096
  CHANGELOG.md
  Directory.Build.props
Due: none

aqua-core.5.0.0-alpha-075
  Directory.Build.props
  src/Remote.Linq/Expressions/Expression.cs
Due: production

fixed typo
  src/Remote.Linq/IExpressionValueMapperProvider.cs
  test/Remote.Linq.Tests/ExpressionTranslator/Context/When_translating_expression.cs
Due: production, test

clean code and code doc
  src/Remote.Linq/ExpressionTranslatorContext.cs
Due: production

evaluate local enumerables
  src/Remote.Linq/ExpressionVisitors/SystemExpressionEvaluator.cs
  test/Remote.Linq.Tests/ExpressionTranslator/NoMappingContext/When_translating_expression_without_value_transformations.cs
Due: production, test

value mapper tests for non-mapping-context
  test/Remote.Linq.Tests/ExpressionTranslator/NoMappingContext/When_calling_value_mapper_transformation_operations.cs
Due: test

clean code
  src/Remote.Linq/ExpressionTranslator.SystemToRemoteLinqTranslator.cs
Due: production

leverage handleSubtypes option
  src/Remote.Linq.Text.Json/Converters/ExpressionConverter.cs
  src/Remote.Linq.Text.Json/Converters/ExpressionConverter`1.cs
  src/Remote.Linq.Text.Json/JsonSerializerOptionsExtensions.cs
Due: production

set immutable values to static fields
  src/Remote.Linq/ExpressionVisitors/VariableQueryArgumentVisitor.cs
Due: production

removed unused code
  src/Remote.Linq/MethodInfos.GroupingFactory.cs
  src/Remote.Linq/MethodInfos.String.cs
Due: production

improve test coverage
  test/Remote.Linq.Tests/Include/When_using_include.cs
  test/Remote.Linq.Tests/RemoteQueryable/When_running_query.cs
Due: test

aqua-core.5.0.0-alpha-076
  Directory.Build.props
Due: none

fixed issue with SequenceEqualAsync
  src/Remote.Linq/Async/AsyncQueryableExtensions.cs
Due: production

clean code
  src/Remote.Linq/ExpressionExecution/DefaultExpressionExecutor.cs
  src/Remote.Linq/ExpressionTranslator.cs
  src/Remote.Linq/ExpressionVisitors/RemoteExpressionVisitorBase.cs
Due: production

removed unused code
  src/Remote.Linq/ExpressionVisitors/SystemExpressionReWriter.cs
Due: production

removed private ctor of reflection-support-types with internal visibility
  src/Remote.Linq/Include/IncludeQueryableExtensions.cs
  src/Remote.Linq/MethodInfos.cs
Due: production

improved test coverage for async linq operations
  test/Remote.Linq.Tests/AsyncQueryableExtensions/When_using_async_linq_operations.cs
  test/Remote.Linq.Tests/AsyncQueryableExtensions/When_using_async_remote_operations.cs
Due: test

use new expression translation api
  src/Remote.Linq/ExpressionExecution/AsyncStreamExpressionExecutor`2.cs
Due: production

marking legacy expression translation api obsolete
  src/Remote.Linq/ExpressionTranslator.cs
Due: production

moved code into switch statement
  src/Remote.Linq/ExpressionVisitors/SystemExpressionEvaluator.cs
Due: production

hide obsolete methods in editor
  src/Remote.Linq/ExpressionVisitors/SystemExpressionReWriter.cs
Due: production
