Repository 6bee/Remote.Linq: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

update demo to show custom result handling, ruling out default result mapping
  samples/Directory.Build.props
  samples/Directory.Build.targets
  samples/RemoteQueryable/03_CustomExpressionExecutor/Server/QueryService.cs
  samples/RemoteQueryable/03_CustomResultHandler/Client/Client.csproj
  samples/RemoteQueryable/03_CustomResultHandler/Client/Demo.cs
  samples/RemoteQueryable/03_CustomResultHandler/Client/Program.cs
  samples/RemoteQueryable/03_CustomResultHandler/Client/RemoteRepository.cs
  samples/RemoteQueryable/03_CustomResultHandler/Common/Common.csproj
  samples/RemoteQueryable/03_CustomResultHandler/Common/Model/OrderItem.cs
  samples/RemoteQueryable/03_CustomResultHandler/Common/Model/Product.cs
  samples/RemoteQueryable/03_CustomResultHandler/Common/Model/ProductCategory.cs
  samples/RemoteQueryable/03_CustomResultHandler/Common/ServiceContracts/IQueryService.cs
  samples/RemoteQueryable/03_CustomResultHandler/DemoStartUp/DemoStartUp.csproj
  samples/RemoteQueryable/03_CustomResultHandler/DemoStartUp/Program.cs
  samples/RemoteQueryable/03_CustomResultHandler/README.md
  samples/RemoteQueryable/03_CustomResultHandler/RemoteQueryable_CustomResultHandler.sln
  samples/RemoteQueryable/03_CustomResultHandler/Server/InMemoryDataStore.cs
  samples/RemoteQueryable/03_CustomResultHandler/Server/Program.cs
  samples/RemoteQueryable/03_CustomResultHandler/Server/QueryService.cs
  samples/RemoteQueryable/03_CustomResultHandler/Server/Server.csproj
Due: none

6.3.0-alpha-005
  Directory.Build.props
Due: none

fixed project path
  .travis.yml
  Remote.Linq.Samples.sln
Due: none

updated target framework for coverage build
  appveyor.yml
Due: none

async streams: added support for consuming `IAsyncEnumerable<>` data sources as issued by #69
  src/Remote.Linq.Newtonsoft.Json/Converters/ExpressionConverter.cs
  src/Remote.Linq/AsyncQueryableExtensions.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteQueryProvider`1.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteStreamProvider`1.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteStreamQueryable.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteStreamQueryable`1.cs
  src/Remote.Linq/DynamicQuery/DynamicItemMapper.cs
  src/Remote.Linq/DynamicQuery/ObjectResultCaster.cs
  src/Remote.Linq/DynamicQuery/QueryOperationNotSupportedException.cs
  src/Remote.Linq/DynamicQuery/QueryableResourceDescriptor.cs
  src/Remote.Linq/DynamicQuery/RemoteQueryable.cs
  src/Remote.Linq/DynamicQuery/RemoteQueryable`1.cs
  src/Remote.Linq/DynamicQuery/VariableQueryArgument.cs
  src/Remote.Linq/DynamicQuery/VariableQueryArgumentList.cs
  src/Remote.Linq/Expressions/CatchBlock.cs
  src/Remote.Linq/Expressions/ConstantExpression.cs
  src/Remote.Linq/Expressions/DefaultExpression.cs
  src/Remote.Linq/Expressions/ParameterExpression.cs
  src/Remote.Linq/Expressions/TypeBinaryExpression.cs
  src/Remote.Linq/IAsyncRemoteStreamProvider.cs
  src/Remote.Linq/IAsyncRemoteStreamQueryable.cs
  src/Remote.Linq/IAsyncRemoteStreamQueryable`1.cs
  src/Remote.Linq/IOrderedAsyncRemoteStreamQueryable.cs
  src/Remote.Linq/IOrderedAsyncRemoteStreamQueryable`1.cs
  src/Remote.Linq/Properties/AssemblyInfo.cs
  src/Remote.Linq/Query.cs
  src/Remote.Linq/QueryableExtensions.cs
  src/Remote.Linq/Remote.Linq.csproj
  src/Remote.Linq/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq/TestSupport/EnumerableExtensions.cs
  test/Remote.Linq.Tests/DynamicQuery/AsyncRemoteStream/When_executing_async_remote_stream.cs
Due: production, test

implementation of server side support for `IAsyncEnumerable<>` as issued by #69
  src/Remote.Linq.EntityFramework/ExpressionExecution/EntityFrameworkExpressionExecutor`1.cs
  src/Remote.Linq.EntityFramework/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/CastingEntityFrameworkCoreAsyncStreamExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/DefaultEntityFrameworkCoreExpressionExecutor.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/EntityFrameworkCoreAsyncStreamExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/EntityFrameworkCoreExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/Helper.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionVisitors/AsyncScalarQueryExpressionReWriter.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionVisitors/RemoteExpressionReWriter.cs
  src/Remote.Linq.EntityFrameworkCore/Properties/AssemblyInfo.cs
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
  src/Remote.Linq.EntityFrameworkCore/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteQueryable`1.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteStreamQueryable.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteStreamQueryable`1.cs
  src/Remote.Linq/DynamicQuery/QueryOperationNotSupportedException.cs
  src/Remote.Linq/DynamicQuery/RemoteQueryable`1.cs
  src/Remote.Linq/ExpressionExecution/AsyncStreamExpressionExecutor`1.cs
  src/Remote.Linq/ExpressionExecution/ExpressionExecutionHelper.cs
  src/Remote.Linq/ExpressionExecution/IAsyncStreamExpressionExecutionDecorator`1.cs
  src/Remote.Linq/QueryableExtensions.cs
  src/Remote.Linq/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq/TestSupport/EnumerableExtensions.cs
  test/Remote.Linq.EntityFrameworkCore.Tests/Remote.Linq.EntityFrameworkCore.Tests.csproj
  test/Remote.Linq.EntityFrameworkCore.Tests/When_executing_async_stream.cs
  test/Remote.Linq.EntityFrameworkCore.Tests/When_querying.cs
  test/Remote.Linq.Tests/DynamicQuery/AsyncRemoteStream/When_executing_async_remote_stream.cs
  test/Remote.Linq.Tests/Expressions/ExpressionExtensions/When_executing_expresson_with_explicit_result_type.cs
  test/Remote.Linq.Tests/Remote.Linq.Tests.csproj
Due: production, test

aligned dependency version
  samples/RemoteQueryableToEntityFramework/DemoStartUp/DemoStartUp.csproj
  samples/RemoteQueryableToEntityFramework/Server/Server.csproj
Due: none

ConfigureAwait
  test/Remote.Linq.Tests/DynamicQuery/RemoteQueryable/When_executing_straight.cs
Due: test

aligned dependency versions
  samples/RemoteQueryableToEntityFrameworkCore/Server/Server.csproj
Due: none

ConfigureAwait
  samples/RemoteQueryable/01_Async/Client/Demo.cs
  samples/RemoteQueryable/01_Async/Client/RemoteRepository.cs
  samples/RemoteQueryable/11_UsingBinarySerializationOverTcpAsync/Client/Demo.cs
  samples/RemoteQueryable/11_UsingBinarySerializationOverTcpAsync/Server/TcpServer.cs
  samples/RemoteQueryable/13_UsingJsonSerializationOverTcpAsync/Client/Demo.cs
  samples/RemoteQueryable/13_UsingJsonSerializationOverTcpAsync/Server/TcpServer.cs
  samples/RemoteQueryable/14_UsingJsonSerializationOverWebApi/Client/RemoteRepository.cs
  samples/RemoteQueryable/15_UsingXmlSerializationOverHttp/Client/Demo.cs
  samples/RemoteQueryable/15_UsingXmlSerializationOverHttp/Client/RemoteRepository.cs
  samples/RemoteQueryable/15_UsingXmlSerializationOverHttp/Common/XmlFormatter.cs
  samples/RemoteQueryable/15_UsingXmlSerializationOverHttp/Server/HttpServer.cs
  samples/RemoteQueryable/17_UsingXmlSerializationOverWebApi/Client/RemoteRepository.cs
  samples/RemoteQueryableToEntityFrameworkCore/Server/QueryService.cs
Due: none

sealing disposable types
  samples/RemoteQueryable/00_Basic/Client/RemoteRepository.cs
  samples/RemoteQueryable/01_Async/Client/RemoteRepository.cs
  samples/RemoteQueryable/02_DynamicObjectWithKnownTypes/Client/RemoteRepository.cs
  samples/RemoteQueryable/03_CustomResultHandler/Client/RemoteRepository.cs
  samples/RemoteQueryable/04_CustomTypeResolver/Client/RemoteRepository.cs
  samples/RemoteQueryable/06_Compression/Client/RemoteRepository.cs
  samples/RemoteQueryable/07_Inheritance/Client/RemoteRepository.cs
  samples/RemoteQueryable/10_UsingBinarySerializationOverTcp/Server/TcpServer.cs
  samples/RemoteQueryable/11_UsingBinarySerializationOverTcpAsync/Server/TcpServer.cs
  samples/RemoteQueryable/12_UsingJsonSerializationOverTcp/Server/TcpServer.cs
  samples/RemoteQueryable/13_UsingJsonSerializationOverTcpAsync/Server/TcpServer.cs
  samples/RemoteQueryable/14_UsingJsonSerializationOverWebApi/Server/WebApiServer.cs
  samples/RemoteQueryable/15_UsingXmlSerializationOverHttp/Server/HttpServer.cs
  samples/RemoteQueryable/16_UsingXmlSerializationOverTcp/Server/TcpServer.cs
  samples/RemoteQueryable/17_UsingXmlSerializationOverWebApi/Server/WebApiServer.cs
  samples/RemoteQueryable/18_UsingBsonSerializationOverTcp/Client/RemoteRepository.cs
  samples/RemoteQueryable/18_UsingBsonSerializationOverTcp/Server/TcpServer.cs
  samples/RemoteQueryableToEntityFramework/Client/RemoteRepository.cs
  samples/RemoteQueryableToEntityFrameworkCore/Client/RemoteRepository.cs
  samples/RemoteQueryableToNHibernate/Client/RemoteRepository.cs
  samples/RemoteQueryableToNHibernate/Server/NHContext.cs
Due: none

resolved compile issue
  src/Remote.Linq.EntityFramework/ExpressionExecution/DefaultEntityFrameworkExpressionExecutor.cs
Due: production

fixed formatting/style issues
  README.md
Due: none

fixed various issues with EF query execution
  src/Remote.Linq.EntityFramework/ExpressionExecution/EntityFrameworkExpressionExecutor`1.cs
  src/Remote.Linq.EntityFramework/ExpressionExecution/Helper.cs
  src/Remote.Linq.EntityFramework/ExpressionVisitors/AsyncScalarQueryExpressionReWriter.cs
  src/Remote.Linq.EntityFramework/ExpressionVisitors/RemoteExpressionReWriter.cs
  src/Remote.Linq.EntityFramework/ExpressionVisitors/SystemExpressionReWriter.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/EntityFrameworkCoreExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/Helper.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionVisitors/RemoteExpressionReWriter.cs
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
  src/Remote.Linq/ExpressionExecution/ExpressionExecutionHelper.cs
  src/Remote.Linq/ExpressionVisitors/ExpressionEvaluator.cs
  src/Remote.Linq/ExpressionVisitors/QueryableResourceVisitor.cs
  src/Remote.Linq/QueryableExtensions.cs
Due: production

removed samples from travis ci
  .travis.yml
Due: none

added badges for `Remote.Linq.protobuf-net`
  README.md
Due: none

added configuration api for protobuf-net type model
  Directory.Build.props
  src/Remote.Linq.protobuf-net/DynamicQuery/ConstantQueryArgumentSurrogate.cs
  src/Remote.Linq.protobuf-net/DynamicQuery/DynamicQueryTypeModel.cs
  src/Remote.Linq.protobuf-net/Expressions/ExpressionsTypeModel.cs
  src/Remote.Linq.protobuf-net/ProtoBufTypeModel.cs
  src/Remote.Linq/DynamicQuery/ConstantQueryArgument.cs
  test/Remote.Linq.Tests/Helper.cs
  test/Remote.Linq.Tests/ProtoBuf/Issues_arise.cs
  test/Remote.Linq.Tests/ProtoBuf/When_serializing_remote_linq_types_with_protobuf_net.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_subquery_expression_use_same_parameter_name.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_BlockExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_GotoAndLabelExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_GotoAndLabelExpressions_with_names.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_GotoAndLabelExpressions_with_nested_BlockExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_IfElseExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_InvokeExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_LambdaExpression_returnung_a_type.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_LoopExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_SwitchExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_TryCatchExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_TryFinallyExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_complex_expression_with_local_lambda.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_const_bool_expression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_simple_bool_expression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_simple_projection_to_single_member.cs
  test/Remote.Linq.Tests/Serialization/ProtobufNetSerializationHelper.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_instance_variable_query_argument.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_argument.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_argument_list.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_string_argument.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_string_argument_list.cs
Due: production, test

set local `_nuget` folder as dev nuget source
  .gitignore
  NuGet.config
  _nuget/.keep
Due: none

integrate latest aqua.core
  Directory.Build.props
  src/Remote.Linq.protobuf-net/DynamicQuery/VariableQueryArgumentListSurrogate.cs
Due: production

cherry picked fix for https://github.com/6bee/aqua-core/issues/30 as 6.2.x patch
  Directory.Build.props
  src/Remote.Linq.Newtonsoft.Json/Remote.Linq.Newtonsoft.Json.csproj
  src/Remote.Linq/Remote.Linq.csproj
  test/Remote.Linq.EntityFrameworkCore.Tests/Remote.Linq.EntityFrameworkCore.Tests.csproj
Due: production, test

providing method return type to changed api in support of https://github.com/6bee/aqua-core/issues/30 as 6.2.x patch
  src/Remote.Linq/Expressions/ElementInit.cs
  src/Remote.Linq/Expressions/Expression.NET.cs
  src/Remote.Linq/Expressions/Expression.cs
  src/Remote.Linq/Expressions/MethodCallExpression.cs
Due: production

added sample application for async streams initial version for #69 complete
  Remote.Linq.Samples.sln
  samples/03_RemoteQueryable_AsyncStream/Client/AsyncStreamDemo.cs
  samples/03_RemoteQueryable_AsyncStream/Client/Client.csproj
  samples/03_RemoteQueryable_AsyncStream/Client/Program.cs
  samples/03_RemoteQueryable_AsyncStream/Client/RemoteAsyncStreamRepository.cs
  samples/03_RemoteQueryable_AsyncStream/Common/Common.csproj
  samples/03_RemoteQueryable_AsyncStream/Common/SimpleAsyncStreamProtocol/InitializeStream`1.cs
  samples/03_RemoteQueryable_AsyncStream/Common/SimpleAsyncStreamProtocol/NextRequest.cs
  samples/03_RemoteQueryable_AsyncStream/Common/SimpleAsyncStreamProtocol/NextResponse`1.cs
  samples/03_RemoteQueryable_AsyncStream/DemoStartUp/DemoStartUp.csproj
  samples/03_RemoteQueryable_AsyncStream/DemoStartUp/Program.cs
  samples/03_RemoteQueryable_AsyncStream/RemoteQueryable_AsyncStream.sln
  samples/03_RemoteQueryable_AsyncStream/Server/Program.cs
  samples/03_RemoteQueryable_AsyncStream/Server/QueryService.cs
  samples/03_RemoteQueryable_AsyncStream/Server/Server.csproj
  samples/03_RemoteQueryable_AsyncStream/Server/TcpServer.cs
Due: none

fixed client cancellation support
  samples/03_RemoteQueryable_AsyncStream/Client/RemoteAsyncStreamRepository.cs
Due: none

6.2.2
  Directory.Build.props
  pack.bat
Due: none

fixed capitalization
  Style.Tests.ruleset
  Style.ruleset
Due: none

removed trailing spaces
  appveyor.yml
Due: none

updated to aqua-core 4.6.4
  Directory.Build.props
  Directory.Build.targets
  src/Remote.Linq.Newtonsoft.Json/Remote.Linq.Newtonsoft.Json.csproj
  src/Remote.Linq/Remote.Linq.csproj
Due: production

add condition on targetframework for `netstandard2.0` for `Microsoft.Bcl.AsyncInterfaces` resolves issue #72
  src/Remote.Linq/Remote.Linq.csproj
Due: production
