Repository 6bee/Remote.Linq: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

add warning for obsolete feature
  samples/50_SandboxedServer/DemoStartUp/Program.cs
Due: none

update note
  samples/50_SandboxedServer/DemoStartUp/Program.cs
Due: none

move framework projects to top
  Remote.Linq.Samples.sln
Due: none

print project path
  run_all_samples.bat
Due: none

remove individual sample solution file
  samples/00_SimpleRemoteQuery/SimpleRemoteQuery.sln
  samples/01_RemoteQueryable_Basic/RemoteQueryable_Basic.sln
  samples/02_RemoteQueryable_Async/RemoteQueryable_Async.sln
  samples/03_RemoteQueryable_AsyncStream/RemoteQueryable_AsyncStream.sln
  samples/04_RemoteQueryable_AsyncQueryable/RemoteQueryable_AsyncQueryable.sln
  samples/10_RemoteQueryable_DynamicObjectWithKnownTypes/RemoteQueryable_DynamicObjectWithKnownTypes.sln
  samples/11_RemoteQueryable_CustomResultHandler/RemoteQueryable_CustomResultHandler.sln
  samples/12_RemoteQueryable_CustomTypeResolver/RemoteQueryable_CustomTypeResolver.sln
  samples/13_RemoteQueryable_ServerDefinedProjection/RemoteQueryable_ServerDefinedProjection.sln
  samples/14_RemoteQueryable_Compression/RemoteQueryable_Compression.sln
  samples/15_RemoteQueryable_ModelAbstraction/RemoteQueryable_ModelAbstraction.sln
  samples/20_RemoteQueryable_UsingBinarySerializationOverTcp/RemoteQueryable_UsingBinarySerializationOverTcp.sln
  samples/21_RemoteQueryable_UsingBinarySerializationOverTcpAsync/RemoteQueryable_UsingBinarySerializationOverTcpAsync.sln
  samples/22_RemoteQueryable_UsingJsonSerializationOverTcp/RemoteQueryable_UsingJsonSerializationOverTcp.sln
  samples/23_RemoteQueryable_UsingJsonSerializationOverTcpAsync/RemoteQueryable_UsingJsonSerializationOverTcpAsync.sln
  samples/24_RemoteQueryable_UsingJsonSerializationOverWebApi/RemoteQueryable_UsingJsonSerializationOverWebApi.sln
  samples/25_RemoteQueryable_UsingXmlSerializationOverHttp/RemoteQueryable_UsingXmlSerializationOverHttp.sln
  samples/26_RemoteQueryable_UsingXmlSerializationOverTcp/RemoteQueryable_UsingXmlSerializationOverTcp.sln
  samples/27_RemoteQueryable_UsingXmlSerializationOverWebApi/RemoteQueryable_UsingXmlSerializationOverWebApi.sln
  samples/28_RemoteQueryable_UsingBsonSerializationOverTcp/RemoteQueryable_UsingBsonSerializationOverTcp.sln
  samples/29_RemoteQueryable_UsingProtobufNetSerializationOverTcp/RemoteQueryable_UsingProtobufNetSerializationOverTcp.sln
  samples/30_RemoteQueryable_UsingServiceModelGrpc/RemoteQueryable_UsingServiceModelGrpc.sln
  samples/31_RemoteQueryable_UsingMessagePackSerializationOverTcp/RemoteQueryable_UsingMessagePackSerializationOverTcp.sln
  samples/40_RemoteQueryable_ToEntityFramework/RemoteQueryable_ToEntityFramework.sln
  samples/41_RemoteQueryable_ToEntityFrameworkCore/RemoteQueryable_ToEntityFrameworkCore.sln
  samples/42_RemoteQueryable_ToNHibernate/RemoteQueryable_ToNHibernate.sln
  samples/50_SandboxedServer/SandboxedServer.sln
Due: none

fix texts
  samples/03_RemoteQueryable_AsyncStream/Client/AsyncStreamDemo.cs
  samples/04_RemoteQueryable_AsyncQueryable/Client/AsyncDemo.cs
  samples/SharedCode/Client.AsyncDemo.cs
  samples/SharedCode/Server.TcpServer.cs
Due: none

update aqua-core to 5.4.0-alpha-005
  Directory.Build.props
  src/Remote.Linq.Text.Json/Remote.Linq.Text.Json.csproj
Due: production

update dependencies
  CHANGELOG.md
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
  test/Directory.Build.props
  test/Remote.Linq.EntityFrameworkCore.Tests/Remote.Linq.EntityFrameworkCore.Tests.csproj
Due: production, test

Remove package reference for System.Linq.Expressions
  CHANGELOG.md
  src/Remote.Linq/Remote.Linq.csproj
Due: production

update xunit
  test/Directory.Build.props
Due: test

update aqua-core
  Directory.Build.props
Due: none

prefer `.GetAwaiter().GetResult()` over `.Result`
  src/Remote.Linq/DynamicQuery/AsyncRemoteQueryProvider`1.cs
Due: production

make intention more explicit
  src/Remote.Linq.EntityFramework/ExpressionExecution/EntityFrameworkExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/EntityFrameworkCoreExpressionExecutor`1.cs
Due: production

update ef core
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Client/Client.csproj
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Client/Demo.cs
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Server/Server.csproj
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
Due: production

improve documentation on EF specific packages
  README.md
  src/Remote.Linq.EntityFramework/Remote.Linq.EntityFramework.csproj
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
Due: production

reorder properties
  src/Remote.Linq.Async.Queryable/Remote.Linq.Async.Queryable.csproj
  src/Remote.Linq.Newtonsoft.Json/Remote.Linq.Newtonsoft.Json.csproj
  src/Remote.Linq.Text.Json/Remote.Linq.Text.Json.csproj
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net.csproj
  src/Remote.Linq/Remote.Linq.csproj
Due: production

fix travis-ci badge url
  README.md
Due: none

add webassembly sample
  Remote.Linq.Samples.sln
  samples/24_RemoteQueryable_UsingJsonSerializationOverWebApi/Server/Properties/launchSettings.json
  samples/24_RemoteQueryable_UsingJsonSerializationOverWebApi/Server/WebApiServer.cs
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp.Client/BlazorApp.Client.csproj
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp.Client/Helper/Pagination.cs
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp.Client/Helper/QueryableExtensions.cs
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp.Client/Helper/SortingCollection`1.cs
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp.Client/Model/Person.cs
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp.Client/Model/Query.cs
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp.Client/Pages/Query.razor
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp.Client/Program.cs
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp.Client/Services/ClientRepository.cs
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp.Client/Services/IClientRepository.cs
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp.Client/_Imports.razor
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp.Client/wwwroot/appsettings.Development.json
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp.Client/wwwroot/appsettings.json
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/BlazorApp.csproj
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/Components/App.razor
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/Components/Layout/MainLayout.razor
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/Components/Layout/MainLayout.razor.css
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/Components/Layout/NavMenu.razor
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/Components/Layout/NavMenu.razor.css
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/Components/Pages/About.razor
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/Components/Pages/Demo.razor
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/Components/Pages/Error.razor
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/Components/Routes.razor
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/Components/_Imports.razor
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/Controllers/DataController.cs
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/Program.cs
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/Properties/launchSettings.json
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/Services/DataProvider.cs
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/Services/IDataProvider.cs
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/appsettings.Development.json
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/appsettings.json
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/wwwroot/app.css
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/wwwroot/bootstrap/bootstrap.min.css
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/wwwroot/bootstrap/bootstrap.min.css.map
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/wwwroot/favicon.png
Due: none

add SystemExpression.Factory
  CHANGELOG.md
  src/Remote.Linq/RemoteQueryable.cs
  src/Remote.Linq/System.Linq.Expressions/SystemExpressionFactoryExtensions.cs
  src/Remote.Linq/SystemExpression.cs
  src/Remote.Linq/SystemExpressionFactory.cs
Due: production

update test sdk, xunit and sonar analyzer
  Directory.Build.props
  test/Directory.Build.props
Due: test

update ef code packages
  CHANGELOG.md
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Client/Client.csproj
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Server/Server.csproj
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
  test/Remote.Linq.EntityFrameworkCore.Tests/Remote.Linq.EntityFrameworkCore.Tests.csproj
Due: production, test

update aqua-core v5.4.0
  Directory.Build.props
Due: none

update nuget package version
  samples/00_SimpleRemoteQuery/Common/Common.csproj
  samples/01_RemoteQueryable_Basic/Common/Common.csproj
  samples/02_RemoteQueryable_Async/Common/Common.csproj
  samples/10_RemoteQueryable_DynamicObjectWithKnownTypes/Common/Common.csproj
  samples/11_RemoteQueryable_CustomResultHandler/Common/Common.csproj
  samples/12_RemoteQueryable_CustomTypeResolver/Common/Common.csproj
  samples/13_RemoteQueryable_ServerDefinedProjection/Common/Common.csproj
  samples/14_RemoteQueryable_Compression/Common/Common.csproj
  samples/15_RemoteQueryable_ModelAbstraction/Common/Common.csproj
  samples/24_RemoteQueryable_UsingJsonSerializationOverWebApi/Client/Client.csproj
  samples/27_RemoteQueryable_UsingXmlSerializationOverWebApi/Client/Client.csproj
  samples/30_RemoteQueryable_UsingServiceModelGrpc/Client/Client.csproj
  samples/30_RemoteQueryable_UsingServiceModelGrpc/Common/Common.csproj
  samples/30_RemoteQueryable_UsingServiceModelGrpc/Server/Server.csproj
  samples/31_RemoteQueryable_UsingMessagePackSerializationOverTcp/Common/Common.csproj
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp.Client/BlazorApp.Client.csproj
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/BlazorApp.csproj
  samples/42_RemoteQueryable_ToNHibernate/Server/Server.csproj
Due: none

v7.2.0
  CHANGELOG.md
Due: none

index on main: fa173dd v7.2.0
  src/Remote.Linq/ExpressionExecution/AsyncExpressionExecutionContextExtensions.cs
  src/Remote.Linq/ExpressionExecution/AsyncExpressionExecutionDecoratorExtensions.cs
Due: production

use collection expression
  src/Remote.Linq.Async.Queryable/DynamicQuery/RemoteLinqAsyncQueryProvider`1.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/AsyncQueryExpressionTranslatorContext.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/Helper.cs
  src/Remote.Linq.EntityFramework/EntityFrameworkMethodInfos.cs
  src/Remote.Linq.EntityFramework/ExpressionExecution/Helper.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/Helper.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionVisitors/SystemExpressionReWriter.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteQueryProvider`1.cs
  src/Remote.Linq/DynamicQuery/DynamicResultMapper.cs
  src/Remote.Linq/DynamicQuery/RemoteQueryProvider`1.cs
  src/Remote.Linq/ExpressionExecution/DefaultExpressionExecutor.cs
  src/Remote.Linq/ExpressionTranslatorContext.cs
  src/Remote.Linq/ExpressionVisitors/SystemExpressionEvaluator.cs
  src/Remote.Linq/ExpressionVisitors/VariableQueryArgumentVisitor.cs
  src/Remote.Linq/Include/IncludeQueryableExtensions.cs
  src/Remote.Linq/Include/RemoteIncludeExpressionReWriter.cs
  src/Remote.Linq/MethodInfos.Enumerable.cs
  src/Remote.Linq/MethodInfos.Expression.cs
  src/Remote.Linq/MethodInfos.Queryable.cs
  src/Remote.Linq/SimpleQuery/SimpleQueryQueryableExtensions.cs
  src/Remote.Linq/TestSupport/TaskAsyncQueryProvider.cs
  test/Remote.Linq.Tests/AsyncQueryableExtensions/When_using_async_numeric_linq_operations.cs
  test/Remote.Linq.Tests/Include/When_using_include.cs
  test/Remote.Linq.Tests/RemoteQueryable/When_running_query.cs
  test/Remote.Linq.Tests/RemoteQueryableFactory/When_using_remote_linq_as_linq_provider.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_BlockExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_ConstExpression_of_expression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_GotoAndLabelExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_GotoAndLabelExpressions_with_names.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_GotoAndLabelExpressions_with_nested_BlockExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_IfElseExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_LambdaExpression_returnung_a_type.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_TryFinallyExpressions.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_argument_list.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_string_argument_list.cs
  test/Remote.Linq.Tests/TestData.cs
  test/Remote.Linq.Tests/TestHelper.cs
Due: production, test

bump version to 7.3.0
  Directory.Build.props
Due: none

unify visibility and extensibility of expression executor types
  src/Remote.Linq.Async.Queryable/ExpressionExecution/CastingReactiveAsyncExpressionExecutor`1.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/CastingReactiveAsyncStreamExpressionExecutor`1.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/DefaultReactiveAsyncExpressionExecutor.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/DefaultReactiveAsyncStreamExpressionExecutor.cs
  src/Remote.Linq.EntityFramework/ExpressionExecution/CastingEntityFrameworkExpressionExecutor`1.cs
  src/Remote.Linq.EntityFramework/ExpressionExecution/DefaultEntityFrameworkExpressionExecutor.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/CastingEntityFrameworkCoreAsyncStreamExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/CastingEntityFrameworkCoreExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/DefaultEntityFrameworkCoreAsyncstreamExpressionExecutor.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/DefaultEntityFrameworkCoreExpressionExecutor.cs
Due: production

fix argument type for execution decorators
  src/Remote.Linq/ExpressionExecution/AsyncExpressionExecutionDecorator`1.cs
  src/Remote.Linq/ExpressionExecution/ExpressionExecutionDecorator`1.cs
Due: production

make GetQueryableSetProvider extension method public
  src/Remote.Linq.EntityFrameworkCore/DbContextExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/Helper.cs
Due: production

make GetQueryableSetProvider extension method public
  src/Remote.Linq.EntityFramework/DbContextExtensions.cs
  src/Remote.Linq.EntityFramework/ExpressionExecution/Helper.cs
Due: production

fix typo
  src/Remote.Linq/ExpressionVisitors/RemoteExpressionVisitorBase.cs
Due: production

use dot-file-style for AppVeyor config
  .appveyor.yml
Due: none

add markdownlint config
  .markdownlint.json
Due: none

fix codacy url
  README.md
Due: none

move license badge out of branches table
  README.md
Due: none

update github actions for using Node.js v20
  .github/workflows/publish.yml
Due: none

security patch for CVE-2024-30105
  CHANGELOG.md
  Directory.Build.props
Due: none

Path conditions:
  production: any of: src/
  test: any of: test/
