Repository 6bee/Remote.Linq: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

removed trailing spaces
  .travis.yml
  appveyor.yml
Due: none

added coverlet package
  test/Remote.Linq.EntityFrameworkCore.Tests/Remote.Linq.EntityFrameworkCore.Tests.csproj
  test/Remote.Linq.Tests/Remote.Linq.Tests.csproj
Due: test

fixed coding style issues
  src/Remote.Linq.EntityFramework/EntityFrameworkExpressionExecutor.cs
  src/Remote.Linq/AsyncEnumerableExtensions.cs
  src/Remote.Linq/ExpressionVisitors/ExpressionVisitorBase.cs
  src/Remote.Linq/Expressions/Expression.cs
  src/Remote.Linq/Query`1.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_argument_list.cs
Due: production, test

added coverlet.runsettings
  coverlet.runsettings
Due: none

fixed formatting
  README.md
Due: none

protected ctor in abstract class
  test/Remote.Linq.Tests/Serialization/Expressions/When_subquery_expression_use_same_parameter_name.cs
Due: test

`throw` instead of `throw ex`
  src/Remote.Linq.EntityFramework/EntityFrameworkExpressionExecutor.cs
  src/Remote.Linq/Expressions/ExpressionExecutor.cs
Due: production

removed trailing white space
  README.md
Due: none

updated to aqua-core 4.6.2
  Directory.Build.props
  src/Remote.Linq.Newtonsoft.Json/Remote.Linq.Newtonsoft.Json.csproj
  src/Remote.Linq/Remote.Linq.csproj
  test/Remote.Linq.EntityFrameworkCore.Tests/Remote.Linq.EntityFrameworkCore.Tests.csproj
Due: production, test

configured coverlet
  appveyor.yml
  coverlet.efcore.runsettings
Due: none

shortened code (improved readability) of construction of nullable arguments
  src/Remote.Linq/DynamicQuery/VariableQueryArgumentList.cs
  src/Remote.Linq/DynamicQuery/VariableQueryArgument`1.cs
  src/Remote.Linq/Expressions/BinaryExpression.cs
  src/Remote.Linq/Expressions/BlockExpression.cs
  src/Remote.Linq/Expressions/GotoExpression.cs
  src/Remote.Linq/Expressions/LabelTarget.cs
  src/Remote.Linq/Expressions/LambdaExpression.cs
  src/Remote.Linq/Expressions/SwitchExpression.cs
  src/Remote.Linq/Expressions/TryExpression.cs
  src/Remote.Linq/Expressions/UnaryExpression.cs
  src/Remote.Linq/Helper.cs
Due: production

merged repo `Remote.Linq-Samples` into `Remote.Linq`
  .travis.yml
  Directory.Build.props
  appveyor.yml
  samples/.gitignore
  samples/.travis.yml
  samples/NuGet.config
  samples/README.md
  samples/appveyor.yml
  samples/clean.bat
  samples/license.txt
  samples/remotelinq-small.png
  src/Directory.Build.props
Due: production

renamed `SandboxedServer` demo solution
  samples/SandboxedServer/Client/Client.cs
  samples/SandboxedServer/Client/Client.csproj
  samples/SandboxedServer/Client/RemoteRepository.cs
  samples/SandboxedServer/Common/AssemblySecurityInfo.cs
  samples/SandboxedServer/Common/BinaryDataFormatter.cs
  samples/SandboxedServer/Common/Common.csproj
  samples/SandboxedServer/Common/EnumerableExtensions.cs
  samples/SandboxedServer/DemoStartUp/DemoStartUp.csproj
  samples/SandboxedServer/DemoStartUp/Program.cs
  samples/SandboxedServer/SandboxedServer.sln
  samples/SandboxedServer/Server/AssemblySecurityInfo.cs
  samples/SandboxedServer/Server/QueryService.cs
  samples/SandboxedServer/Server/Server.cs
  samples/SandboxedServer/Server/Server.csproj
Due: none

fixed coding style issues
  samples/QueryDemo/Common/DataContract/Order.cs
  samples/QueryDemo/Common/DataContract/OrderItem.cs
  samples/QueryDemo/Common/DataContract/Product.cs
  samples/QueryDemo/Server/DataSource.cs
  samples/RemoteQueryable/0_Basic/Server/QueryService.cs
  samples/RemoteQueryable/10_UsingBinarySerializationOverTcp/Server/QueryService.cs
  samples/RemoteQueryable/11_UsingBinarySerializationOverTcpAsync/Server/QueryService.cs
  samples/RemoteQueryable/12_UsingJsonSerializationOverTcp/Server/QueryService.cs
  samples/RemoteQueryable/13_UsingJsonSerializationOverTcpAsync/Server/QueryService.cs
  samples/RemoteQueryable/14_UsingJsonSerializationOverWebApi/Server/QueryController.cs
  samples/RemoteQueryable/15_UsingXmlSerializationOverHttp/Common/XmlFormatter.cs
  samples/RemoteQueryable/16_UsingXmlSerializationOverTcp/Common/XmlFormatter.cs
  samples/RemoteQueryable/16_UsingXmlSerializationOverTcp/Server/QueryService.cs
  samples/RemoteQueryable/17_UsingXmlSerializationOverWebApi/Server/QueryController.cs
  samples/RemoteQueryable/1_Async/Server/QueryService.cs
  samples/RemoteQueryable/2_DynamicObjectWithKnownTypes/Server/QueryService.cs
  samples/RemoteQueryable/4_CustomTypeResolver/Server/InMemoryDataStore.cs
  samples/RemoteQueryable/5_ServerDefinedProjection/Server/QueryService.cs
  samples/RemoteQueryable/6_Compression/Server/QueryService.cs
  samples/RemoteQueryable/7_Inheritance/Server/QueryService.cs
Due: none

specified solution file for restore
  pack.bat
Due: none

specified solution file for restore
  appveyor.yml
Due: none

fixed sample project paths
  .travis.yml
  appveyor.yml
Due: none

build solutions instead of individual projects
  appveyor.yml
Due: none

fixed sample project paths
  .travis.yml
Due: none

skip build
  appveyor.yml
Due: none

try suppress default build
  appveyor.yml
Due: none

try skip default build
  appveyor.yml
Due: none

renamed sample application for custom `ExpressionExecutor`
  Remote.Linq.Samples.sln
  samples/RemoteQueryable/3_CustomExpressionExecutor/Client/Client.csproj
  samples/RemoteQueryable/3_CustomExpressionExecutor/Client/Demo.cs
  samples/RemoteQueryable/3_CustomExpressionExecutor/Client/Program.cs
  samples/RemoteQueryable/3_CustomExpressionExecutor/Client/RemoteRepository.cs
  samples/RemoteQueryable/3_CustomExpressionExecutor/Common/Common.csproj
  samples/RemoteQueryable/3_CustomExpressionExecutor/Common/Model/OrderItem.cs
  samples/RemoteQueryable/3_CustomExpressionExecutor/Common/Model/Product.cs
  samples/RemoteQueryable/3_CustomExpressionExecutor/Common/Model/ProductCategory.cs
  samples/RemoteQueryable/3_CustomExpressionExecutor/Common/ServiceContracts/IQueryService.cs
  samples/RemoteQueryable/3_CustomExpressionExecutor/DemoStartUp/DemoStartUp.csproj
  samples/RemoteQueryable/3_CustomExpressionExecutor/DemoStartUp/Program.cs
  samples/RemoteQueryable/3_CustomExpressionExecutor/README.md
  samples/RemoteQueryable/3_CustomExpressionExecutor/RemoteQueryable_CustomExpressionExecutor.sln
  samples/RemoteQueryable/3_CustomExpressionExecutor/Server/CustomExpressionExecutor.cs
  samples/RemoteQueryable/3_CustomExpressionExecutor/Server/InMemoryDataStore.cs
  samples/RemoteQueryable/3_CustomExpressionExecutor/Server/Program.cs
  samples/RemoteQueryable/3_CustomExpressionExecutor/Server/QueryService.cs
  samples/RemoteQueryable/3_CustomExpressionExecutor/Server/Server.csproj
  samples/RemoteQueryable/3_KnownTypesAsObjects/Server/QueryService.cs
Due: none

created demo app for Bson serialization
  Remote.Linq.Samples.sln
  samples/RemoteQueryable/18_UsingBsonSerializationOverTcp/Client/Client.csproj
  samples/RemoteQueryable/18_UsingBsonSerializationOverTcp/Client/Demo.cs
  samples/RemoteQueryable/18_UsingBsonSerializationOverTcp/Client/Program.cs
  samples/RemoteQueryable/18_UsingBsonSerializationOverTcp/Client/RemoteRepository.cs
  samples/RemoteQueryable/18_UsingBsonSerializationOverTcp/Common/BsonFormatter.cs
  samples/RemoteQueryable/18_UsingBsonSerializationOverTcp/Common/Common.csproj
  samples/RemoteQueryable/18_UsingBsonSerializationOverTcp/Common/Model/OrderItem.cs
  samples/RemoteQueryable/18_UsingBsonSerializationOverTcp/Common/Model/Product.cs
  samples/RemoteQueryable/18_UsingBsonSerializationOverTcp/Common/Model/ProductCategory.cs
  samples/RemoteQueryable/18_UsingBsonSerializationOverTcp/DemoStartUp/DemoStartUp.csproj
  samples/RemoteQueryable/18_UsingBsonSerializationOverTcp/DemoStartUp/Program.cs
  samples/RemoteQueryable/18_UsingBsonSerializationOverTcp/RemoteQueryable_UsingBsonSerializationOverTcp.sln
  samples/RemoteQueryable/18_UsingBsonSerializationOverTcp/Server/InMemoryDataStore.cs
  samples/RemoteQueryable/18_UsingBsonSerializationOverTcp/Server/Program.cs
  samples/RemoteQueryable/18_UsingBsonSerializationOverTcp/Server/QueryService.cs
  samples/RemoteQueryable/18_UsingBsonSerializationOverTcp/Server/Server.csproj
  samples/RemoteQueryable/18_UsingBsonSerializationOverTcp/Server/TcpServer.cs
Due: none

modified comment
  samples/SandboxedServer/DemoStartUp/Program.cs
Due: none

use string interpolation
  src/Remote.Linq/DynamicQuery/VariableQueryArgument.cs
  src/Remote.Linq/DynamicQuery/VariableQueryArgumentList.cs
  src/Remote.Linq/DynamicQuery/VariableQueryArgument`1.cs
Due: production

protobuf-net support: created type model configuration
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net.Tests/Properties/AssemblyInfo.cs
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net.Tests/Remote.Linq.protobuf-net.Tests.csproj
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net.Tests/Serialization/XmlProtoSerializer/SerializationHelper.cs
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net.Tests/Serialization/XmlProtoSerializer/protobuf_net_tests/When_using_danymic_object.cs
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net.Tests/Serialization/XmlProtoSerializer/protobuf_net_tests/When_using_danymic_property.cs
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net.Tests/Serialization/XmlProtoSerializer/protobuf_net_tests/When_using_danymic_property_list.cs
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net.Tests/Serialization/XmlProtoSerializer/protobuf_net_tests/When_using_danymic_property_list_with_separate_proto_config.cs
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net.Tests/Serialization/XmlProtoSerializer/protobuf_net_tests/When_using_nested_dynamic_types.cs
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net.Tests/app.config
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net.Tests/packages.config
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net.sln
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net/Dynamic/DynamicObjectTypeModel.cs
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net/Expressions/ConstantExpressionTypeModel.cs
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net/Expressions/ExpressionTypeModel.cs
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net/Expressions/MemberBindingTypeModel.cs
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net/Properties/AssemblyInfo.cs
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net/ProtoBufMetaExtensions.cs
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net/ProtoTypeModel.cs
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net.csproj
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net/TypeSystem/MemberInfoTypeModel.cs
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net/VariableQueryArgumentTypeModel.cs
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net/packages.config
  src/Remote.Linq.protobuf-net/SharedAssemblyInfo.cs
Due: production

moved to .net core sdk 3.1
  .travis.yml
  test/Remote.Linq.EntityFrameworkCore.Tests/Remote.Linq.EntityFrameworkCore.Tests.csproj
  test/Remote.Linq.Tests/Remote.Linq.Tests.csproj
Due: test

added .runsettings for parallel test execution
  .runsettings
  Remote.Linq.sln
Due: none

clean-up project files
  src/Remote.Linq.EntityFramework/Properties/AssemblyInfo.cs
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net.csproj
  src/Remote.Linq/Properties/AssemblyInfo.cs
  test/Remote.Linq.EntityFrameworkCore.Tests/Remote.Linq.EntityFrameworkCore.Tests.csproj
  test/Remote.Linq.Tests/Remote.Linq.Tests.csproj
Due: production, test

switch expressions
  src/Remote.Linq/ExpressionVisitors/ExpressionVisitorBase.cs
  src/Remote.Linq/ExpressionVisitors/RemoteExpressionVisitorBase.cs
Due: production

fixed style issue
  README.md
Due: none

added line break
  README.md
Due: none

provide for straight query execution i.e. without `ToArray()`, `ToList()` etc. issued by #70
  src/Remote.Linq/AsyncQueryableExtensions.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteQueryProvider`1.cs
  src/Remote.Linq/DynamicQuery/DynamicResultMapper.cs
  src/Remote.Linq/DynamicQuery/ObjectResultCaster.cs
  src/Remote.Linq/DynamicQuery/RemoteQueryProvider`1.cs
  src/Remote.Linq/Grouping`2.cs
  src/Remote.Linq/QueryableExtensions.cs
  test/Remote.Linq.Tests/AsyncQueryableExtensions/Ensure_async_method_provided_for_every_synchronous_query_operation.cs
  test/Remote.Linq.Tests/AsyncQueryableExtensions/When_using_async_remote_operations.cs
  test/Remote.Linq.Tests/DynamicQuery/RemoteQueryable/When_executing_straight.cs
Due: production, test

making for custom result handlers to be first-class citizens providing clean api for #70
  src/Remote.Linq.EntityFramework/AsyncScalarQueryExpressionReWriter.cs
  src/Remote.Linq.EntityFramework/DefaultEntityFrameworkExpressionExecutor.cs
  src/Remote.Linq.EntityFramework/EntityFrameworkExpressionExecutor`1.cs
  src/Remote.Linq.EntityFramework/ExpressionExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/DefaultEntityFrameworkCoreExpressionExecutor.cs
  src/Remote.Linq.EntityFrameworkCore/EntityFrameworkCoreExpressionExecutor.cs
  src/Remote.Linq.EntityFrameworkCore/EntityFrameworkCoreExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExtensions.cs
  src/Remote.Linq/Expressions/AsyncDefaultExpressionExecutionContext.cs
  src/Remote.Linq/Expressions/AsyncExpressionExecutionContext`1.cs
  src/Remote.Linq/Expressions/AsyncExpressionExecutionDecoratorBase`1.cs
  src/Remote.Linq/Expressions/AsyncExpressionExecutionDecorator`1.cs
  src/Remote.Linq/Expressions/AsyncExpressionExecutor`1.cs
  src/Remote.Linq/Expressions/DefaultExpressionExecutionContext.cs
  src/Remote.Linq/Expressions/DefaultExpressionExecutor.cs
  src/Remote.Linq/Expressions/ExpressionExecutionContext.cs
  src/Remote.Linq/Expressions/ExpressionExecutionContextExtensions.cs
  src/Remote.Linq/Expressions/ExpressionExecutionContext`1.cs
  src/Remote.Linq/Expressions/ExpressionExecutionDecorator.cs
  src/Remote.Linq/Expressions/ExpressionExecutionDecoratorBase.cs
  src/Remote.Linq/Expressions/ExpressionExecutionDecoratorBase`1.cs
  src/Remote.Linq/Expressions/ExpressionExecutionDecoratorExtensions.cs
  src/Remote.Linq/Expressions/ExpressionExecutionDecorator`1.cs
  src/Remote.Linq/Expressions/ExpressionExecutor`1.cs
  src/Remote.Linq/Expressions/ExpressionExtensions.cs
  src/Remote.Linq/Expressions/IAsyncExpressionExecutionDecorator`1.cs
  src/Remote.Linq/Expressions/IExpressionExecutionDecorator`1.cs
  test/Remote.Linq.Tests/Expressions/ExpressionExecutionContext/TestExpressionExecutionContext.cs
  test/Remote.Linq.Tests/Expressions/ExpressionExecutionContext/When_using_expression_execution_context.cs
  test/Remote.Linq.Tests/Expressions/ExpressionExecutionDecorator/TestExpressionExecutionDecorator.cs
  test/Remote.Linq.Tests/Expressions/ExpressionExecutionDecorator/When_decorating_expression_executor.cs
  test/Remote.Linq.Tests/Expressions/ExpressionExecutor/TestExpressionExecutor.cs
Due: production, test
