Repository 6bee/Remote.Linq: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

codecov:
  ci:
    - appveyor

re-declare Expression property to hide both IRemoteLinqQueryable.Expression and IQueryable.Expression, to prevent ambiguity
  src/Remote.Linq/IRemoteQueryable.cs
Due: production

add test coverage for include re-writers
  test/Remote.Linq.Tests/Include/When_rewriting_include_paths.cs
Due: test

use local namespace alias for System.Linq.Expressions
  test/Remote.Linq.Tests/ExpressionVisitors/ExpressionTranslator/When_translating_complex_constants.cs
Due: test

use unbound generic type for nameof()
  test/Remote.Linq.Tests/ExpressionVisitors/ExpressionTranslator/When_translating_complex_expression_nodes.cs
  test/Remote.Linq.Tests/ExpressionVisitors/VariableQueryArgumentVisitor/When_rewriting_variable_query_arguments.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_serializing_ListInitExpression.cs
Due: test

use primary ctors
  test/Remote.Linq.Tests/TestSupport/RecordingProviders.cs
Due: test

add test coverage for synchronous remote queryable factory overloads
  test/Remote.Linq.Tests/RemoteQueryableFactory/When_using_factory_overloads.cs
Due: test

fixed Should_roundtrip_try_catch_finally_and_fault_expressions in When_translating_complex_expression_nodes.cs, which was stack-overflowing on net48
  test/Remote.Linq.Tests/ExpressionVisitors/ExpressionTranslator/SideEffectRecorder.cs
  test/Remote.Linq.Tests/ExpressionVisitors/ExpressionTranslator/When_translating_complex_expression_nodes.cs
Due: test

clean code and relocate test helpers
  test/Remote.Linq.Tests/ExpressionVisitors/ExpressionTranslator/When_translating_complex_expression_nodes.cs
  test/Remote.Linq.Tests/Include/When_rewriting_include_paths.cs
  test/Remote.Linq.Tests/RecordingProviders.cs
  test/Remote.Linq.Tests/SideEffectRecorder.cs
Due: test

add test coverage for async and async-stream remote queryable factory overloads
  test/Remote.Linq.Tests/RemoteQueryableFactory/FactoryOverloadTestSupport.cs
  test/Remote.Linq.Tests/RemoteQueryableFactory/When_using_async_factory_overloads.cs
  test/Remote.Linq.Tests/RemoteQueryableFactory/When_using_async_stream_factory_overloads.cs
Due: test

add test coverage for remote async-queryable (Ix.NET - Interactive Extensions) factory overloads
  test/Remote.Linq.Async.Queryable.Tests/When_using_remote_queryable_factory_overloads.cs
Due: test

add test coverage for EF core translator context, evaluator, and helper forwarding
  test/Remote.Linq.EntityFrameworkCore.Tests/When_evaluating_entity_framework_core_expressions.cs
Due: test

add test coverage for EF core factory overloads
  test/Remote.Linq.EntityFrameworkCore.Tests/When_rewriting_ef_core_expressions.cs
  test/Remote.Linq.EntityFrameworkCore.Tests/When_using_entity_framework_core_factory_overloads.cs
Due: test

add test coverage for EF core executor and expression-extension paths
  test/Remote.Linq.EntityFrameworkCore.Tests/When_executing_expression_extension_overloads.cs
Due: test

add test coverage for EF core async scalar query rewriting
  test/Remote.Linq.EntityFrameworkCore.Tests/When_rewriting_scalar_queries_to_async.cs
Due: test

add polyfill for ValueTask factory method on netfx
  test/Remote.Linq.EntityFrameworkCore.Tests/Polyfill.cs
Due: test

add newline before EOF
  Directory.Packages.props
Due: none

add test coverage for JSON converter complex paths Cover supplied registry, already-registered converter, null/array list reader forms, invalid token paths, and constant value-type metadata.
  test/Remote.Linq.Tests/Serialization/When_reading_newtonsoft_variable_query_arguments.cs
  test/Remote.Linq.Tests/Serialization/When_reading_system_text_json_variable_query_arguments.cs
  test/Remote.Linq.Tests/Serialization/When_serializing_newtonsoft_expression_metadata.cs
  test/Remote.Linq.Tests/Serialization/When_serializing_system_text_json_expression_metadata.cs
Due: test

add additional test coverage for protobuf and messagepack serialization backends
  test/Remote.Linq.Tests/Serialization/UnionTagExpressionFactory.cs
  test/Remote.Linq.Tests/Serialization/When_mapping_protobuf_expression_kinds.cs
  test/Remote.Linq.Tests/Serialization/When_mapping_protobuf_operators.cs
  test/Remote.Linq.Tests/Serialization/When_serializing_messagepack_union_tags.cs
Due: test

clean-up namespace usings
  test/Remote.Linq.Async.Queryable.Tests/When_using_remote_queryable_factory_overloads.cs
  test/Remote.Linq.EntityFrameworkCore.Tests/When_rewriting_ef_core_expressions.cs
  test/Remote.Linq.Tests/RemoteQueryableFactory/When_using_async_factory_overloads.cs
  test/Remote.Linq.Tests/RemoteQueryableFactory/When_using_async_stream_factory_overloads.cs
  test/Remote.Linq.Tests/RemoteQueryableFactory/When_using_factory_overloads.cs
Due: test

update to aqua-core v6.0.0-alpha-003
  Directory.Packages.props
  src/Remote.Linq.Async.Queryable/packages.lock.json
  src/Remote.Linq.EntityFramework/packages.lock.json
  src/Remote.Linq.EntityFrameworkCore/packages.lock.json
  src/Remote.Linq.MessagePack/packages.lock.json
  src/Remote.Linq.Newtonsoft.Json/packages.lock.json
  src/Remote.Linq.Protobuf/packages.lock.json
  src/Remote.Linq/packages.lock.json
  test/Remote.Linq.Async.Queryable.Tests/packages.lock.json
  test/Remote.Linq.EntityFramework.Tests/packages.lock.json
  test/Remote.Linq.EntityFrameworkCore.Tests/packages.lock.json
  test/Remote.Linq.Tests/packages.lock.json
Due: production, test

upload log files also if previous step fails
  .gitea/workflows/ci-tests.yml
  .github/workflows/ci-tests.yml
  .github/workflows/publish.yml
Due: none

upload log files also if previous step fails
  .gitea/workflows/ci-tests.yml
  .github/workflows/ci-tests.yml
Due: none

simplify build step names
  .gitea/workflows/ci-tests.yml
  .github/workflows/ci-tests.yml
Due: none

update build actions
  .github/workflows/publish.yml
Due: none

generate TRX test results
  .gitea/workflows/ci-tests.yml
  .github/workflows/ci-tests.yml
  .github/workflows/publish.yml
  Directory.Packages.props
  test/Directory.Build.props
  test/Remote.Linq.Async.Queryable.Tests/packages.lock.json
  test/Remote.Linq.EntityFramework.Tests/packages.lock.json
  test/Remote.Linq.EntityFrameworkCore.Tests/packages.lock.json
  test/Remote.Linq.Tests/packages.lock.json
Due: test

clean code
  test/Remote.Linq.Tests/Serialization/When_serializing_messagepack_union_tags.cs
Due: test

update to aqua-core v6.0.0-alpha-004
  Directory.Packages.props
  src/Remote.Linq.Async.Queryable/packages.lock.json
  src/Remote.Linq.EntityFramework/packages.lock.json
  src/Remote.Linq.EntityFrameworkCore/packages.lock.json
  src/Remote.Linq.MessagePack/packages.lock.json
  src/Remote.Linq.Newtonsoft.Json/packages.lock.json
  src/Remote.Linq.Protobuf/RemoteLinqProtobufSerializer.cs
  src/Remote.Linq.Protobuf/packages.lock.json
  src/Remote.Linq/packages.lock.json
  test/Remote.Linq.Async.Queryable.Tests/packages.lock.json
  test/Remote.Linq.EntityFramework.Tests/packages.lock.json
  test/Remote.Linq.EntityFrameworkCore.Tests/packages.lock.json
  test/Remote.Linq.Tests/Serialization/When_mapping_protobuf_expression_kinds.cs
  test/Remote.Linq.Tests/Serialization/When_mapping_protobuf_operators.cs
  test/Remote.Linq.Tests/packages.lock.json
Due: production, test

add changelog entry for aqua-core update
  CHANGELOG.md
Due: none

update nowsprinting/check-version-format-action to latest version
  .github/workflows/publish.yml
Due: none

add argument not null validation
  src/Remote.Linq.Protobuf/RemoteLinqProtobufSerializer.cs
Due: production

add test coverage for all RemoteLinqProtobufSerializer extension methods
  test/Remote.Linq.Tests/ArrayBufferWriter`1.cs
  test/Remote.Linq.Tests/Serialization/When_serializing_remote_linq_graphs_with_protobuf.cs
Due: test

clean code
  src/Remote.Linq/DynamicQuery/AsyncRemoteQueryProvider`1.cs
Due: production

update aqua.tool.Validation to v4.0.0-alpha-001
  Directory.Packages.props
  src/Remote.Linq.Async.Queryable/packages.lock.json
  src/Remote.Linq.EntityFramework/packages.lock.json
  src/Remote.Linq.EntityFrameworkCore/packages.lock.json
  src/Remote.Linq.MessagePack/packages.lock.json
  src/Remote.Linq.Newtonsoft.Json/packages.lock.json
  src/Remote.Linq.Protobuf/packages.lock.json
  src/Remote.Linq/packages.lock.json
  test/Remote.Linq.Async.Queryable.Tests/packages.lock.json
  test/Remote.Linq.EntityFramework.Tests/packages.lock.json
  test/Remote.Linq.EntityFrameworkCore.Tests/packages.lock.json
  test/Remote.Linq.Tests/packages.lock.json
Due: production, test
