Repository 6bee/Remote.Linq: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

return more specific interface types
  src/Remote.Linq.EntityFramework/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq/RemoteQueryableFactoryExtensions.cs
Due: production

switch default to `main`
  README.md
Due: none

run CI tests on net5.0
  .travis.yml
  appveyor.yml
Due: none

include coverage results
  clean.bat
Due: none

include git commit hash in assembly and package info
  Directory.Build.props
  Directory.Build.targets
  pack.bat
Due: none

applying expression to test data query execution
  src/Remote.Linq.Async.Queryable/TestSupport/EnumerableExtensions.cs
Due: production

remove local _nuget source
  NuGet.config
  _nuget/.keep
Due: none

include `Remote.Linq.Async.Queryable` in CI test coverage
  .travis.yml
  appveyor.yml
Due: none

dropped dependency on `System.Runtime.Serialization.Formatters`
  src/Remote.Linq/Remote.Linq.csproj
Due: production

fixed coverlet settings
  appveyor.yml
Due: none

removed coverage results
  clean.bat
Due: none

perform coverage for main project only
  appveyor.yml
Due: none

code coverage for all CI tests
  appveyor.yml
  coverlet.efcore.runsettings
  coverlet.runsettings
  test/Directory.Build.props
Due: test

resolve test execution issue related to instrumented strong named assemblies
  coverlet.runsettings
Due: none

run test on entire solution
  appveyor.yml
Due: none

executing test projects individually as coverlet would not collect stats for all projects otherwise
  appveyor.yml
Due: none

adding target `netstandard2.0` for `protobuf-net` support resolves issue #82
  Directory.Build.props
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net.csproj
  test/Remote.Linq.Tests/ProtoBuf/Issues_arise.cs
  test/Remote.Linq.Tests/ProtoBuf/When_serializing_remote_linq_types_with_protobuf_net.cs
  test/Remote.Linq.Tests/Remote.Linq.Tests.csproj
  test/Remote.Linq.Tests/Serialization/Expressions/When_subquery_expression_use_same_parameter_name.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_BlockExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_GotoAndLabelExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_GotoAndLabelExpressions_with_names.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_GotoAndLabelExpressions_with_nested_BlockExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_IfElseExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_InvokeExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_LambdaExpression_returnung_a_type.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_LoopExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_SwitchExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_TryCatchExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_TryFinallyExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_complex_expression_with_local_lambda.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_const_bool_expression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_simple_bool_expression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_simple_projection_to_single_member.cs
  test/Remote.Linq.Tests/Serialization/ProtobufNetSerializationHelper.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_instance_variable_query_argument.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_argument.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_argument_list.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_string_argument.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_string_argument_list.cs
Due: production, test

renamed class
  test/Remote.Linq.Tests/ProtoBuf/Known_issues_arise.cs
Due: test

adding target `netstandard2.1` for `Remote.Linq.EntityFramework` resolve issue #79
  src/Remote.Linq.EntityFramework/Remote.Linq.EntityFramework.csproj
  test/Remote.Linq.EntityFramework.Tests/Remote.Linq.EntityFramework.Tests.csproj
  test/Remote.Linq.EntityFrameworkCore.Tests/Remote.Linq.EntityFrameworkCore.Tests.csproj
  test/Remote.Linq.Tests/Remote.Linq.Tests.csproj
Due: production, test

dropped unused dependency
  src/Remote.Linq/Remote.Linq.csproj
Due: production

implemented `ThenInclude` query extensions resolve issue #76
  src/Remote.Linq.EntityFramework/RemoteExpressionReWriter.cs
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
  src/Remote.Linq.EntityFrameworkCore/RemoteExpressionReWriter.cs
  src/Remote.Linq/DynamicQuery/IncludableRemoteQueryable`2.cs
  src/Remote.Linq/DynamicQuery/QueryFunctions.cs
  src/Remote.Linq/IIncludableRemoteQueryable`2.cs
  src/Remote.Linq/IOrderedQuery`1.cs
  src/Remote.Linq/IQueryResultMapper`1.cs
  src/Remote.Linq/IRemoteQueryable`1.cs
  src/Remote.Linq/IStackedIncludableQueryable`1.cs
  src/Remote.Linq/QueryableExtensions.cs
  test/Remote.Linq.EntityFrameworkCore.Tests/Remote.Linq.EntityFrameworkCore.Tests.csproj
  test/Remote.Linq.EntityFrameworkCore.Tests/When_querying.cs
  test/Remote.Linq.Tests/DynamicQuery/RemoteQueryable/When_using_include.cs
  test/Remote.Linq.Tests/DynamicQuery/RemoteQueryable/When_using_include_collection.cs
  test/Remote.Linq.Tests/DynamicQuery/RemoteQueryable/When_using_include_on_subtype.cs
  test/Remote.Linq.Tests/DynamicQuery/RemoteQueryable/When_using_include_path.cs
  test/Remote.Linq.Tests/DynamicQuery/RemoteQueryable/When_using_include_reference.cs
Due: production, test

6.3.0-alpha-100
  Directory.Build.props
Due: none

resolved merge issues
  src/Remote.Linq/DynamicQuery/QueryFunctions.cs
  src/Remote.Linq/QueryableExtensions.cs
  test/Remote.Linq.Tests/DynamicQuery/RemoteQueryable/When_using_include.cs
Due: production, test

advanced minor version to 6.4.x
  Directory.Build.props
Due: none

fixed samples for EF and EF Core
  samples/40_RemoteQueryable_ToEntityFramework/Client/Demo.cs
  samples/40_RemoteQueryable_ToEntityFramework/Server/Server.csproj
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Client/Demo.cs
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Database/RemoteQueryableDemoDB.sql
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Database/RemoteQueryableDemoDBSetup.cmd
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Server/QueryService.cs
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Server/Server.csproj
  samples/42_RemoteQueryable_ToNHibernate/Database/RemoteQueryableDemoDB.sql
  samples/42_RemoteQueryable_ToNHibernate/Database/RemoteQueryableDemoDBSetup.cmd
  samples/Directory.Build.props
  samples/SharedCode/Common.BsonFormatter.cs
  samples/SharedCode/Common.JsonFormatter.cs
  samples/SharedCode/Common.ProtobufNetFormatter.cs
  samples/SharedCode/Common.XmlFormatter.cs
  src/Remote.Linq.EntityFramework/ExpressionVisitors/RemoteExpressionReWriter.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionVisitors/RemoteExpressionReWriter.cs
Due: production

clean code
  src/Remote.Linq/QueryableExtensions.cs
Due: production

6.3.0-beta-001
  Directory.Build.props
Due: none

support multiple `Include` resolves issue #76
  src/Remote.Linq/QueryableExtensions.cs
  test/Remote.Linq.Tests/DynamicQuery/RemoteQueryable/When_using_include.cs
Due: production, test

6.3.0-beta-002
  Directory.Build.props
Due: none

dropped unmaintained project `QueryFunctions`
  src/Remote.Linq.QueryFunctions/Properties/AssemblyInfo.cs
  src/Remote.Linq.QueryFunctions/Remote.Linq.QueryFunctions.csproj
  src/Remote.Linq.QueryFunctions/SqlFunctions.cs
  src/Remote.Linq.QueryFunctions/packages.config
Due: production

migrated to `ValueTask<>` based data providers
  samples/24_RemoteQueryable_UsingJsonSerializationOverWebApi/Client/RemoteRepository.cs
  samples/25_RemoteQueryable_UsingXmlSerializationOverHttp/Client/RemoteRepository.cs
  samples/27_RemoteQueryable_UsingXmlSerializationOverWebApi/Client/RemoteRepository.cs
  samples/SharedCode/Client.AsyncTcp.RemoteRepository.cs
  samples/SharedCode/Client.AsyncWcf.RemoteRepository.cs
  src/Remote.Linq.EntityFramework/ExpressionExecution/EntityFrameworkExpressionExecutor`1.cs
  src/Remote.Linq.EntityFramework/ExpressionExtensions.cs
  src/Remote.Linq.EntityFramework/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/EntityFrameworkCoreExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq/AsyncQueryableExtensions.cs
  src/Remote.Linq/DynamicQuery/AsyncDynamicResultMapper.cs
  src/Remote.Linq/DynamicQuery/AsyncObjectResultCaster.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteQueryProvider`1.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteQueryable`1.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteStreamProvider`1.cs
  src/Remote.Linq/DynamicQuery/DynamicItemMapper.cs
  src/Remote.Linq/ExpressionExecution/AsyncExpressionExecutionContext`1.cs
  src/Remote.Linq/ExpressionExecution/AsyncExpressionExecutionDecoratorBase`1.cs
  src/Remote.Linq/ExpressionExecution/AsyncExpressionExecutionDecorator`1.cs
  src/Remote.Linq/ExpressionExecution/AsyncExpressionExecutor`2.cs
  src/Remote.Linq/ExpressionExecution/IAsyncExpressionExecutionDecorator`1.cs
  src/Remote.Linq/IAsyncQueryResultMapper`1.cs
  src/Remote.Linq/IAsyncRemoteQueryProvider.cs
  src/Remote.Linq/IAsyncRemoteQueryable`1.cs
  src/Remote.Linq/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq/TestSupport/TaskAsyncQueryProvider.cs
  test/Remote.Linq.EntityFramework.Tests/When_querying.cs
  test/Remote.Linq.EntityFrameworkCore.Tests/When_querying.cs
  test/Remote.Linq.Tests/AsyncQueryableExtensions/Ensure_async_method_provided_for_every_synchronous_query_operation.cs
  test/Remote.Linq.Tests/AsyncQueryableExtensions/When_using_async_remote_operations.cs
  test/Remote.Linq.Tests/DynamicQuery/AsyncRemoteQueryable/When_executing_async_remote_queryable.cs
  test/Remote.Linq.Tests/DynamicQuery/RemoteQueryable/When_executing_straight.cs
Due: production, test

cleaned code and updated dependencies
  src/Remote.Linq.EntityFramework/ExpressionExecution/Helper.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/Helper.cs
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
  src/Remote.Linq/DynamicQuery/AsyncRemoteStreamQueryable.cs
  src/Remote.Linq/ExpressionVisitors/SystemExpressionReWriter.cs
  src/Remote.Linq/Grouping`2.cs
  src/Remote.Linq/MethodInfos.cs
  src/Remote.Linq/Query`1.cs
  src/Remote.Linq/TestSupport/EnumerableExtensions.cs
  test/Directory.Build.props
  test/Remote.Linq.Async.Queryable.Tests/Entity.cs
  test/Remote.Linq.Tests/DynamicQuery/AsyncRemoteStream/When_executing_async_remote_stream.cs
  test/Remote.Linq.Tests/Helper.cs
  test/Remote.Linq.Tests/TestData.cs
Due: production, test

added support for stream and query provider
  src/Remote.Linq.Async.Queryable/DynamicQuery/RemoteLinqAsyncQueryProvider`1.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/CastingReactiveAsyncExpressionExecutor`1.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/CastingReactiveAsyncStreamExpressionExecutor`1.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/DefaultReactiveAsyncExpressionExecutor.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/DefaultReactiveAsyncStreamExpressionExecutor.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/Helper.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/InteractiveAsyncExpressionExecutor`1.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/InteractiveAsyncStreamExpressionExecutor`1.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/ReactiveAsyncExpressionExecutor`1.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/ReactiveAsyncStreamExpressionExecutor`1.cs
  src/Remote.Linq.Async.Queryable/Expressions/ExpressionExtensions.cs
  src/Remote.Linq.Async.Queryable/Remote.Linq.Async.Queryable.csproj
  src/Remote.Linq.Async.Queryable/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq.Async.Queryable/TestSupport/EnumerableExtensions.cs
  src/Remote.Linq/Properties/AssemblyInfo.cs
  test/Remote.Linq.Async.Queryable.Tests/When_querying_async.cs
Due: production, test

updated samples
  Remote.Linq.Samples.sln
  samples/04_RemoteQueryable_AsyncQueryable/Client/AsyncDemo.cs
  samples/04_RemoteQueryable_AsyncQueryable/Client/AsyncRemoteRepository.cs
  samples/04_RemoteQueryable_AsyncQueryable/Client/Client.csproj
  samples/04_RemoteQueryable_AsyncQueryable/Client/Program.cs
  samples/04_RemoteQueryable_AsyncQueryable/Common/Common.csproj
  samples/04_RemoteQueryable_AsyncQueryable/Common/SimpleAsyncStreamProtocol/InitializeStream`1.cs
  samples/04_RemoteQueryable_AsyncQueryable/Common/SimpleAsyncStreamProtocol/NextRequest.cs
  samples/04_RemoteQueryable_AsyncQueryable/Common/SimpleAsyncStreamProtocol/NextResponse`1.cs
  samples/04_RemoteQueryable_AsyncQueryable/DemoStartUp/DemoStartUp.csproj
  samples/04_RemoteQueryable_AsyncQueryable/DemoStartUp/Program.cs
  samples/04_RemoteQueryable_AsyncQueryable/RemoteQueryable_AsyncQueryable.sln
  samples/04_RemoteQueryable_AsyncQueryable/Server/AsyncQueryService.cs
  samples/04_RemoteQueryable_AsyncQueryable/Server/Program.cs
  samples/04_RemoteQueryable_AsyncQueryable/Server/Server.csproj
  samples/04_RemoteQueryable_AsyncQueryable/Server/TcpServer.cs
  samples/50_SandboxedServer/DemoStartUp/Program.cs
  samples/60_IntegrationWithInteractiveExtensions/Client/AsyncStreamDemo.cs
  samples/60_IntegrationWithInteractiveExtensions/Client/Program.cs
  samples/60_IntegrationWithInteractiveExtensions/Server/Program.cs
  samples/60_IntegrationWithInteractiveExtensions/Server/QueryService.cs
  samples/60x_IntegrationWithReactiveExtensions/Client/Client.csproj
  samples/60x_IntegrationWithReactiveExtensions/Common/Common.csproj
  samples/60x_IntegrationWithReactiveExtensions/DemoStartUp/DemoStartUp.csproj
  samples/60x_IntegrationWithReactiveExtensions/DemoStartUp/Program.cs
  samples/60x_IntegrationWithReactiveExtensions/IntegrationWithReactiveExtensions.sln
  samples/60x_IntegrationWithReactiveExtensions/Server/Server.csproj
  samples/Directory.Build.targets
  samples/SharedCode/Client.IAsyncRemoteRepository.cs
Due: none

6.4.0-alpha-004
  Directory.Build.props
Due: none

fix dynamic object data provider for Ix.NET extensions
  src/Remote.Linq.Async.Queryable/AsyncEnumerable`1.cs
  src/Remote.Linq.Async.Queryable/AsyncGrouping`2.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/CastingReactiveAsyncExpressionExecutor`1.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/DefaultReactiveAsyncExpressionExecutor.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/DefaultReactiveAsyncStreamExpressionExecutor.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/DynamicAsyncQueryResultMapper.cs
  src/Remote.Linq.Async.Queryable/Expressions/ExpressionExtensions.cs
  src/Remote.Linq.Async.Queryable/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq.Async.Queryable/TestSupport/EnumerableExtensions.cs
  test/Remote.Linq.Async.Queryable.Tests/When_querying_async.cs
Due: production, test

clean code
  src/Remote.Linq.EntityFramework/ExpressionVisitors/SystemExpressionReWriter.cs
  src/Remote.Linq/DynamicQuery/DynamicQueryResultMapper.cs
  src/Remote.Linq/ExpressionVisitors/RemoteExpressionVisitorBase.cs
  src/Remote.Linq/ExpressionVisitors/VariableQueryArgumentVisitor.cs
  src/Remote.Linq/Grouping`2.cs
Due: production

allow async query extension invocation for non async queryable
  src/Remote.Linq/AsyncQueryableExtensions.cs
  test/Remote.Linq.Tests/AsyncQueryableExtensions/When_using_async_remote_operations.cs
  test/Remote.Linq.Tests/DynamicQuery/AsyncRemoteQueryable/When_executing_async_remote_queryable.cs
  test/Remote.Linq.Tests/DynamicQuery/AsyncRemoteStream/When_executing_async_remote_stream.cs
  test/Remote.Linq.Tests/DynamicQuery/EntityQueryables.cs
  test/Remote.Linq.Tests/Helper.cs
Due: production, test

improved samples
  samples/04_RemoteQueryable_AsyncQueryable/Client/AsyncDemo.cs
  samples/04_RemoteQueryable_AsyncQueryable/Client/Program.cs
  samples/04_RemoteQueryable_AsyncQueryable/DemoStartUp/Program.cs
  samples/04_RemoteQueryable_AsyncQueryable/Server/Program.cs
  samples/40_RemoteQueryable_ToEntityFramework/Client/Demo.cs
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Client/Demo.cs
  samples/SharedCode/Client.AsyncDemo.cs
Due: none
