Repository 6bee/Remote.Linq: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

codecov:
  ci:
    - appveyor

fixed formatting
  README.md
Due: none

unwrap potentially nested TargetInvocationException
  src/Remote.Linq/MethodInfoExtensions.cs
Due: production

target framework net6
  test/Remote.Linq.Async.Queryable.Tests/Remote.Linq.Async.Queryable.Tests.csproj
  test/Remote.Linq.EntityFramework.Tests/Remote.Linq.EntityFramework.Tests.csproj
  test/Remote.Linq.EntityFrameworkCore.Tests/Remote.Linq.EntityFrameworkCore.Tests.csproj
  test/Remote.Linq.Tests/Remote.Linq.Tests.csproj
Due: test

update CI build platform version
  .travis.yml
  appveyor.yml
Due: none

update travis-ci url
  README.md
Due: none

showcase type mapping to and from entity model on server side
  samples/40_RemoteQueryable_ToEntityFramework/Server/CustomTypeMappingExpressionTranslatorContext.cs
  samples/40_RemoteQueryable_ToEntityFramework/Server/DbModel/MarketEntity.cs
  samples/40_RemoteQueryable_ToEntityFramework/Server/DbModel/OrderItemEntity.cs
  samples/40_RemoteQueryable_ToEntityFramework/Server/DbModel/ProductCategoryEntity.cs
  samples/40_RemoteQueryable_ToEntityFramework/Server/DbModel/ProductEntity.cs
  samples/40_RemoteQueryable_ToEntityFramework/Server/DbModel/ProductGroupEntity.cs
  samples/40_RemoteQueryable_ToEntityFramework/Server/EFContext.cs
  samples/40_RemoteQueryable_ToEntityFramework/Server/QueryService.cs
Due: none

rename local variables
  src/Remote.Linq/ExpressionExecution/AsyncExpressionExecutor`2.cs
Due: production

add query methods introduces by net6
  .travis.yml
  src/Remote.Linq/Async/AsyncQueryableExtensions.cs
  src/Remote.Linq/ExpressionTranslatorContext.cs
  src/Remote.Linq/Expressions/Expression.cs
  src/Remote.Linq/Include/RemoteIncludeExpressionReWriter.cs
  src/Remote.Linq/Include/SystemIncludeExpressionReWriter.cs
  src/Remote.Linq/MethodInfos.Queryable.cs
  src/Remote.Linq/Remote.Linq.csproj
Due: production

update to protobuf-net v3.1
  src/Remote.Linq.protobuf-net/DynamicQuery/VariableQueryArgumentListSurrogate.cs
  src/Remote.Linq.protobuf-net/DynamicQuery/VariableQueryArgumentSurrogate.cs
  src/Remote.Linq.protobuf-net/Expressions/ConstantExpressionSerializer.cs
  src/Remote.Linq.protobuf-net/Expressions/ConstantExpressionSurrogate.cs
  src/Remote.Linq.protobuf-net/Expressions/ExpressionsTypeModel.cs
  src/Remote.Linq.protobuf-net/Remote.Linq.protobuf-net.csproj
  test/Remote.Linq.Tests/ProtoBuf/Known_issues_arise.cs
  test/Remote.Linq.Tests/Serialization/ProtobufNetSerializationHelper.cs
Due: production, test

fix file path
  samples/40_RemoteQueryable_ToEntityFramework/RemoteQueryable_ToEntityFramework.sln
  samples/41_RemoteQueryable_ToEntityFrameworkCore/RemoteQueryable_ToEntityFrameworkCore.sln
  samples/42_RemoteQueryable_ToNHibernate/RemoteQueryable_ToNHibernate.sln
Due: none

use ExceptionDispatchInfo to unwrap and re-throw
  src/Remote.Linq/DelegateExtensions.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteQueryProvider`1.cs
  src/Remote.Linq/MethodInfoExtensions.cs
Due: production

repro of #112
  Directory.Build.props
  samples/24_RemoteQueryable_UsingJsonSerializationOverWebApi/Server/Properties/launchSettings.json
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Client/Client.csproj
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Client/Demo.cs
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Client/RemoteRepository.partial.cs
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Common/Common.csproj
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Common/Model/OrderItem.cs
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Common/Model/ProductGroup.cs
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Server/EFContext.cs
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Server/QueryService.cs
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Server/QueryableSetProvider.cs
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Server/Server.csproj
  samples/SharedCode/Client.AsyncTcp.RemoteRepository.cs
  samples/SharedCode/Client.IRemoteRepository.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/CastingEntityFrameworkCoreExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/DefaultEntityFrameworkCoreExpressionExecutor.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/EntityFrameworkCoreExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/Helper.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionVisitors/SystemExpressionReWriter.cs
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
  src/Remote.Linq/ExpressionExecution/AsyncExpressionExecutionContext`1.cs
  test/Remote.Linq.EntityFrameworkCore.Tests/Remote.Linq.EntityFrameworkCore.Tests.csproj
  test/Remote.Linq.EntityFrameworkCore.Tests/Subquery/Subquery.cs
  test/Remote.Linq.EntityFrameworkCore.Tests/Subquery/SubqueryDB.sql
  test/Remote.Linq.EntityFrameworkCore.Tests/Subquery/SubqueryDBSetup.cmd
Due: production, test

resolve issue with subquery by wrapping queryable in closure #112
  test/Remote.Linq.EntityFrameworkCore.Tests/Subquery/Subquery.cs
Due: test

resolve issue for "sequence empty" and "sequence more-than-one-element" exception handling with non-nullable structs
  src/Remote.Linq/ExpressionExecution/AsyncExpressionExecutor`2.cs
  src/Remote.Linq/ExpressionExecution/ExpressionExecutor`2.cs
Due: production

clean code
  src/Remote.Linq/Expressions/RemoteLinqExpressionException.cs
Due: production

add fix for EF Core subqueries to Remote.Linq (#112)
  src/Remote.Linq/Closure`1.cs
  src/Remote.Linq/ExpressionVisitors/QueryableResourceVisitor.cs
  src/Remote.Linq/ExpressionVisitors/SystemExpressionEvaluator.cs
  src/Remote.Linq/ExpressionVisitors/SystemExpressionReWriter.cs
  src/Remote.Linq/IRemoteLinqQueryable.cs
  src/Remote.Linq/Include/RemoteIncludeExpressionReWriter.cs
  test/Remote.Linq.EntityFrameworkCore.Tests/When_querying.cs
Due: production, test

update code style validation frameworks
  Directory.Build.props
  src/Remote.Linq.Async.Queryable/ExpressionExecution/InteractiveAsyncExpressionExecutor`1.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/InteractiveAsyncStreamExpressionExecutor`1.cs
  src/Remote.Linq.EntityFramework/ExpressionExecution/EntityFrameworkExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/EntityFrameworkCoreAsyncStreamExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/EntityFrameworkCoreExpressionExecutor`1.cs
  src/Remote.Linq.Newtonsoft.Json/ContractResolvers/RemoteLinqContractResolver.cs
  src/Remote.Linq/DynamicQuery/AsyncDynamicResultMapper.cs
  src/Remote.Linq/DynamicQuery/AsyncObjectResultCaster.cs
  src/Remote.Linq/DynamicQuery/RemoteQueryProvider`1.cs
  src/Remote.Linq/ExpressionExecution/DefaultExpressionExecutor.cs
  src/Remote.Linq/ExpressionTranslator.RemoteToSystemLinqTranslator.cs
  src/Remote.Linq/ExpressionVisitors/SystemExpressionEvaluator.cs
  src/Remote.Linq/ExpressionVisitors/SystemExpressionVisitorBase.cs
  src/Remote.Linq/ExpressionVisitors/VariableQueryArgumentVisitor.cs
  src/Remote.Linq/Expressions/RemoteLinqExpressionException.cs
  src/Remote.Linq/Include/RemoteIncludeExpressionReWriter.cs
  src/Remote.Linq/Include/SystemIncludeExpressionReWriter.cs
  src/Remote.Linq/MethodInfoExtensions.cs
  src/Remote.Linq/TestSupport/TaskAsyncQueryProvider.cs
  test/Remote.Linq.Tests/ExpressionVisitors/ExpressionTranslator/When_translating_expression_back_and_forth.cs
  test/Remote.Linq.Tests/RemoteQueryable/When_running_query.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_GotoAndLabelExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_GotoAndLabelExpressions_with_names.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_GotoAndLabelExpressions_with_nested_BlockExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_LoopExpressions.cs
  test/Remote.Linq.Tests/TestData.cs
  test/Remote.Linq.Tests/TestHelper.cs
Due: production, test

- add IQueryResultMapper to all queryable factory methods - remove hidden connection between result mapper and expression translation context - order queryable factory method parameters consistently
  src/Remote.Linq.EntityFramework/RemoteQueryableFactoryAsyncExtensions.cs
  src/Remote.Linq.EntityFramework/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/RemoteQueryableFactoryAsyncExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/RemoteQueryableFactoryAsyncStreamExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq/DynamicQuery/AsyncDynamicStreamResultMapper.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteQueryProvider`1.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteStreamProvider`1.cs
  src/Remote.Linq/DynamicQuery/DynamicResultMapper.cs
  src/Remote.Linq/RemoteQueryableFactoryAsyncExtensions.cs
  src/Remote.Linq/RemoteQueryableFactoryAsyncStreamExtensions.cs
  src/Remote.Linq/RemoteQueryableFactoryExtensions.cs
Due: production

7.1.0-alpha-001
  Directory.Build.props
Due: none

update .net sdk version
  .travis.yml
Due: none

update changelog for 7.1.0-alpha-001
  CHANGELOG.md
Due: none

remove type and methods previously marked as obsolete
  src/Remote.Linq.EntityFrameworkCore/RemoteQueryableFactoryAsyncStreamExtensions.cs
  src/Remote.Linq/ExpressionTranslator.cs
  src/Remote.Linq/ExpressionVisitors/ExpressionVisitorBase.cs
  src/Remote.Linq/ExpressionVisitors/SystemExpressionReWriter.cs
  src/Remote.Linq/RemoteQueryableFactoryAsyncExtensions.cs
  src/Remote.Linq/SimpleQuery/SimpleQueryEnumerableExtensions.cs
Due: production

add IExpressionTranslator property to IExpressionTranslatorContext
  src/Remote.Linq.Async.Queryable/DynamicQuery/RemoteLinqAsyncQueryProvider`1.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteQueryProvider`1.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteStreamProvider`1.cs
  src/Remote.Linq/DynamicQuery/ExpressionHelper.cs
  src/Remote.Linq/DynamicQuery/ExpressionTranslator.cs
  src/Remote.Linq/DynamicQuery/IExpressionTranslator.cs
  src/Remote.Linq/DynamicQuery/RemoteQueryProvider`1.cs
  src/Remote.Linq/ExpressionTranslationExtensions.RemoteToSystemLinqTranslator.cs
  src/Remote.Linq/ExpressionTranslationExtensions.SystemToRemoteLinqTranslator.cs
  src/Remote.Linq/ExpressionTranslationExtensions.cs
  src/Remote.Linq/ExpressionTranslatorContext.cs
  src/Remote.Linq/IExpressionToRemoteLinqContext.cs
  src/Remote.Linq/TestSupport/TaskAsyncQueryProvider.cs
Due: production

make _Run_ method public
  src/Remote.Linq/DynamicQuery/ExpressionTranslator.cs
  src/Remote.Linq/ExpressionVisitors/QueryableResourceVisitor.cs
  src/Remote.Linq/ExpressionVisitors/VariableQueryArgumentVisitor.cs
Due: production

move EF Core specific code/behavior into project Remote.Linq.EntityFrameworkCore
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/EntityFrameworkCoreAsyncStreamExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/EntityFrameworkCoreExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionVisitors/SystemExpressionReWriter.cs
  src/Remote.Linq/Closure`1.cs
  src/Remote.Linq/ExpressionVisitors/QueryableResourceVisitor.cs
  src/Remote.Linq/ExpressionVisitors/SystemExpressionVisitorBase.cs
  src/Remote.Linq/TestSupport/TaskAsyncQueryProvider.cs
Due: production

update changelog
  CHANGELOG.md
Due: none

7.1.0-alpha-002
  Directory.Build.props
Due: none

revert to previous net sdk version that used to work on travis
  .travis.yml
Due: none

update 3rd party packages
  Directory.Build.props
  src/Remote.Linq.Async.Queryable/Remote.Linq.Async.Queryable.csproj
  src/Remote.Linq.EntityFrameworkCore/ExpressionVisitors/SystemExpressionReWriter.cs
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
  src/Remote.Linq/Remote.Linq.csproj
  test/Directory.Build.props
  test/Remote.Linq.Async.Queryable.Tests/Remote.Linq.Async.Queryable.Tests.csproj
  test/Remote.Linq.EntityFramework.Tests/Remote.Linq.EntityFramework.Tests.csproj
  test/Remote.Linq.EntityFrameworkCore.Tests/Remote.Linq.EntityFrameworkCore.Tests.csproj
Due: production, test

remove unneeded dependencies
  test/Remote.Linq.Tests/Remote.Linq.Tests.csproj
Due: test

repro of issue #117
  samples/22_RemoteQueryable_UsingJsonSerializationOverTcp/Common/Model/RelatedPosition.cs
  samples/SharedCode/Client.Demo.cs
  samples/SharedCode/Common.Model.Product.cs
  samples/SharedCode/Server.InMemoryDataStore.cs
Due: none

7.1.0
  CHANGELOG.md
  Directory.Build.props
Due: none

add expression type information
  src/Remote.Linq/ExpressionVisitors/RemoteExpressionVisitorBase.cs
  src/Remote.Linq/ExpressionVisitors/SystemExpressionVisitorBase.cs
Due: production

define default value to optional argument
  src/Remote.Linq/DynamicQuery/ExpressionTranslator.cs
Due: production

update build/test tools
  test/Directory.Build.props
  test/Remote.Linq.Async.Queryable.Tests/Remote.Linq.Async.Queryable.Tests.csproj
  test/Remote.Linq.EntityFramework.Tests/Remote.Linq.EntityFramework.Tests.csproj
Due: test

include changelog
  Remote.Linq.sln
Due: none

bump Microsoft.EntityFrameworkCore from 6.0.10 to 7.0.4
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
Due: production

bump Microsoft.Bcl.AsyncInterfaces from 6.0.0 to 7.0.0
  src/Remote.Linq/Remote.Linq.csproj
Due: production
