Repository 6bee/Remote.Linq: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

6.4.0-alpha-006
  Directory.Build.props
Due: none

6.3.0
  Directory.Build.props
Due: none

revised generic constraints for nullable reference types
  src/Remote.Linq.Async.Queryable/ExpressionExecution/CastingReactiveAsyncStreamExpressionExecutor`1.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/InteractiveAsyncStreamExpressionExecutor`1.cs
  src/Remote.Linq.Async.Queryable/Expressions/ExpressionExtensions.cs
  src/Remote.Linq.Async.Queryable/TestSupport/EnumerableExtensions.cs
  src/Remote.Linq/ExpressionExecution/AsyncStreamExpressionExecutor`2.cs
  src/Remote.Linq/ExpressionExecution/IAsyncStreamExpressionExecutionDecorator`1.cs
Due: production

revised todo comments
  src/Remote.Linq.Async.Queryable/ExpressionExecution/InteractiveAsyncExpressionExecutor`1.cs
  src/Remote.Linq.Newtonsoft.Json/Converters/VariableQueryArgumentListConverter.cs
  src/Remote.Linq/Expressions/Expression.cs
  src/Remote.Linq/Expressions/UnaryExpression.cs
Due: production

6.4.0-alpha-007
  Directory.Build.props
Due: none

add cancellation support
  src/Remote.Linq.Async.Queryable/ExpressionExecution/InteractiveAsyncStreamExpressionExecutor`1.cs
  src/Remote.Linq.Async.Queryable/Expressions/ExpressionExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/CastingEntityFrameworkCoreAsyncStreamExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/CastingEntityFrameworkCoreExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/EntityFrameworkCoreAsyncStreamExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/EntityFrameworkCoreExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/Helper.cs
  src/Remote.Linq/ExpressionExecution/AsyncStreamExpressionExecutor`2.cs
  src/Remote.Linq/ExpressionExecution/IAsyncStreamExpressionExecutionDecorator`1.cs
Due: production

finalized demo for Ix.NET
  samples/03_RemoteQueryable_AsyncStream/Client/RemoteAsyncStreamRepository.cs
  samples/04_RemoteQueryable_AsyncQueryable/Client/AsyncDemo.cs
  samples/04_RemoteQueryable_AsyncQueryable/Client/AsyncRemoteRepository.cs
  samples/04_RemoteQueryable_AsyncQueryable/Client/Client.csproj
  samples/04_RemoteQueryable_AsyncQueryable/Common/Common.csproj
  samples/04_RemoteQueryable_AsyncQueryable/Common/SimpleAsyncStreamProtocol/AsyncQuery`1.cs
  samples/04_RemoteQueryable_AsyncQueryable/Common/SimpleAsyncStreamProtocol/AsyncStreamQuery`1.cs
  samples/04_RemoteQueryable_AsyncQueryable/Common/SimpleAsyncStreamProtocol/IQuery`1.cs
  samples/04_RemoteQueryable_AsyncQueryable/Common/SimpleAsyncStreamProtocol/NextRequest.cs
  samples/04_RemoteQueryable_AsyncQueryable/DemoStartUp/DemoStartUp.csproj
  samples/04_RemoteQueryable_AsyncQueryable/DemoStartUp/Program.cs
  samples/04_RemoteQueryable_AsyncQueryable/Server/AsyncQueryService.cs
  samples/04_RemoteQueryable_AsyncQueryable/Server/Program.cs
  samples/04_RemoteQueryable_AsyncQueryable/Server/Server.csproj
  samples/04_RemoteQueryable_AsyncQueryable/Server/TcpServer.cs
  samples/04_RemoteQueryable_AsyncQueryable/Server/TcpStreamServer.cs
  samples/SharedCode/Common.JsonFormatter.cs
Due: none

6.4.0-alpha-010
  Directory.Build.props
Due: none

aligning async sample apps
  samples/03_RemoteQueryable_AsyncStream/Client/AsyncRemoteStreamRepository.cs
  samples/03_RemoteQueryable_AsyncStream/Client/AsyncStreamDemo.cs
  samples/03_RemoteQueryable_AsyncStream/Client/Client.csproj
  samples/03_RemoteQueryable_AsyncStream/Client/Program.cs
  samples/03_RemoteQueryable_AsyncStream/Common/Common.csproj
  samples/03_RemoteQueryable_AsyncStream/Common/SimpleAsyncStreamProtocol/InitializeStream`1.cs
  samples/03_RemoteQueryable_AsyncStream/Common/SimpleAsyncStreamProtocol/NextRequest.cs
  samples/03_RemoteQueryable_AsyncStream/Common/SimpleAsyncStreamProtocol/NextResponse`1.cs
  samples/03_RemoteQueryable_AsyncStream/DemoStartUp/DemoStartUp.csproj
  samples/03_RemoteQueryable_AsyncStream/DemoStartUp/Program.cs
  samples/03_RemoteQueryable_AsyncStream/Server/Server.csproj
  samples/03_RemoteQueryable_AsyncStream/Server/TcpServer.cs
  samples/04_RemoteQueryable_AsyncQueryable/Client/AsyncDemo.cs
  samples/04_RemoteQueryable_AsyncQueryable/Client/AsyncRemoteRepository.cs
  samples/04_RemoteQueryable_AsyncQueryable/Client/AsyncTcpRemoteRepository.cs
  samples/04_RemoteQueryable_AsyncQueryable/Client/Client.csproj
  samples/04_RemoteQueryable_AsyncQueryable/Client/Program.cs
  samples/04_RemoteQueryable_AsyncQueryable/Common/Common.csproj
  samples/04_RemoteQueryable_AsyncQueryable/DemoStartUp/Program.cs
  samples/04_RemoteQueryable_AsyncQueryable/Server/TcpStreamServer.cs
  samples/SharedCode/Client.AsyncStreamEnumerator.cs
  samples/SharedCode/Client.AsyncTcpQueryClient.cs
  samples/SharedCode/Common.SimpleAsyncQueryProtocol.AsyncQuery`1.cs
  samples/SharedCode/Common.SimpleAsyncQueryProtocol.AsyncStreamQuery`1.cs
  samples/SharedCode/Common.SimpleAsyncQueryProtocol.IQuery`1.cs
  samples/SharedCode/Common.SimpleAsyncQueryProtocol.NextRequest.cs
  samples/SharedCode/Common.SimpleAsyncQueryProtocol.NextResponse`1.cs
Due: none

favor `DynamicObject` over `IEnumerable<DynamicObject>`
  samples/SharedCode/Client.AsyncDemo.cs
  src/Remote.Linq.EntityFramework/ExpressionExecution/DefaultEntityFrameworkExpressionExecutor.cs
  src/Remote.Linq.EntityFramework/ExpressionExtensions.cs
  src/Remote.Linq.EntityFramework/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/DefaultEntityFrameworkCoreExpressionExecutor.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq/DynamicQuery/AsyncDynamicResultMapper.cs
  src/Remote.Linq/DynamicQuery/DynamicQueryResultMapper.cs
  src/Remote.Linq/DynamicQuery/DynamicResultMapper.cs
  src/Remote.Linq/EnumerableExtensions.cs
  src/Remote.Linq/ExpressionExecution/AsyncDefaultExpressionExecutionContext.cs
  src/Remote.Linq/ExpressionExecution/AsyncExpressionExecutor`2.cs
  src/Remote.Linq/ExpressionExecution/DefaultExpressionExecutionContext.cs
  src/Remote.Linq/ExpressionExecution/DefaultExpressionExecutor.cs
  src/Remote.Linq/Expressions/ExpressionExtensions.cs
  src/Remote.Linq/RemoteQueryableFactory.cs
  src/Remote.Linq/RemoteQueryableFactoryExtensions.cs
  test/Remote.Linq.Tests/AsyncQueryableExtensions/When_using_async_remote_operations.cs
  test/Remote.Linq.Tests/DynamicQuery/RemoteQueryable/When_using_include.cs
  test/Remote.Linq.Tests/ExpressionExecution/ExpressionExecutionContext/TestExpressionExecutionContext.cs
  test/Remote.Linq.Tests/ExpressionExecution/ExpressionExecutionContext/When_using_expression_execution_context.cs
  test/Remote.Linq.Tests/ExpressionExecution/ExpressionExecutionDecorator/TestExpressionExecutionDecorator.cs
  test/Remote.Linq.Tests/ExpressionExecution/ExpressionExecutionDecorator/When_decorating_expression_executor.cs
  test/Remote.Linq.Tests/ExpressionExecution/ExpressionExecutor/TestExpressionExecutor.cs
  test/Remote.Linq.Tests/ExpressionExecution/ExpressionExecutor/When_inheriting_from_expression_executor.cs
  test/Remote.Linq.Tests/RemoteQueryable/When_running_query.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_subquery_expression_use_same_parameter_name.cs
Due: production, test

6.4.0-alpha-011
  Directory.Build.props
Due: none

revised `RemoteQueryableFactory` methods
  src/Remote.Linq.EntityFramework/RemoteQueryableFactoryAsyncExtensions.cs
  src/Remote.Linq.EntityFramework/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/RemoteQueryableFactoryAsyncExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/RemoteQueryableFactoryAsyncStreamExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteQueryable.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteQueryable`1.cs
  src/Remote.Linq/RemoteQueryableFactoryAsyncExtensions.cs
  src/Remote.Linq/RemoteQueryableFactoryAsyncStreamExtensions.cs
  src/Remote.Linq/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq/TestSupport/EnumerableExtensions.cs
  test/Remote.Linq.EntityFramework.Tests/When_querying.cs
  test/Remote.Linq.EntityFrameworkCore.Tests/When_executing_async_stream.cs
  test/Remote.Linq.EntityFrameworkCore.Tests/When_querying.cs
  test/Remote.Linq.Tests/AsyncQueryableExtensions/When_using_async_remote_operations.cs
  test/Remote.Linq.Tests/DynamicQuery/RemoteQueryable/When_executing_straight.cs
Due: production, test

added support for `KnownTypesRegistry` allowing substitution of description for known types in json
  src/Remote.Linq.Newtonsoft.Json/ContractResolvers/RemoteLinqContractResolver.cs
  src/Remote.Linq.Newtonsoft.Json/Converters/ConstantQueryArgumentConverter.cs
  src/Remote.Linq.Newtonsoft.Json/Converters/ExpressionConverter.cs
  src/Remote.Linq.Newtonsoft.Json/Converters/VariableQueryArgumentConverter.cs
  src/Remote.Linq.Newtonsoft.Json/Converters/VariableQueryArgumentListConverter.cs
  src/Remote.Linq.Newtonsoft.Json/JsonSerializerSettingsExtensions.cs
  src/Remote.Linq.Newtonsoft.Json/RemoteLinqJsonSerializerSettings.cs
  src/Remote.Linq/ExpressionVisitors/RemoteExpressionVisitorBase.cs
Due: production

increased major version 7.0.0
  Directory.Build.props
Due: none

targeting net5.0
  src/Directory.Build.props
  src/Remote.Linq/AsyncQueryableExtensions.cs
  src/Remote.Linq/DelegateExtensions.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteQueryProvider`1.cs
  src/Remote.Linq/DynamicQuery/DynamicQueryResultMapper.cs
  src/Remote.Linq/DynamicQuery/RemoteQueryProviderExtensions.cs
  src/Remote.Linq/DynamicQuery/RemoteQueryable.cs
  src/Remote.Linq/DynamicQuery/VariableQueryArgument`1.cs
  src/Remote.Linq/ExpressionExecution/ExpressionExecutor`2.cs
  src/Remote.Linq/ExpressionTranslator.cs
  src/Remote.Linq/ExpressionVisitors/ExpressionEvaluator.cs
  src/Remote.Linq/ExpressionVisitors/ExpressionVisitorBase.cs
  src/Remote.Linq/ExpressionVisitors/RemoteExpressionVisitorBase.cs
  src/Remote.Linq/ExpressionVisitors/SystemExpressionReWriter.cs
  src/Remote.Linq/ExpressionVisitors/VariableQueryArgumentVisitor.cs
  src/Remote.Linq/Expressions/Expression.cs
  src/Remote.Linq/Expressions/LoopExpression.cs
  src/Remote.Linq/Expressions/NewExpression.cs
  src/Remote.Linq/Expressions/RemoteLinqExpressionException.cs
  src/Remote.Linq/Expressions/TryExpression.cs
  src/Remote.Linq/Expressions/UnaryExpression.cs
  src/Remote.Linq/MethodInfoExtensions.cs
  src/Remote.Linq/MethodInfos.cs
  src/Remote.Linq/Query`1.cs
  src/Remote.Linq/QueryableExtensions.cs
  src/Remote.Linq/Remote.Linq.csproj
  src/Remote.Linq/TestSupport/TaskAsyncQueryProvider.cs
Due: production

7.0.0-alpha-017
  Directory.Build.props
Due: none

simplify code based on nullable constraint
  Directory.Build.props
  src/Remote.Linq.protobuf-net/Expressions/ExpressionsTypeModel.cs
  src/Remote.Linq/DynamicQuery/ObjectResultCaster.cs
  src/Remote.Linq/ExpressionVisitors/ExpressionEvaluator.cs
  test/Remote.Linq.Tests/Helper.cs
  test/Remote.Linq.Tests/ProtoBuf/When_serializing_remote_linq_types_with_protobuf_net.cs
Due: production, test

resolve mapping type mismatch resolves issue #84
  src/Remote.Linq/DynamicQuery/DynamicResultMapper.cs
  test/Remote.Linq.Tests/RemoteQueryable/When_running_query.cs
Due: production, test

7.0.0-alpha-018
  Directory.Build.props
Due: none

updated to `aqua-core.5.0.0-alpha-036`
  Directory.Build.props
Due: none

updated code samples
  README.md
Due: none

clean code
  src/Remote.Linq/QueryableExtensions.cs
Due: production

updated sample code
  README.md
Due: none

migration to travis-ci.com
  .travis.yml
  README.md
Due: none

clean up
  .travis.yml
Due: none

switching to csharp/dotnet CI build image
  .travis.yml
Due: none

made `DynamicResultMapper` public
  src/Remote.Linq/DynamicQuery/DynamicResultMapper.cs
Due: production

7.0.0-alpha-020
  Directory.Build.props
Due: none

fixed typo
  src/Remote.Linq/DynamicQuery/DynamicResultMapper.cs
Due: production

fixed nullable declaration resolves issue #87
  src/Remote.Linq/DynamicQuery/ObjectResultCaster.cs
  src/Remote.Linq/IQueryResultMapper`1.cs
Due: production

map default value through IQueryResultMapper too
  src/Remote.Linq/DynamicQuery/RemoteQueryProvider`1.cs
Due: production

changes to nullable type annotations
  src/Remote.Linq.Async.Queryable/DynamicQuery/RemoteLinqAsyncQueryProvider`1.cs
  src/Remote.Linq.Async.Queryable/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq.EntityFramework/RemoteQueryableFactoryAsyncExtensions.cs
  src/Remote.Linq.EntityFramework/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/RemoteQueryableFactoryAsyncExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/RemoteQueryableFactoryAsyncStreamExtensions.cs
  src/Remote.Linq/DynamicQuery/AsyncDynamicResultMapper.cs
  src/Remote.Linq/DynamicQuery/AsyncObjectResultCaster.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteQueryProvider`1.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteStreamProvider`1.cs
  src/Remote.Linq/DynamicQuery/DynamicItemMapper.cs
  src/Remote.Linq/DynamicQuery/RemoteQueryProvider`1.cs
  src/Remote.Linq/IAsyncQueryResultMapper`1.cs
  src/Remote.Linq/RemoteQueryableFactoryAsyncExtensions.cs
  src/Remote.Linq/RemoteQueryableFactoryAsyncStreamExtensions.cs
  src/Remote.Linq/RemoteQueryableFactoryExtensions.cs
Due: production

updated `aqua-core` dependency
  Directory.Build.props
  src/Remote.Linq/DynamicQuery/AsyncDynamicResultMapper.cs
  src/Remote.Linq/DynamicQuery/DynamicItemMapper.cs
  src/Remote.Linq/DynamicQuery/DynamicResultMapper.cs
Due: production

updated to latest `aqua-core`
  Directory.Build.props
Due: none

added `System.Half` to test data
  test/Remote.Linq.Tests/RemoteQueryable/When_running_query.cs
  test/Remote.Linq.Tests/Serialization/ProtobufNetSerializationHelper.cs
  test/Remote.Linq.Tests/TestData.cs
Due: test

updated `aqua-core` and tools packages
  Directory.Build.props
  samples/Directory.Build.props
  src/Directory.Build.props
  src/Remote.Linq.Async.Queryable/Remote.Linq.Async.Queryable.csproj
Due: production

* transparently support `null` and collection of `null` results with `DynamicObject` data provider * revised nullable modifiers
  src/Remote.Linq.Async.Queryable/ExpressionExecution/CastingReactiveAsyncStreamExpressionExecutor`1.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/DefaultReactiveAsyncStreamExpressionExecutor.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/CastingEntityFrameworkCoreAsyncStreamExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/DefaultEntityFrameworkCoreAsyncstreamExpressionExecutor.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/EntityFrameworkCoreAsyncStreamExpressionExecutor`1.cs
  src/Remote.Linq/DynamicQuery/DynamicResultMapper.cs
  src/Remote.Linq/ExpressionExecution/AsyncExpressionExecutionContext`1.cs
  src/Remote.Linq/ExpressionExecution/AsyncExpressionExecutionDecoratorBase`1.cs
  src/Remote.Linq/ExpressionExecution/AsyncExpressionExecutionDecorator`1.cs
  src/Remote.Linq/ExpressionExecution/AsyncExpressionExecutor`2.cs
  src/Remote.Linq/ExpressionExecution/AsyncStreamExpressionExecutor`2.cs
  src/Remote.Linq/ExpressionExecution/CastingExpressionExecutor`2.cs
  src/Remote.Linq/ExpressionExecution/DefaultExpressionExecutionContext.cs
  src/Remote.Linq/ExpressionExecution/DefaultExpressionExecutor.cs
  src/Remote.Linq/ExpressionExecution/ExecutionContext.cs
  src/Remote.Linq/ExpressionExecution/ExpressionExecutionContextExtensions.cs
  src/Remote.Linq/ExpressionExecution/ExpressionExecutionContext`1.cs
  src/Remote.Linq/ExpressionExecution/ExpressionExecutionDecoratorBase`1.cs
  src/Remote.Linq/ExpressionExecution/ExpressionExecutionDecoratorExtensions.cs
  src/Remote.Linq/ExpressionExecution/ExpressionExecutionDecorator`1.cs
  src/Remote.Linq/ExpressionExecution/ExpressionExecutionHelper.cs
  src/Remote.Linq/ExpressionExecution/ExpressionExecutor`2.cs
  src/Remote.Linq/ExpressionExecution/IAsyncExpressionExecutionDecorator`1.cs
  src/Remote.Linq/ExpressionExecution/IAsyncStreamExpressionExecutionDecorator`1.cs
  src/Remote.Linq/ExpressionExecution/IExpressionExecutionDecorator`1.cs
  src/Remote.Linq/Expressions/ExpressionExtensions.cs
Due: production

revised test data
  test/Remote.Linq.Tests/Expressions/ExpressionExtensions/When_executing_expresson_with_explicit_result_type.cs
  test/Remote.Linq.Tests/ProtoBuf/When_serializing_remote_linq_types_with_protobuf_net.cs
  test/Remote.Linq.Tests/RemoteQueryable/When_running_query.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_LambdaExpression_returnung_a_type.cs
  test/Remote.Linq.Tests/Serialization/ProtobufNetSerializationHelper.cs
  test/Remote.Linq.Tests/TestData.cs
  test/Remote.Linq.Tests/TestHelper.cs
Due: test

clean code
  src/Remote.Linq.Async.Queryable/DynamicQuery/RemoteLinqAsyncQueryable`1.cs
  src/Remote.Linq.EntityFramework/ExpressionExecution/DefaultEntityFrameworkExpressionExecutor.cs
  src/Remote.Linq.EntityFramework/ExpressionExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/DefaultEntityFrameworkCoreExpressionExecutor.cs
  src/Remote.Linq/ExpressionExecution/AsyncDefaultExpressionExecutionContext.cs
  test/Remote.Linq.Tests/ExpressionExecution/ExpressionExecutionContext/When_using_expression_execution_context.cs
  test/Remote.Linq.Tests/ExpressionExecution/ExpressionExecutionDecorator/TestExpressionExecutionDecorator.cs
  test/Remote.Linq.Tests/ExpressionExecution/ExpressionExecutionDecorator/When_decorating_expression_executor.cs
  test/Remote.Linq.Tests/ExpressionExecution/ExpressionExecutor/When_inheriting_from_expression_executor.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_subquery_expression_use_same_parameter_name.cs
Due: production, test
