Repository 6bee/Remote.Linq: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

removed support for partially trusted code
  CHANGELOG.md
  GlobalAssemblyInfo.cs
  src/Remote.Linq.Async.Queryable/Properties/AssemblyInfo.cs
  src/Remote.Linq.EntityFramework/Properties/AssemblyInfo.cs
  src/Remote.Linq.EntityFrameworkCore/Properties/AssemblyInfo.cs
  src/Remote.Linq.Newtonsoft.Json/Properties/AssemblyInfo.cs
  src/Remote.Linq/Properties/AssemblyInfo.cs
  test/Remote.Linq.Tests/Remote.Linq.Tests.csproj
  test/Remote.Linq.Tests/Serialization/SystemTextJsonSerializationHelper.cs
Due: production, test

add .net 10 MaxBy with key comparer
  src/Remote.Linq/Async/AsyncQueryableExtensions.cs
  src/Remote.Linq/MethodInfos.Queryable.cs
  test/Remote.Linq.Tests/AsyncQueryableExtensions/Ensure_async_method_provided_for_every_synchronous_query_operation.cs
Due: production, test

update CI builds
  .appveyor.yml
  .github/workflows/publish.yml
  .travis.yml
Due: none

remove Remote.Linq.Text.Json project references
  Remote.Linq.Samples.sln
  samples/24_RemoteQueryable_UsingJsonSerializationOverWebApi/Server/Server.csproj
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp.Client/BlazorApp.Client.csproj
Due: none

fix wasm demo
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp.Client/BlazorApp.Client.csproj
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/BlazorApp.csproj
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/Controllers/DataController.cs
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/Program.cs
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/Properties/launchSettings.json
Due: none

rephrase, format, simplify
  README.md
Due: none

use unbound generic type in nameof
  src/Remote.Linq.Async.Queryable/ExpressionExecution/InteractiveAsyncExpressionExecutor`1.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/InteractiveAsyncStreamExpressionExecutor`1.cs
  src/Remote.Linq.EntityFramework/ExpressionExecution/EntityFrameworkExpressionExecutor`1.cs
  src/Remote.Linq.EntityFramework/ExpressionVisitors/SystemExpressionReWriter.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/EntityFrameworkCoreExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionVisitors/SystemExpressionReWriter.cs
  src/Remote.Linq/ExpressionVisitors/SystemExpressionEvaluator.cs
  src/Remote.Linq/ExpressionVisitors/VariableQueryArgumentVisitor.cs
  src/Remote.Linq/System.Linq.Expressions/SystemExpressionFactoryExtensions.cs
Due: production

call Enumerable.Reverse to prevent casting to Span<> (C# 14.0) and binding to wrong extension method
  test/Remote.Linq.Tests/Include/When_using_include.cs
Due: test

update dependencies
  Directory.Build.props
  src/Remote.Linq.Async.Queryable/Remote.Linq.Async.Queryable.csproj
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
  test/Directory.Build.props
  test/Remote.Linq.EntityFrameworkCore.Tests/Remote.Linq.EntityFrameworkCore.Tests.csproj
Due: production, test

v7.3.0
  CHANGELOG.md
Due: none

use target framework .net 10.0
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Client/Client.csproj
  samples/41_RemoteQueryable_ToEntityFrameworkCore/DemoStartUp/DemoStartUp.csproj
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Server/Server.csproj
Due: none

Prevent local evaluation of expressions of byref-like structure types
  CHANGELOG.md
  src/Remote.Linq/ExpressionVisitors/SystemExpressionEvaluator.cs
Due: production

extend test to cover System.Linq.Enumerable.Contains and System.MemoryExtensions.Contains
  test/Remote.Linq.Tests/RemoteQueryable/When_running_query.cs
Due: test

use primary constructors for inner test sub-classes
  test/Remote.Linq.Async.Queryable.Tests/When_querying_async.cs
  test/Remote.Linq.Tests/RemoteQueryable/When_running_query.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_subquery_expression_use_same_parameter_name.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_BlockExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_ConstExpression_of_expression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_GotoAndLabelExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_GotoAndLabelExpressions_with_names.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_GotoAndLabelExpressions_with_nested_BlockExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_IfElseExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_InvokeExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_LambdaExpression_returnung_a_type.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_LoopExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_SwitchExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_TryCatchExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_TryFinallyExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_complex_expression_with_local_lambda.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_const_bool_expression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_simple_bool_expression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_simple_projection_to_single_member.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_instance_variable_query_argument.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_argument.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_argument_list.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_string_argument.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_string_argument_list.cs
Due: test

increase VSTEST_CONNECTION_TIMEOUT to 20 minutes
  .github/workflows/publish.yml
Due: none

remove Remote.Linq.Text.Json
  README.md
  Remote.Linq.sln
  src/Remote.Linq.Text.Json/Properties/AssemblyInfo.cs
  src/Remote.Linq.Text.Json/Remote.Linq.Text.Json.csproj
Due: production

register `ObjectConverter<>` json converter to specify known types registry
  CHANGELOG.md
  src/Remote.Linq/Text/Json/JsonSerializerOptionsExtensions.cs
Due: production

v7.3.1
  Directory.Build.props
Due: none

update asp.net code sample to .net 10.0
  samples/24_RemoteQueryable_UsingJsonSerializationOverWebApi/Client/Client.csproj
  samples/24_RemoteQueryable_UsingJsonSerializationOverWebApi/Client/RemoteRepository.cs
  samples/24_RemoteQueryable_UsingJsonSerializationOverWebApi/DemoStartUp/DemoStartUp.csproj
  samples/24_RemoteQueryable_UsingJsonSerializationOverWebApi/Server/Properties/launchSettings.json
  samples/24_RemoteQueryable_UsingJsonSerializationOverWebApi/Server/Server.csproj
  samples/24_RemoteQueryable_UsingJsonSerializationOverWebApi/Server/WebApiServer.cs
  samples/SharedCode/Client.AsyncDemo.cs
  samples/SharedCode/Server.WebApi.QueryController.cs
Due: none

use collection initializers
  samples/SharedCode/Server.InMemoryDataStore.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/AsyncQueryExpressionTranslatorContext.cs
  src/Remote.Linq.EntityFramework/ExpressionExecution/EntityFrameworkExpressionExecutor`1.cs
  src/Remote.Linq.EntityFramework/ExpressionVisitors/AsyncScalarQueryExpressionReWriter.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/EntityFrameworkCoreExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionVisitors/AsyncScalarQueryExpressionReWriter.cs
  src/Remote.Linq/Async/AsyncQueryableExtensions.cs
  src/Remote.Linq/DynamicQuery/VariableQueryArgumentList.cs
  src/Remote.Linq/ExpressionExecution/DefaultExpressionExecutor.cs
  src/Remote.Linq/ExpressionTranslatorContext.cs
  src/Remote.Linq/ExpressionVisitors/RemoteExpressionVisitorBase.cs
  src/Remote.Linq/Expressions/ElementInit.cs
  src/Remote.Linq/Expressions/InvokeExpression.cs
  src/Remote.Linq/Expressions/ListInitExpression.cs
  src/Remote.Linq/Expressions/MemberInitExpression.cs
  src/Remote.Linq/Expressions/MemberListBinding.cs
  src/Remote.Linq/Expressions/MemberMemberBinding.cs
  src/Remote.Linq/Expressions/NewArrayExpression.cs
Due: production

migrate solution file to .slnx
  .appveyor.yml
  .github/workflows/publish.yml
  .travis.yml
  Remote.Linq.sln
  Remote.Linq.slnx
  build.bat
Due: none

migrate to global package management
  Directory.Build.props
  Directory.Build.targets
  Directory.Packages.props
  Remote.Linq.Samples.sln
  Remote.Linq.slnx
  nuget.config
  samples/00_SimpleRemoteQuery/Common/Common.csproj
  samples/01_RemoteQueryable_Basic/Common/Common.csproj
  samples/02_RemoteQueryable_Async/Common/Common.csproj
  samples/10_RemoteQueryable_DynamicObjectWithKnownTypes/Common/Common.csproj
  samples/11_RemoteQueryable_CustomResultHandler/Common/Common.csproj
  samples/12_RemoteQueryable_CustomTypeResolver/Common/Common.csproj
  samples/13_RemoteQueryable_ServerDefinedProjection/Common/Common.csproj
  samples/14_RemoteQueryable_Compression/Common/Common.csproj
  samples/15_RemoteQueryable_ModelAbstraction/Common/Common.csproj
  samples/20_RemoteQueryable_UsingBinarySerializationOverTcp/Common/Common.csproj
  samples/21_RemoteQueryable_UsingBinarySerializationOverTcpAsync/Common/Common.csproj
  samples/24_RemoteQueryable_UsingJsonSerializationOverWebApi/Client/Client.csproj
  samples/27_RemoteQueryable_UsingXmlSerializationOverWebApi/Client/Client.csproj
  samples/27_RemoteQueryable_UsingXmlSerializationOverWebApi/Server/Server.csproj
  samples/28_RemoteQueryable_UsingBsonSerializationOverTcp/Common/Common.csproj
  samples/30_RemoteQueryable_UsingServiceModelGrpc/Client/Client.csproj
  samples/30_RemoteQueryable_UsingServiceModelGrpc/Common/Common.csproj
  samples/30_RemoteQueryable_UsingServiceModelGrpc/Server/Server.csproj
  samples/31_RemoteQueryable_UsingMessagePackSerializationOverTcp/Common/Common.csproj
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp.Client/BlazorApp.Client.csproj
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/BlazorApp.csproj
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Client/Client.csproj
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Server/Server.csproj
  samples/42_RemoteQueryable_ToNHibernate/Server/Server.csproj
  src/Remote.Linq.Async.Queryable/Remote.Linq.Async.Queryable.csproj
  src/Remote.Linq.EntityFramework/Remote.Linq.EntityFramework.csproj
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
  test/Directory.Build.props
  test/Remote.Linq.Async.Queryable.Tests/Remote.Linq.Async.Queryable.Tests.csproj
  test/Remote.Linq.EntityFramework.Tests/Remote.Linq.EntityFramework.Tests.csproj
  test/Remote.Linq.EntityFrameworkCore.Tests/Remote.Linq.EntityFrameworkCore.Tests.csproj
Due: production, test

bump System.Linq.Async.Queryable to 7.0.1
  CHANGELOG.md
  Directory.Packages.props
Due: none

fix formatting
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
Due: production

bump aqua-core packages 5.5.1
  CHANGELOG.md
  Directory.Packages.props
Due: none

update coverlet.collector and Microsoft.NET.Test.Sdk
  Directory.Packages.props
Due: none

clean-up project files
  test/Remote.Linq.Async.Queryable.Tests/Remote.Linq.Async.Queryable.Tests.csproj
  test/Remote.Linq.EntityFramework.Tests/Remote.Linq.EntityFramework.Tests.csproj
Due: test

bump EntityFramework 6.5.2
  CHANGELOG.md
  Directory.Packages.props
Due: none

bump Microsoft.EntityFrameworkCore to 10.0.9
  CHANGELOG.md
  Directory.Packages.props
Due: none

v7.3.2
  CHANGELOG.md
  Directory.Build.props
Due: none

add package deprecation info
  README.md
Due: none

remove feedz.io/xunit package source
  nuget.config
Due: none

separate dependencies for test and samples projects
  Directory.Packages.props
Due: none

v7.3.3
  CHANGELOG.md
  Directory.Build.props
Due: none

clean code
  src/Remote.Linq.Newtonsoft.Json/JsonSerializerSettingsExtensions.cs
  src/Remote.Linq.Newtonsoft.Json/RemoteLinqJsonSerializerSettings.cs
  src/Remote.Linq/Text/Json/Converters/ExpressionConverter`1.cs
  src/Remote.Linq/Text/Json/Converters/VariableQueryArgumentConverter.cs
  src/Remote.Linq/Text/Json/Converters/VariableQueryArgumentListConverter.cs
  src/Remote.Linq/Text/Json/JsonSerializerOptionsExtensions.cs
Due: production

remove net9.0 target framework
  test/Remote.Linq.Tests/Remote.Linq.Tests.csproj
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
