Repository 6bee/Remote.Linq: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

bump Microsoft.EntityFrameworkCore.InMemory from 6.0.10 to 7.0.4
  test/Remote.Linq.EntityFrameworkCore.Tests/Remote.Linq.EntityFrameworkCore.Tests.csproj
Due: test

update changelog
  CHANGELOG.md
Due: none

7.2.0-alpha-001
  Directory.Build.props
Due: none

update validation tool
  Directory.Build.props
Due: none

fix style issues
  README.md
Due: none

update code samples
  README.md
Due: none

remove ConfigureAwait(false) in unit tests
  test/Remote.Linq.Async.Queryable.Tests/When_querying_async.cs
  test/Remote.Linq.EntityFrameworkCore.Tests/When_executing_async_stream.cs
  test/Remote.Linq.EntityFrameworkCore.Tests/When_querying.cs
  test/Remote.Linq.Tests/DynamicQuery/RemoteQueryable/When_executing_straight.cs
  test/Remote.Linq.Tests/TestSupport/When_using_test_support_remote_queryable.cs
Due: test

.NET 8.0 readiness
  .travis.yml
  CHANGELOG.md
  Directory.Build.props
  src/Directory.Build.props
  src/Remote.Linq.EntityFramework/ExpressionVisitors/SystemExpressionReWriter.cs
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
  src/Remote.Linq/Expressions/RemoteLinqExpressionException.cs
  src/Remote.Linq/Remote.Linq.csproj
  src/Remote.Linq/RemoteLinqException.cs
  test/Directory.Build.props
  test/Remote.Linq.Async.Queryable.Tests/Remote.Linq.Async.Queryable.Tests.csproj
  test/Remote.Linq.EntityFramework.Tests/Remote.Linq.EntityFramework.Tests.csproj
  test/Remote.Linq.EntityFramework.Tests/When_querying.cs
  test/Remote.Linq.EntityFrameworkCore.Tests/Remote.Linq.EntityFrameworkCore.Tests.csproj
  test/Remote.Linq.Tests/Remote.Linq.Tests.csproj
  test/Remote.Linq.Tests/RemoteQueryable/When_running_query.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_subquery_expression_use_same_parameter_name.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_BlockExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_ConstExpression_of_expression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_GotoAndLabelExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_GotoAndLabelExpressions_with_names.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_GotoAndLabelExpressions_with_nested_BlockExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_IfElseExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_InvokeExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_LambdaExpression_returnung_a_type.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_LoopExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_SwitchExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_TryCatchExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_TryFinallyExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_complex_expression_with_local_lambda.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_const_bool_expression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_simple_bool_expression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_simple_projection_to_single_member.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_instance_variable_query_argument.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_argument.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_argument_list.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_string_argument.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_string_argument_list.cs
  test/Remote.Linq.Tests/Test.cs
  test/Remote.Linq.Tests/TestHelper.cs
Due: production, test

update target framework to oldest supported version
  src/Remote.Linq.EntityFramework/Remote.Linq.EntityFramework.csproj
Due: production

run samples in CI build
  appveyor.yml
  samples/Directory.Build.props
Due: none

build samples for current dev version
  appveyor.yml
  samples/Directory.Build.props
Due: none

7.2.0-alpha-002
  Directory.Build.props
Due: none

add github workflow for nuget publishing
  .gitignore
  Directory.Build.props
  Directory.Build.targets
  global.json
Due: none

add github workflow for nuget publishing
  .github/workflows/publish.yml
Due: none

add github workflow for nuget publishing
  .github/workflows/publish.yml
  .gitignore
  Directory.Build.props
  Directory.Build.targets
  global.json
Due: none

add github actions badge
  README.md
Due: none

add .editorconfig
  .editorconfig
Due: none

update analyzer
  Directory.Build.props
Due: none

fix indentation
  .github/workflows/publish.yml
Due: none

update test tools
  test/Directory.Build.props
Due: test

build packages (dependencies) before building and running samples
  run_all_samples.bat
Due: none

update aqua.tool.Validation
  Directory.Build.props
Due: none

add .editorconfig to solution file
  Remote.Linq.sln
Due: none

add setting for new language features
  .editorconfig
Due: none

naming symbols setting for private fields are not applied to internal and protected members
  .editorconfig
Due: none

update to target framework .NET 8.0
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Client/Client.csproj
  samples/41_RemoteQueryable_ToEntityFrameworkCore/DemoStartUp/DemoStartUp.csproj
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Server/EFContext.cs
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Server/Server.csproj
Due: none

update target framework to .NET 8.0
  samples/40_RemoteQueryable_ToEntityFramework/Client/Client.csproj
  samples/40_RemoteQueryable_ToEntityFramework/DemoStartUp/DemoStartUp.csproj
  samples/40_RemoteQueryable_ToEntityFramework/Server/Server.csproj
Due: none

pass ITypeResolver to RemoteExpressionVisitor
  src/Remote.Linq.EntityFramework/ExpressionExecution/EntityFrameworkExpressionExecutor`1.cs
  src/Remote.Linq.EntityFramework/ExpressionVisitors/RemoteExpressionReWriter.cs
  src/Remote.Linq/ExpressionExecution/AsyncExpressionExecutor`2.cs
  src/Remote.Linq/ExpressionExecution/AsyncStreamExpressionExecutor`2.cs
  src/Remote.Linq/ExpressionExecution/DefaultExpressionExecutor.cs
  src/Remote.Linq/ExpressionExecution/ExpressionExecutionDecoratorBase`1.cs
  src/Remote.Linq/ExpressionExecution/ExpressionExecutor`2.cs
  src/Remote.Linq/ExpressionExecution/IExpressionExecutionDecorator`1.cs
  src/Remote.Linq/ExpressionVisitors/QueryableResourceVisitor.cs
  src/Remote.Linq/ExpressionVisitors/RemoteExpressionReWriter.cs
  src/Remote.Linq/ExpressionVisitors/RemoteExpressionVisitorBase.cs
  src/Remote.Linq/ExpressionVisitors/VariableQueryArgumentVisitor.cs
  src/Remote.Linq/Include/RemoteIncludeExpressionReWriter.cs
  src/Remote.Linq/SimpleQuery/SimpleQueryQueryableExtensions.cs
Due: production

use ITypeResolver to resolve type
  src/Remote.Linq.EntityFramework/ExpressionVisitors/RemoteExpressionReWriter.cs
  src/Remote.Linq/ExpressionTranslationExtensions.RemoteToSystemLinqTranslator.cs
  src/Remote.Linq/ExpressionVisitors/RemoteExpressionVisitorBase.cs
  src/Remote.Linq/ExpressionVisitors/VariableQueryArgumentVisitor.cs
  src/Remote.Linq/Include/RemoteIncludeExpressionReWriter.cs
Due: production

use pattern expression
  src/Remote.Linq.EntityFramework/ExpressionExecution/EntityFrameworkExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/EntityFrameworkCoreExpressionExecutor`1.cs
  src/Remote.Linq.Newtonsoft.Json/Converters/VariableQueryArgumentListConverter.cs
  src/Remote.Linq.Text.Json/Converters/VariableQueryArgumentListConverter.cs
  src/Remote.Linq/Async/AsyncQueryableExtensions.cs
  src/Remote.Linq/DynamicQuery/DynamicResultMapper.cs
  src/Remote.Linq/DynamicQuery/ExpressionHelper.cs
  src/Remote.Linq/Expressions/LambdaExpression.cs
  src/Remote.Linq/Include/SystemIncludeExpressionReWriter.cs
  src/Remote.Linq/SimpleQuery/Query.cs
  test/Remote.Linq.Tests/AsyncQueryableExtensions/Ensure_async_method_provided_for_every_synchronous_query_operation.cs
Due: production, test

Do not build on tags
  appveyor.yml
Due: none

Do not build on tags
  .travis.yml
Due: none

suppress build output
  run_all_samples.bat
Due: none

Path conditions:
  production: any of: src/
  test: any of: test/
