Repository 6bee/Remote.Linq: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

fixed typo
  src/Remote.Linq/Properties/AssemblyInfo.cs
Due: production

removed redundant package reference
  Directory.Build.props
  samples/Directory.Build.props
Due: none

make internals visible again ;)
  Directory.Build.props
  Remote.Linq.sln
  samples/Directory.Build.props
  src/Directory.Build.props
  src/Remote.Linq.Async.Queryable/Remote.Linq.Async.Queryable.csproj
  src/Remote.Linq/DynamicQuery/AsyncObjectResultCaster.cs
  src/Remote.Linq/Properties/AssemblyInfo.cs
  test/Remote.Linq.Tests/DynamicQuery/RemoteQueryable/When_using_include.cs
Due: production, test

nullability validation continued
  samples/SharedCode/Common.ServiceContracts.DefaultAsyncIQueryService.wcf.cs
  samples/SharedCode/Server.DefaultAsyncQueryService.wcf.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/CastingEntityFrameworkCoreAsyncStreamExpressionExecutor`1.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteQueryProvider`1.cs
  src/Remote.Linq/DynamicQuery/DynamicResultMapper.cs
  src/Remote.Linq/DynamicQuery/ObjectResultCaster.cs
  src/Remote.Linq/DynamicQuery/RemoteQueryProvider`1.cs
  src/Remote.Linq/IQueryResultMapper`1.cs
  src/Remote.Linq/TestSupport/TaskAsyncQueryProvider.cs
  test/Remote.Linq.Tests/DynamicQuery/RemoteQueryable/When_executing_straight.cs
Due: production, test

v7.0.0-alpha-025
  Directory.Build.props
Due: none

added sample for `ServiceModel.Grpc` resolves issue #88
  Remote.Linq.Samples.sln
  samples/30_RemoteQueryable_UsingServiceModelGrpc/Client/Client.csproj
  samples/30_RemoteQueryable_UsingServiceModelGrpc/Client/Program.cs
  samples/30_RemoteQueryable_UsingServiceModelGrpc/Client/RemoteRepository.cs
  samples/30_RemoteQueryable_UsingServiceModelGrpc/Common/Common.csproj
  samples/30_RemoteQueryable_UsingServiceModelGrpc/DemoStartUp/DemoStartUp.csproj
  samples/30_RemoteQueryable_UsingServiceModelGrpc/DemoStartUp/Program.cs
  samples/30_RemoteQueryable_UsingServiceModelGrpc/RemoteQueryable_UsingServiceModelGrpc.sln
  samples/30_RemoteQueryable_UsingServiceModelGrpc/Server/Program.cs
  samples/30_RemoteQueryable_UsingServiceModelGrpc/Server/Server.csproj
  samples/SharedCode/Common.ServiceContracts.DefaultAsyncIQueryService.wcf.cs
  samples/SharedCode/Server.DefaultAsyncQueryService.wcf.cs
Due: none

removed netcoreapp3.1 target framework
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Client/Client.csproj
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Server/Server.csproj
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
  test/Remote.Linq.Async.Queryable.Tests/Remote.Linq.Async.Queryable.Tests.csproj
  test/Remote.Linq.EntityFramework.Tests/Remote.Linq.EntityFramework.Tests.csproj
  test/Remote.Linq.EntityFrameworkCore.Tests/Remote.Linq.EntityFrameworkCore.Tests.csproj
  test/Remote.Linq.Tests/Remote.Linq.Tests.csproj
Due: production, test

added sample for EF function
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Client/Demo.cs
Due: none

separated inner classes to partial code files
  src/Remote.Linq/ExpressionTranslator.RemoteToSystemLinqTranslator.cs
  src/Remote.Linq/ExpressionTranslator.SystemToRemoteLinqTranslator.cs
  src/Remote.Linq/ExpressionTranslator.cs
Due: production

introduced IExpressionTranslatorContext concerns issue #90
  src/Remote.Linq/DynamicQuery/AsyncRemoteQueryProvider`1.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteStreamProvider`1.cs
  src/Remote.Linq/DynamicQuery/ExpressionHelper.cs
  src/Remote.Linq/DynamicQuery/RemoteQueryProvider`1.cs
  src/Remote.Linq/EnumerableExtensions.cs
  src/Remote.Linq/ExpressionTranslator.RemoteToSystemLinqTranslator.cs
  src/Remote.Linq/ExpressionTranslator.SystemToRemoteLinqTranslator.cs
  src/Remote.Linq/ExpressionTranslator.cs
  src/Remote.Linq/ExpressionTranslatorContext.cs
  src/Remote.Linq/IExpressionTranslatorContext.cs
  src/Remote.Linq/PredicateExtensions.cs
  src/Remote.Linq/RemoteQueryable.cs
  src/Remote.Linq/RemoteQueryableFactory.cs
  src/Remote.Linq/RemoteQueryableFactoryAsyncExtensions.cs
  src/Remote.Linq/RemoteQueryableFactoryAsyncStreamExtensions.cs
  src/Remote.Linq/RemoteQueryableFactoryExtensions.cs
  test/Remote.Linq.Tests/ExpressionVisitors/ExpressionTranslator/ExpressionTranslatorTestBase.cs
  test/Remote.Linq.Tests/ExpressionVisitors/ExpressionTranslator/When_translating_expression_back_and_forth.cs
  test/Remote.Linq.Tests/ExpressionVisitors/ExpressionTranslator/When_translating_expression_with_readonly_type_value.cs
  test/Remote.Linq.Tests/RemoteQueryable/When_running_query.cs
  test/Remote.Linq.Tests/TestHelper.cs
Due: production, test

v7.0.0-alpha-027
  Directory.Build.props
Due: none

clean-up API
  src/Remote.Linq.EntityFramework/RemoteQueryableFactoryAsyncExtensions.cs
  src/Remote.Linq.EntityFramework/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/RemoteQueryableFactoryAsyncExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/RemoteQueryableFactoryExtensions.cs
  src/Remote.Linq/EnumerableExtensions.cs
  src/Remote.Linq/RemoteQueryableFactoryAsyncExtensions.cs
  src/Remote.Linq/RemoteQueryableFactoryExtensions.cs
Due: production

v7.0.0-alpha-028
  Directory.Build.props
Due: none

fixed context parameter flow
  src/Remote.Linq/ExpressionExecution/ExpressionExecutor`2.cs
  src/Remote.Linq/TestSupport/EnumerableExtensions.cs
  src/Remote.Linq/TestSupport/TaskAsyncQueryProvider.cs
Due: production

v7.0.0-alpha-029
  Directory.Build.props
Due: none

adjusted nullability annotations
  src/Remote.Linq.Async.Queryable/DynamicQuery/RemoteLinqAsyncQueryProvider`1.cs
  src/Remote.Linq.Async.Queryable/RemoteQueryableFactoryExtensions.cs
Due: production

added test execution with protobuf-net serializer
  test/Remote.Linq.Tests/RemoteQueryable/When_running_query.cs
Due: test

clean code
  test/Directory.Build.props
Due: test

`ExpressionTranslatorContext` use composition for `DynamicObjectMapper` relates to issue #90
  Directory.Build.props
  samples/10_RemoteQueryable_DynamicObjectWithKnownTypes/Client/RemoteRepository.cs
  samples/10_RemoteQueryable_DynamicObjectWithKnownTypes/Server/QueryService.cs
  samples/12_RemoteQueryable_CustomTypeResolver/Client/RemoteRepository.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/DefaultReactiveAsyncExpressionExecutor.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/DynamicAsyncQueryResultMapper.cs
  src/Remote.Linq.EntityFramework/ExpressionExecution/DefaultEntityFrameworkExpressionExecutor.cs
  src/Remote.Linq/DynamicQuery/DynamicItemMapper.cs
  src/Remote.Linq/DynamicQuery/DynamicResultMapper.cs
  src/Remote.Linq/ExpressionExecution/DefaultExpressionExecutor.cs
  src/Remote.Linq/ExpressionTranslatorContext.cs
  test/Remote.Linq.Tests/ExpressionVisitors/ExpressionTranslator/When_translating_expression_with_readonly_type_value.cs
Due: production, test

fixed null check
  Directory.Build.props
  src/Remote.Linq.protobuf-net/DynamicQuery/VariableQueryArgumentListSurrogate.cs
Due: production

use latest aqua-core
  Directory.Build.props
Due: none

including default values for all test data types
  test/Remote.Linq.Tests/TestData.cs
Due: test

exclude any experimental branches
  .travis.yml
Due: none

fix issue with additional methods overloads in net6.0 relates to issue 6bee/aqua-core#36
  src/Remote.Linq.Async.Queryable/DynamicQuery/RemoteLinqAsyncQueryProvider`1.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/DynamicAsyncQueryResultMapper.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/Helper.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/InteractiveAsyncExpressionExecutor`1.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/InteractiveAsyncStreamExpressionExecutor`1.cs
  src/Remote.Linq.Async.Queryable/Remote.Linq.Async.Queryable.csproj
  src/Remote.Linq.EntityFramework/ExpressionExecution/EntityFrameworkExpressionExecutor`1.cs
  src/Remote.Linq.EntityFramework/ExpressionExecution/Helper.cs
  src/Remote.Linq.EntityFramework/ExpressionVisitors/SystemExpressionReWriter.cs
  src/Remote.Linq.EntityFramework/Remote.Linq.EntityFramework.csproj
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/EntityFrameworkCoreExpressionExecutor`1.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/Helper.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionVisitors/AsyncScalarQueryExpressionReWriter.cs
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
  src/Remote.Linq.Newtonsoft.Json/ContractResolvers/RemoteLinqContractResolver.cs
  src/Remote.Linq/AsyncQueryableExtensions.cs
  src/Remote.Linq/ExpressionTranslator.SystemToRemoteLinqTranslator.cs
  src/Remote.Linq/MethodInfos.Enumerable.cs
  src/Remote.Linq/MethodInfos.Expression.cs
  src/Remote.Linq/MethodInfos.GroupingFactory.cs
  src/Remote.Linq/MethodInfos.QueryFuntion.cs
  src/Remote.Linq/MethodInfos.Queryable.cs
  src/Remote.Linq/MethodInfos.String.cs
  src/Remote.Linq/MethodInfos.cs
  src/Remote.Linq/QueryableExtensions.cs
  src/Remote.Linq/Remote.Linq.csproj
  test/Remote.Linq.Tests/AsyncQueryableExtensions/When_using_async_remote_operations.cs
Due: production, test

7.0.0-alpha-031
  Directory.Build.props
Due: none

removed unused InternalsVisibleToAttribute
  src/Remote.Linq.protobuf-net/Properties/AssemblyInfo.cs
Due: production

rename to lowercase
  nuget.config
Due: none

support `--non-interactive` mode
  run_all_samples.bat
  samples/00_SimpleRemoteQuery/DemoStartUp/Program.cs
  samples/01_RemoteQueryable_Basic/DemoStartUp/Program.cs
  samples/02_RemoteQueryable_Async/DemoStartUp/Program.cs
  samples/03_RemoteQueryable_AsyncStream/DemoStartUp/Program.cs
  samples/04_RemoteQueryable_AsyncQueryable/DemoStartUp/Program.cs
  samples/10_RemoteQueryable_DynamicObjectWithKnownTypes/DemoStartUp/Program.cs
  samples/11_RemoteQueryable_CustomResultHandler/DemoStartUp/Program.cs
  samples/12_RemoteQueryable_CustomTypeResolver/DemoStartUp/Program.cs
  samples/13_RemoteQueryable_ServerDefinedProjection/DemoStartUp/Program.cs
  samples/14_RemoteQueryable_Compression/DemoStartUp/Program.cs
  samples/15_RemoteQueryable_ModelAbstraction/DemoStartUp/Program.cs
  samples/20_RemoteQueryable_UsingBinarySerializationOverTcp/DemoStartUp/Program.cs
  samples/21_RemoteQueryable_UsingBinarySerializationOverTcpAsync/DemoStartUp/Program.cs
  samples/22_RemoteQueryable_UsingJsonSerializationOverTcp/DemoStartUp/Program.cs
  samples/23_RemoteQueryable_UsingJsonSerializationOverTcpAsync/DemoStartUp/Program.cs
  samples/24_RemoteQueryable_UsingJsonSerializationOverWebApi/DemoStartUp/Program.cs
  samples/25_RemoteQueryable_UsingXmlSerializationOverHttp/DemoStartUp/Program.cs
  samples/26_RemoteQueryable_UsingXmlSerializationOverTcp/DemoStartUp/Program.cs
  samples/27_RemoteQueryable_UsingXmlSerializationOverWebApi/DemoStartUp/Program.cs
  samples/28_RemoteQueryable_UsingBsonSerializationOverTcp/DemoStartUp/Program.cs
  samples/29_RemoteQueryable_UsingProtobufNetSerializationOverTcp/DemoStartUp/Program.cs
  samples/30_RemoteQueryable_UsingServiceModelGrpc/DemoStartUp/Program.cs
  samples/40_RemoteQueryable_ToEntityFramework/DemoStartUp/Program.cs
  samples/41_RemoteQueryable_ToEntityFrameworkCore/DemoStartUp/Program.cs
  samples/42_RemoteQueryable_ToNHibernate/DemoStartUp/Program.cs
  samples/50_SandboxedServer/DemoStartUp/Program.cs
  samples/SharedCode/CommonHelper.cs
Due: none

added sample with MessagePack serializer
  Remote.Linq.Samples.sln
  samples/31_RemoteQueryable_UsingMessagePackSerializationOverTcp/Client/Client.csproj
  samples/31_RemoteQueryable_UsingMessagePackSerializationOverTcp/Client/Program.cs
  samples/31_RemoteQueryable_UsingMessagePackSerializationOverTcp/Common/Common.csproj
  samples/31_RemoteQueryable_UsingMessagePackSerializationOverTcp/DemoStartUp/DemoStartUp.csproj
  samples/31_RemoteQueryable_UsingMessagePackSerializationOverTcp/DemoStartUp/Program.cs
  samples/31_RemoteQueryable_UsingMessagePackSerializationOverTcp/RemoteQueryable_UsingMessagePackSerializationOverTcp.sln
  samples/31_RemoteQueryable_UsingMessagePackSerializationOverTcp/Server/Program.cs
  samples/31_RemoteQueryable_UsingMessagePackSerializationOverTcp/Server/Server.csproj
  samples/SharedCode/Common.MessagePackFormatter.cs
Due: none

fixed internal IsKnownTypeProviderDecorator
  samples/10_RemoteQueryable_DynamicObjectWithKnownTypes/Client/RemoteRepository.cs
  src/Remote.Linq/EnumerableExtensions.cs
  src/Remote.Linq/ExpressionTranslatorContext.cs
Due: production

7.0.0-alpha-032
  Directory.Build.props
Due: none

removed include filter
  coverlet.runsettings
Due: none

renamed codecov.yml
  codecov.yml
Due: none

removed redundant package reference
  test/Remote.Linq.EntityFrameworkCore.Tests/Remote.Linq.EntityFrameworkCore.Tests.csproj
Due: test

configure InProcDataCollector see https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md
  coverlet.runsettings
  test/Directory.Build.props
Due: test

coverage on travis
  .travis.yml
  codecov.yml
  coverlet.runsettings
Due: none

investigate ci issue: tool/command could not be found
  .travis.yml
Due: none

another attempt to coverlet
  .travis.yml
  appveyor.yml
  codecov.yml
  coverlet.runsettings
Due: none
