Repository 6bee/Remote.Linq: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

fixed issue with SumAsync for Int64
  src/Remote.Linq/Async/AsyncQueryableExtensions.cs
Due: production

clean code
  test/Remote.Linq.Tests/AsyncQueryableExtensions/When_using_async_linq_operations.cs
Due: test

improved output of test error-message
  test/Remote.Linq.Tests/AsyncQueryableExtensions/Ensure_async_method_provided_for_every_synchronous_query_operation.cs
Due: test

added test coverage for async numeric linq operations
  test/Remote.Linq.Tests/AsyncQueryableExtensions/When_using_async_numeric_linq_operations.cs
  test/Remote.Linq.Tests/TestHelper.cs
Due: test

fixed issue with `SequenceEqualAsync` (without comparer) and `SumAsync` (for Int64)
  src/Remote.Linq/AsyncEnumerableExtensions.cs
Due: production

exclude branch 6.3.x as incompatible with CI's .net sdk
  .travis.yml
Due: none

updated change log
  CHANGELOG.md
Due: none

aqua-core-5.0.0-beta-001
  Directory.Build.props
Due: none

added PackageReleaseNotes
  Directory.Build.props
Due: none

updated dependencies
  Directory.Build.props
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
  test/Directory.Build.props
  test/Remote.Linq.Async.Queryable.Tests/Remote.Linq.Async.Queryable.Tests.csproj
  test/Remote.Linq.EntityFramework.Tests/Remote.Linq.EntityFramework.Tests.csproj
  test/Remote.Linq.EntityFrameworkCore.Tests/Remote.Linq.EntityFrameworkCore.Tests.csproj
Due: production, test

updated build scripts/settings
  Directory.Build.props
  GlobalAssemblyInfo.cs
  build.bat
  pack.bat
  src/Directory.Build.props
  src/Remote.Linq.Text.Json/Properties/AssemblyInfo.cs
  src/Remote.Linq.protobuf-net/Properties/AssemblyInfo.cs
Due: production

enabled nuget links for new packages
  README.md
Due: none

7.0.0-beta-001
  Directory.Build.props
Due: none

updated sample app dependencies
  samples/00_SimpleRemoteQuery/Common/Common.csproj
  samples/01_RemoteQueryable_Basic/Common/Common.csproj
  samples/02_RemoteQueryable_Async/Common/Common.csproj
  samples/10_RemoteQueryable_DynamicObjectWithKnownTypes/Common/Common.csproj
  samples/11_RemoteQueryable_CustomResultHandler/Common/Common.csproj
  samples/12_RemoteQueryable_CustomTypeResolver/Common/Common.csproj
  samples/13_RemoteQueryable_ServerDefinedProjection/Common/Common.csproj
  samples/14_RemoteQueryable_Compression/Common/Common.csproj
  samples/15_RemoteQueryable_ModelAbstraction/Common/Common.csproj
  samples/30_RemoteQueryable_UsingServiceModelGrpc/Client/Client.csproj
  samples/30_RemoteQueryable_UsingServiceModelGrpc/Common/Common.csproj
  samples/30_RemoteQueryable_UsingServiceModelGrpc/Server/Server.csproj
  samples/31_RemoteQueryable_UsingMessagePackSerializationOverTcp/Common/Common.csproj
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Client/Client.csproj
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Server/Server.csproj
  samples/42_RemoteQueryable_ToNHibernate/Server/Server.csproj
Due: none

fix sample for nhibernate
  samples/SharedCode/Client.AsyncDemo.cs
Due: none

6.3.1
  Directory.Build.props
Due: none

release v6.3.1
  CHANGELOG.md
Due: none

updated description
  src/Remote.Linq.Async.Queryable/Remote.Linq.Async.Queryable.csproj
Due: production

updated samples
  README.md
Due: none

added link to related nuget packages
  README.md
Due: none

unified formatting
  README.md
Due: none

fixed punctuation
  README.md
Due: none

7.0.0-beta-002
  Directory.Build.props
Due: none

fixed typo
  CHANGELOG.md
Due: none

expand namespaces to reduce name clashes
  src/Remote.Linq.Newtonsoft.Json/JsonSerializerSettingsExtensions.cs
  src/Remote.Linq.Text.Json/JsonSerializerOptionsExtensions.cs
  src/Remote.Linq.protobuf-net/ProtoBufTypeModel.cs
  src/Remote.Linq/ExpressionExecution/AsyncStreamExpressionExecutor`2.cs
  test/Remote.Linq.Tests/ProtoBuf/Known_issues_arise.cs
  test/Remote.Linq.Tests/ProtoBuf/When_serializing_remote_linq_types_with_protobuf_net.cs
  test/Remote.Linq.Tests/RemoteQueryable/When_running_query.cs
  test/Remote.Linq.Tests/Serialization/BinarySerializationHelper.cs
  test/Remote.Linq.Tests/Serialization/DataContractSerializationHelper.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_deserializing_json_with_constant_expression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_subquery_expression_use_same_parameter_name.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_BlockExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_GotoAndLabelExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_GotoAndLabelExpressions_with_names.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_GotoAndLabelExpressions_with_nested_BlockExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_IfElseExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_InvokeExpression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_LambdaExpression_returnung_a_type.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_LoopExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_SwitchExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_TryCatchExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_TryFinallyExpressions.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_complex_expression_with_local_lambda.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_const_bool_expression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_simple_bool_expression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_simple_projection_to_single_member.cs
  test/Remote.Linq.Tests/Serialization/NetDataContractSerializationHelper.cs
  test/Remote.Linq.Tests/Serialization/NewtonsoftJsonSerializationHelper.cs
  test/Remote.Linq.Tests/Serialization/ProtobufNetSerializationHelper.cs
  test/Remote.Linq.Tests/Serialization/SystemTextJsonSerializationHelper.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_instance_variable_query_argument.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_argument.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_argument_list.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_string_argument.cs
  test/Remote.Linq.Tests/Serialization/VariableQueryArgument/When_using_local_variable_query_string_argument_list.cs
  test/Remote.Linq.Tests/Serialization/XmlSerializationHelper.cs
  test/Remote.Linq.Tests/TestData.cs
Due: production, test

7.0.0-beta-003
  Directory.Build.props
Due: none

updated samples for 7.0.0-beta-003
  samples/00_SimpleRemoteQuery/Client/ServiceProxy`1.cs
  samples/03_RemoteQueryable_AsyncStream/Client/AsyncStreamDemo.cs
  samples/24_RemoteQueryable_UsingJsonSerializationOverWebApi/Client/RemoteRepository.cs
  samples/24_RemoteQueryable_UsingJsonSerializationOverWebApi/Server/WebApiServer.cs
  samples/SharedCode/Client.AsyncDemo.cs
  samples/SharedCode/Common.BsonFormatter.cs
  samples/SharedCode/Common.JsonFormatter.cs
  samples/SharedCode/Common.ProtobufNetFormatter.cs
  samples/SharedCode/Server.WebApi.QueryController.cs
Due: none

removed redundant null check
  src/Remote.Linq/ExpressionExecution/AsyncExpressionExecutor`2.cs
Due: production

7.0.0-beta-004
  Directory.Build.props
Due: none

print remote.linq logo
  samples/SharedCode/CommonHelper.cs
Due: none

7.0.0
  CHANGELOG.md
  Directory.Build.props
  build.bat
Due: none

follow style-guide
  CHANGELOG.md
Due: none

fixup IEnumerable access
  src/Remote.Linq/Include/IncludeQueryableExtensions.cs
  src/Remote.Linq/SimpleQuery/Query`1.cs
Due: production

fixed stream reader for message pack formatter
  samples/SharedCode/Common.MessagePackFormatter.cs
Due: none

fix-up visibility of internal helper methods
  src/Remote.Linq/DynamicQuery/RemoteQueryProviderExtensions.cs
  src/Remote.Linq/MethodInfoExtensions.cs
Due: production

aligning name with type
  test/Remote.Linq.Tests/Serialization/SystemTextJsonSerializationHelper.cs
Due: test

fixed typo
  src/Remote.Linq.Async.Queryable/Expressions/ExpressionAsyncExecutionExtensions.cs
  src/Remote.Linq.Async.Queryable/Expressions/ExpressionAsyncStreamExecutionExtensions.cs
  src/Remote.Linq.EntityFramework/ExpressionExtensions.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExtensions.cs
  src/Remote.Linq/ExpressionExecution/AsyncExpressionExecutionDecoratorBase`1.cs
  src/Remote.Linq/ExpressionExecution/AsyncExpressionExecutor`2.cs
  src/Remote.Linq/ExpressionExecution/ExpressionExecutor`2.cs
Due: production

add support for ConstandExpression containing expression resolve issue #101
  src/Remote.Linq/ExpressionTranslator.RemoteToSystemLinqTranslator.cs
  src/Remote.Linq/ExpressionTranslator.SystemToRemoteLinqTranslator.cs
  src/Remote.Linq/Expressions/Expression.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_ConstExpression_of_expression.cs
Due: production, test

removed unnecessary using
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_ConstExpression_of_expression.cs
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
