Repository 6bee/Remote.Linq: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Add Codacy badge
  README.md
Due: none

updated codacy badge url
  README.md
Due: none

fix code style issues
  src/Remote.Linq.Async.Queryable/ExpressionExecution/DefaultReactiveAsyncStreamExpressionExecutor.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/DefaultEntityFrameworkCoreAsyncstreamExpressionExecutor.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/DefaultEntityFrameworkCoreExpressionExecutor.cs
  src/Remote.Linq/DynamicQuery/DynamicItemMapper.cs
  src/Remote.Linq/DynamicQuery/DynamicResultMapper.cs
  src/Remote.Linq/ExpressionTranslatorContext.cs
  src/Remote.Linq/Expressions/UnaryExpression.cs
  test/Remote.Linq.Async.Queryable.Tests/When_querying_async.cs
Due: production, test

exclude _DebuggerNonUserCode_ from coverage
  coverlet.runsettings
Due: none

finalizing `ExpressionTranslatorContext` API
  src/Remote.Linq.Async.Queryable/ExpressionExecution/DynamicAsyncQueryResultMapper.cs
  src/Remote.Linq.EntityFrameworkCore/EntityFrameworkCoreExpressionTranslatorContext.cs
  src/Remote.Linq/DynamicQuery/DynamicQueryResultMapper.cs
  src/Remote.Linq/ExpressionTranslatorContext.cs
  test/Remote.Linq.Tests/ExpressionVisitors/ExpressionTranslator/When_translating_expression_with_readonly_type_value.cs
Due: production, test

fix filename casing
  Remote.Linq.Samples.sln
  Remote.Linq.sln
Due: none

change `ConstantQueryArgument` to composition and remove inheritance from `DynamicObject` as polymorphism imposes an challenge in major serialization frameworks
  Directory.Build.props
  src/Remote.Linq.Newtonsoft.Json/ContractResolvers/RemoteLinqContractResolver.cs
  src/Remote.Linq.Newtonsoft.Json/Converters/ConstantQueryArgumentConverter.cs
  src/Remote.Linq.protobuf-net/DynamicQuery/ConstantQueryArgumentSurrogate.cs
  src/Remote.Linq.protobuf-net/DynamicQuery/DynamicQueryTypeModel.cs
  src/Remote.Linq/DynamicQuery/ConstantQueryArgument.cs
  src/Remote.Linq/DynamicQuery/QueryableResourceDescriptor.cs
  src/Remote.Linq/DynamicQuery/VariableQueryArgument`1.cs
  src/Remote.Linq/ExpressionTranslator.RemoteToSystemLinqTranslator.cs
  src/Remote.Linq/ExpressionTranslator.SystemToRemoteLinqTranslator.cs
  src/Remote.Linq/ExpressionVisitors/QueryableResourceVisitor.cs
  test/Remote.Linq.Tests/ProtoBuf/When_serializing_remote_linq_types_with_protobuf_net.cs
  test/Remote.Linq.Tests/Serialization/ProtobufNetSerializationHelper.cs
Due: production, test

clean code
  src/Remote.Linq/ExpressionVisitors/QueryableResourceVisitor.cs
Due: production

clean code
  src/Remote.Linq/ExpressionTranslator.SystemToRemoteLinqTranslator.cs
Due: production

consider `byte[]` primitive type
  src/Remote.Linq/ExpressionTranslatorContext.cs
Due: production

7.0.0-alpha-033
  Directory.Build.props
Due: none

minor changes
  codecov.yml
  src/Remote.Linq/MethodInfos.cs
Due: production

aqua-core.5.0.0-alpha-056
  Directory.Build.props
Due: none

include Directory.Build.props
  Remote.Linq.sln
  src/Directory.Build.props
Due: production

7.0.0-alpha-034
  Directory.Build.props
Due: none

fix code style issue
  src/Remote.Linq/ExpressionVisitors/ExpressionEvaluator.cs
Due: production

fix code style issues
  Style.ruleset
  src/Remote.Linq/ExpressionVisitors/SystemExpressionReWriter.cs
  test/Remote.Linq.Tests/RemoteQueryable/When_running_query.cs
Due: production, test

use GetMethodEx to reflect methodinfo by signature
  src/Remote.Linq.Async.Queryable/DynamicQuery/RemoteLinqAsyncQueryProvider`1.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/DynamicAsyncQueryResultMapper.cs
  src/Remote.Linq.Async.Queryable/ExpressionExecution/Helper.cs
  src/Remote.Linq.Async.Queryable/Remote.Linq.Async.Queryable.csproj
  src/Remote.Linq.EntityFramework/EntityFrameworkMethodInfos.cs
  src/Remote.Linq.EntityFramework/ExpressionExecution/Helper.cs
  src/Remote.Linq.EntityFramework/Remote.Linq.EntityFramework.csproj
  src/Remote.Linq.EntityFrameworkCore/ExpressionExecution/Helper.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionVisitors/SystemExpressionReWriter.cs
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
  src/Remote.Linq.Extensions.Include/ExpressionVisitors/RemoteIncludeExpressionReWriter.cs
  src/Remote.Linq.Extensions.Include/ExpressionVisitors/SystemIncludeExpressionReWriter.cs
  src/Remote.Linq.Extensions.Include/IncludeQueryableExtensions.cs
  src/Remote.Linq.Extensions.Include/MethodInfos.Enumerable.cs
  src/Remote.Linq.Extensions.Include/Remote.Linq.Extensions.Include.csproj
  src/Remote.Linq/MethodInfos.Enumerable.cs
  src/Remote.Linq/MethodInfos.Expression.cs
  src/Remote.Linq/MethodInfos.GroupingFactory.cs
  src/Remote.Linq/MethodInfos.Queryable.cs
  src/Remote.Linq/MethodInfos.String.cs
  src/Remote.Linq/MethodInfos.cs
Due: production

7.0.0-alpha-092
  Directory.Build.props
Due: none

fix stackoverflow
  src/Remote.Linq.EntityFramework/ExpressionVisitors/SystemExpressionReWriter.cs
Due: production

fix package description
  src/Remote.Linq.EntityFramework/Remote.Linq.EntityFramework.csproj
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
Due: production

7.0.0-alpha-093
  Directory.Build.props
Due: none

merge _Remote.Linq.Extensions.Include_ back into _Remote.Linq_ and move `IQueryable`-extensions into sub-namespaces
  README.md
  Remote.Linq.sln
  pack.bat
  src/Remote.Linq.EntityFramework/ExpressionVisitors/RemoteExpressionReWriter.cs
  src/Remote.Linq.EntityFramework/Remote.Linq.EntityFramework.csproj
  src/Remote.Linq.EntityFrameworkCore/ExpressionVisitors/SystemExpressionReWriter.cs
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
  src/Remote.Linq.Extensions.Include/MethodInfos.Enumerable.cs
  src/Remote.Linq.Extensions.Include/Remote.Linq.Extensions.Include.csproj
  src/Remote.Linq.Newtonsoft.Json/JsonSerializerSettingsExtensions.cs
  src/Remote.Linq/Async/AsyncQueryableExtensions.cs
  src/Remote.Linq/DynamicQuery/AsyncRemoteStreamQueryable.cs
  src/Remote.Linq/ExpressionTranslatorContext.cs
  src/Remote.Linq/Helper.cs
  src/Remote.Linq/Include/IIncludableQueryable`2.cs
  src/Remote.Linq/Include/IncludeQueryableExtensions.cs
  src/Remote.Linq/Include/RemoteIncludeExpressionReWriter.cs
  src/Remote.Linq/Include/SystemIncludeExpressionReWriter.cs
  src/Remote.Linq/MethodInfos.Enumerable.cs
  src/Remote.Linq/RemoteQueryableFactory.cs
  src/Remote.Linq/SimpleQuery/IOrderedQuery.cs
  src/Remote.Linq/SimpleQuery/IOrderedQuery`1.cs
  src/Remote.Linq/SimpleQuery/IQuery.cs
  src/Remote.Linq/SimpleQuery/IQueryExtensions.cs
  src/Remote.Linq/SimpleQuery/IQuery`1.cs
  src/Remote.Linq/SimpleQuery/Query.cs
  src/Remote.Linq/SimpleQuery/Query`1.cs
  src/Remote.Linq/SimpleQuery/SimpleQueryEnumerableExtensions.cs
  src/Remote.Linq/SimpleQuery/SimpleQueryQueryableExtensions.cs
  test/Remote.Linq.EntityFramework.Tests/When_querying.cs
  test/Remote.Linq.EntityFrameworkCore.Tests/When_executing_async_stream.cs
  test/Remote.Linq.EntityFrameworkCore.Tests/When_querying.cs
  test/Remote.Linq.Extensions.Include.Tests/Remote.Linq.Extensions.Include.Tests.csproj
  test/Remote.Linq.Tests/AsyncQueryableExtensions/Ensure_async_method_provided_for_every_synchronous_query_operation.cs
  test/Remote.Linq.Tests/AsyncQueryableExtensions/When_using_async_remote_operations.cs
  test/Remote.Linq.Tests/DynamicQuery/AsyncRemoteQueryable/When_executing_async_remote_queryable.cs
  test/Remote.Linq.Tests/DynamicQuery/AsyncRemoteStream/When_executing_async_remote_stream.cs
  test/Remote.Linq.Tests/DynamicQuery/RemoteQueryable/When_executing_straight.cs
  test/Remote.Linq.Tests/Include/When_using_include.cs
  test/Remote.Linq.Tests/TestSupport/When_using_test_support_remote_queryable.cs
Due: production, test

7.0.0-alpha-094
  Directory.Build.props
  samples/00_SimpleRemoteQuery/Client/Demo.cs
  samples/00_SimpleRemoteQuery/Client/ServiceProxy`1.cs
  samples/00_SimpleRemoteQuery/Common/ServiceContract/IRemoteLinqDataService.cs
  samples/00_SimpleRemoteQuery/Server/RemoteLinqDataService.cs
  samples/03_RemoteQueryable_AsyncStream/Client/AsyncStreamDemo.cs
  samples/40_RemoteQueryable_ToEntityFramework/Client/Client.csproj
  samples/40_RemoteQueryable_ToEntityFramework/Client/Demo.cs
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Client/Client.csproj
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Client/Demo.cs
  samples/SharedCode/Client.AsyncDemo.cs
Due: none

removed deleted projects from ci configs
  .travis.yml
  appveyor.yml
Due: none

clean code
  src/Remote.Linq/Include/RemoteIncludeExpressionReWriter.cs
Due: production

moved expression execute methods to namespace Remote.Linq.ExpressionExecution
  src/Remote.Linq/ExpressionExecution/ExpressionExecutionExtensions.cs
  src/Remote.Linq/TestSupport/EnumerableExtensions.cs
  src/Remote.Linq/TestSupport/TaskAsyncQueryProvider.cs
  test/Remote.Linq.Tests/AsyncQueryableExtensions/When_using_async_remote_operations.cs
  test/Remote.Linq.Tests/Expressions/ExpressionExtensions/When_executing_expresson_with_explicit_result_type.cs
  test/Remote.Linq.Tests/RemoteQueryable/When_running_cross_join_query.cs
  test/Remote.Linq.Tests/RemoteQueryable/When_running_query.cs
  test/Remote.Linq.Tests/RemoteQueryableFactory/When_using_remote_linq_as_linq_provider.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_subquery_expression_use_same_parameter_name.cs
Due: production, test

added `QueryArgumentAttribute` to prevent local evaluation of constant expression values if annotated
  src/Remote.Linq/DynamicQuery/QueryArgumentAttribute.cs
  src/Remote.Linq/DynamicQuery/QueryableResourceDescriptor.cs
  src/Remote.Linq/DynamicQuery/VariableQueryArgument.cs
  src/Remote.Linq/DynamicQuery/VariableQueryArgumentList.cs
  src/Remote.Linq/DynamicQuery/VariableQueryArgument`1.cs
  src/Remote.Linq/ExpressionTranslator.SystemToRemoteLinqTranslator.cs
  src/Remote.Linq/ExpressionTranslatorContext.cs
  src/Remote.Linq/ExpressionVisitors/ExpressionEvaluator.cs
  src/Remote.Linq/IRemoteLinqQueryable.cs
  test/Remote.Linq.Tests/DynamicQuery/QueryArgumentAttribute/When_annotating_class.cs
  test/Remote.Linq.Tests/DynamicQuery/QueryArgumentAttribute/When_annotating_interface.cs
  test/Remote.Linq.Tests/DynamicQuery/QueryArgumentAttribute/When_annotating_struct.cs
  test/Remote.Linq.Tests/DynamicQuery/QueryMarkerFunctionAttribute/When_annotating_method.cs
  test/Remote.Linq.Tests/DynamicQuery/QueryMarkerFunctionAttribute/When_annotating_property.cs
Due: production, test

added changelog
  CHANGELOG.md
Due: none

exclude experimental branches from ci build
  appveyor.yml
Due: none

renamed `SystemExpressionVisitorBase`
  src/Remote.Linq.EntityFramework/ExpressionVisitors/SystemExpressionReWriter.cs
  src/Remote.Linq.EntityFrameworkCore/ExpressionVisitors/SystemExpressionReWriter.cs
  src/Remote.Linq/ExpressionTranslator.SystemToRemoteLinqTranslator.cs
  src/Remote.Linq/ExpressionVisitors/ExpressionVisitorBase.cs
  src/Remote.Linq/ExpressionVisitors/SystemExpressionEvaluator.cs
  src/Remote.Linq/ExpressionVisitors/SystemExpressionReWriter.cs
  src/Remote.Linq/ExpressionVisitors/SystemExpressionVisitorBase.cs
  src/Remote.Linq/Include/SystemIncludeExpressionReWriter.cs
Due: production

made class abstract to allow inheritance of inner classes
  src/Remote.Linq/ExpressionVisitors/QueryableResourceVisitor.cs
  src/Remote.Linq/ExpressionVisitors/VariableQueryArgumentVisitor.cs
Due: production

fix indentation
  CHANGELOG.md
Due: none

added line breaks after list items
  CHANGELOG.md
Due: none

resolved code style issues
  test/Remote.Linq.Tests/DynamicQuery/EntityQueryables.cs
  test/Remote.Linq.Tests/Serialization/Expressions/When_using_BlockExpression.cs
Due: test

7.0.0-alpha-095
  Directory.Build.props
Due: none

updates for 7.0.0-alpha-095
  samples/03_RemoteQueryable_AsyncStream/Server/QueryService.cs
  samples/10_RemoteQueryable_DynamicObjectWithKnownTypes/Server/QueryService.cs
  samples/11_RemoteQueryable_CustomResultHandler/Server/QueryService.cs
  samples/13_RemoteQueryable_ServerDefinedProjection/Server/QueryService.cs
  samples/14_RemoteQueryable_Compression/Server/QueryService.cs
  samples/42_RemoteQueryable_ToNHibernate/Server/QueryService.cs
  samples/50_SandboxedServer/Server/QueryService.cs
  samples/SharedCode/Server.DefaultAsyncQueryService.cs
  samples/SharedCode/Server.DefaultAsyncQueryService.wcf.cs
  samples/SharedCode/Server.DefaultQueryService.cs
  samples/SharedCode/Server.WebApi.QueryController.cs
Due: none

Path conditions:
  production: any of: src/
  test: any of: test/
