Repository 6bee/Remote.Linq: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

codecov:
  ci:
    - appveyor

fix typo
  CHANGELOG.md
Due: none

Bump Microsoft.EntityFrameworkCore from 8.0.6 to 8.0.7
  CHANGELOG.md
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Client/Client.csproj
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Server/Server.csproj
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
  test/Remote.Linq.EntityFrameworkCore.Tests/Remote.Linq.EntityFrameworkCore.Tests.csproj
Due: production, test

update xunit
  test/Directory.Build.props
Due: test

Bump Microsoft.EntityFramework from 6.4.4 to 6.5.1
  CHANGELOG.md
  src/Remote.Linq.EntityFramework/Remote.Linq.EntityFramework.csproj
Due: production

update FluentNHibernate
  samples/42_RemoteQueryable_ToNHibernate/Server/Server.csproj
Due: none

update MessagePack
  samples/31_RemoteQueryable_UsingMessagePackSerializationOverTcp/Common/Common.csproj
Due: none

update Microsoft.AspNetCore.Components.WebAssembly
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp.Client/BlazorApp.Client.csproj
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/BlazorApp.csproj
Due: none

add comment concerning required target framework
  samples/15_RemoteQueryable_ModelAbstraction/Common/Common.csproj
Due: none

update tools
  Directory.Build.props
  test/Directory.Build.props
  test/Remote.Linq.Async.Queryable.Tests/Remote.Linq.Async.Queryable.Tests.csproj
  test/Remote.Linq.EntityFramework.Tests/Remote.Linq.EntityFramework.Tests.csproj
Due: test

bump Microsoft.EntityFrameworkCore from 8.0.6 to 8.0.11
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
Due: production

v7.2.2 - security patch for CVE-2024-43485
  CHANGELOG.md
  Directory.Build.props
Due: none

download codecov upload tool using curl
  .appveyor.yml
Due: none

fix nuget badges
  README.md
Due: none

remove net6.0 tagret and update dependencies
  CHANGELOG.md
  Directory.Build.props
  Remote.Linq.sln
  src/Remote.Linq.EntityFramework/Remote.Linq.EntityFramework.csproj
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
  src/Remote.Linq.Newtonsoft.Json/Remote.Linq.Newtonsoft.Json.csproj
  src/Remote.Linq.Text.Json/Remote.Linq.Text.Json.csproj
  src/Remote.Linq/Async/AsyncQueryableExtensions.cs
  src/Remote.Linq/MethodInfos.Queryable.cs
  src/Remote.Linq/Remote.Linq.csproj
  test/Remote.Linq.Async.Queryable.Tests/Remote.Linq.Async.Queryable.Tests.csproj
  test/Remote.Linq.EntityFramework.Tests/Remote.Linq.EntityFramework.Tests.csproj
  test/Remote.Linq.EntityFrameworkCore.Tests/Remote.Linq.EntityFrameworkCore.Tests.csproj
  test/Remote.Linq.Tests/Remote.Linq.Tests.csproj
  test/Remote.Linq.Tests/RemoteQueryable/When_running_query.cs
  test/Remote.Linq.Tests/Serialization/ProtobufNetSerializationHelper.cs
  test/Remote.Linq.Tests/TestData.cs
Due: production, test

update to latest framework and library versions
  samples/00_SimpleRemoteQuery/Common/Common.csproj
  samples/01_RemoteQueryable_Basic/Common/Common.csproj
  samples/02_RemoteQueryable_Async/Common/Common.csproj
  samples/10_RemoteQueryable_DynamicObjectWithKnownTypes/Common/Common.csproj
  samples/11_RemoteQueryable_CustomResultHandler/Common/Common.csproj
  samples/12_RemoteQueryable_CustomTypeResolver/Common/Common.csproj
  samples/13_RemoteQueryable_ServerDefinedProjection/Common/Common.csproj
  samples/14_RemoteQueryable_Compression/Common/Common.csproj
  samples/15_RemoteQueryable_ModelAbstraction/Common/Common.csproj
  samples/20_RemoteQueryable_UsingBinarySerializationOverTcp/Common/Common.csproj
  samples/21_RemoteQueryable_UsingBinarySerializationOverTcpAsync/Common/Common.csproj
  samples/28_RemoteQueryable_UsingBsonSerializationOverTcp/Common/Common.csproj
  samples/30_RemoteQueryable_UsingServiceModelGrpc/Client/Client.csproj
  samples/30_RemoteQueryable_UsingServiceModelGrpc/Common/Common.csproj
  samples/30_RemoteQueryable_UsingServiceModelGrpc/Server/Server.csproj
  samples/31_RemoteQueryable_UsingMessagePackSerializationOverTcp/Common/Common.csproj
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp.Client/BlazorApp.Client.csproj
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/BlazorApp.csproj
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Client/Client.csproj
  samples/41_RemoteQueryable_ToEntityFrameworkCore/Server/Server.csproj
  samples/42_RemoteQueryable_ToNHibernate/Server/Server.csproj
Due: none

Move _taskFromResultMethodInfo to non-generic static class
  src/Remote.Linq.EntityFrameworkCore/DynamicQuery/RemoteLinqEfCoreAsyncQueryProvider.cs
  src/Remote.Linq.EntityFrameworkCore/DynamicQuery/RemoteLinqEfCoreAsyncQueryProvider`1.cs
Due: production

Disabling NuGet audit for sample projects Fixing new error on unchecked stream read in BinaryDataFormatter sample code
  samples/Directory.Build.props
  samples/SharedCode/Common.BinaryDataFormatter.cs
Due: none

add test coverage for DateOnly, TimeOnly, Int128, UInt128
  test/Remote.Linq.Tests/RemoteQueryable/When_running_query.cs
  test/Remote.Linq.Tests/Serialization/DataContractSerializationHelper.cs
  test/Remote.Linq.Tests/Serialization/ProtobufNetSerializationHelper.cs
  test/Remote.Linq.Tests/Serialization/XmlSerializationHelper.cs
  test/Remote.Linq.Tests/TestData.cs
Due: test

include global.json in solution files
  Remote.Linq.sln
Due: none

suppress warning for namespace rule violation
  src/Remote.Linq.Async.Queryable/AsyncEnumerable`1.cs
  src/Remote.Linq.Async.Queryable/AsyncGrouping`2.cs
Due: production

fix typo
  samples/00_SimpleRemoteQuery/DemoStartUp/Program.cs
  samples/01_RemoteQueryable_Basic/DemoStartUp/Program.cs
  samples/02_RemoteQueryable_Async/DemoStartUp/Program.cs
  samples/03_RemoteQueryable_AsyncStream/DemoStartUp/Program.cs
  samples/04_RemoteQueryable_AsyncQueryable/DemoStartUp/Program.cs
  samples/10_RemoteQueryable_DynamicObjectWithKnownTypes/DemoStartUp/Program.cs
  samples/11_RemoteQueryable_CustomResultHandler/DemoStartUp/Program.cs
  samples/12_RemoteQueryable_CustomTypeResolver/DemoStartUp/Program.cs
  samples/13_RemoteQueryable_ServerDefinedProjection/DemoStartUp/Program.cs
  samples/14_RemoteQueryable_Compression/DemoStartUp/Program.cs
  samples/15_RemoteQueryable_ModelAbstraction/DemoStartUp/Program.cs
  samples/20_RemoteQueryable_UsingBinarySerializationOverTcp/DemoStartUp/Program.cs
  samples/21_RemoteQueryable_UsingBinarySerializationOverTcpAsync/DemoStartUp/Program.cs
  samples/22_RemoteQueryable_UsingJsonSerializationOverTcp/DemoStartUp/Program.cs
  samples/23_RemoteQueryable_UsingJsonSerializationOverTcpAsync/DemoStartUp/Program.cs
  samples/24_RemoteQueryable_UsingJsonSerializationOverWebApi/DemoStartUp/Program.cs
  samples/25_RemoteQueryable_UsingXmlSerializationOverHttp/DemoStartUp/Program.cs
  samples/26_RemoteQueryable_UsingXmlSerializationOverTcp/DemoStartUp/Program.cs
  samples/27_RemoteQueryable_UsingXmlSerializationOverWebApi/DemoStartUp/Program.cs
  samples/28_RemoteQueryable_UsingBsonSerializationOverTcp/DemoStartUp/Program.cs
  samples/29_RemoteQueryable_UsingProtobufNetSerializationOverTcp/DemoStartUp/Program.cs
  samples/30_RemoteQueryable_UsingServiceModelGrpc/DemoStartUp/Program.cs
  samples/31_RemoteQueryable_UsingMessagePackSerializationOverTcp/DemoStartUp/Program.cs
  samples/40_RemoteQueryable_ToEntityFramework/DemoStartUp/Program.cs
  samples/41_RemoteQueryable_ToEntityFrameworkCore/DemoStartUp/Program.cs
  samples/42_RemoteQueryable_ToNHibernate/DemoStartUp/Program.cs
Due: none

clean code
  src/Remote.Linq.EntityFrameworkCore/DynamicQuery/RemoteLinqEfCoreAsyncQueryProvider.cs
  test/Remote.Linq.Tests/RemoteQueryable/When_running_query.cs
  test/Remote.Linq.Tests/Serialization/DataContractSerializationHelper.cs
Due: production, test

declare method private
  src/Remote.Linq.EntityFrameworkCore/DynamicQuery/RemoteLinqEfCoreAsyncQueryProvider`1.cs
Due: production

remove default argument value to prevent ambiguity for method resolution
  src/Remote.Linq.EntityFrameworkCore/RemoteQueryableFactoryAsyncExtensions.cs
Due: production

bump aqua-core to 5.5.0-alpha-004
  Directory.Build.props
Due: none

update change log
  CHANGELOG.md
Due: none

make CultureContext treadsafe
  test/Remote.Linq.Tests/TestHelper.cs
Due: test

clean code
  test/Remote.Linq.Tests/ProtoBuf/When_serializing_remote_linq_types_with_protobuf_net.cs
Due: test

revert xunit.runner.visualstudio back to 2.8.2 as short-term resolution of #136
  test/Directory.Build.props
Due: test

make ProtoBufTypeModel visible
  src/Remote.Linq.protobuf-net/ProtoBufTypeModel.cs
Due: production

move extension methods into root-namespace of 3rd party libs
  src/Remote.Linq.Newtonsoft.Json/JsonSerializerSettingsExtensions.cs
  src/Remote.Linq.Text.Json/JsonSerializerOptionsExtensions.cs
  test/Remote.Linq.Tests/Serialization/NewtonsoftJsonSerializationHelper.cs
  test/Remote.Linq.Tests/Serialization/SystemTextJsonSerializationHelper.cs
  test/Remote.Linq.Tests/Test.cs
Due: production, test

clean code
  src/Remote.Linq/ExpressionTranslationExtensions.RemoteToSystemLinqTranslator.cs
  src/Remote.Linq/Expressions/InvokeExpression.cs
  src/Remote.Linq/SimpleQuery/Query.cs
  src/Remote.Linq/SimpleQuery/Query`1.cs
  test/Remote.Linq.Tests/AsyncQueryableExtensions/Ensure_async_method_provided_for_every_synchronous_query_operation.cs
Due: production, test

bump aqua-coew to 5.5.0-alpha-005 and use pre-release of xunit.runner.visualstudio to resolve #136
  Directory.Build.props
  nuget.config
  test/Directory.Build.props
Due: test

bump aquq-core to 5.5.0-alpha-006
  Directory.Build.props
Due: none

suppress nuget audit for samples
  samples/Directory.Build.props
Due: none

bump aqua-core to 5.5.0-alpha-008
  CHANGELOG.md
  Directory.Build.props
  test/Remote.Linq.Tests/ExpressionExecution/ExpressionExecutor/When_inheriting_from_expression_executor.cs
  test/Remote.Linq.Tests/Test.cs
Due: test

fix using for extension methods to configure `JsonSerializerOptions`
  CHANGELOG.md
  samples/24_RemoteQueryable_UsingJsonSerializationOverWebApi/Server/WebApiServer.cs
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp/Program.cs
Due: none

add link to EfCore.Client github repo
  README.md
Due: none

use .net sdk 10.0
  global.json
Due: none

add .NET 10.0 framework target
  CHANGELOG.md
  Directory.Build.props
  samples/24_RemoteQueryable_UsingJsonSerializationOverWebApi/Client/RemoteRepository.cs
  samples/35_RemoteQueryable_UsingWebAssembly/BlazorApp.Client/Services/ClientRepository.cs
  samples/SharedCode/Common.BsonFormatter.cs
  samples/SharedCode/Common.JsonFormatter.cs
  src/Remote.Linq.Async.Queryable/Remote.Linq.Async.Queryable.csproj
  src/Remote.Linq.EntityFrameworkCore/Remote.Linq.EntityFrameworkCore.csproj
  src/Remote.Linq.Text.Json/Remote.Linq.Text.Json.csproj
  src/Remote.Linq/ExpressionTranslatorContext.cs
  src/Remote.Linq/Remote.Linq.csproj
  test/Directory.Build.props
  test/Remote.Linq.Async.Queryable.Tests/Remote.Linq.Async.Queryable.Tests.csproj
  test/Remote.Linq.Async.Queryable.Tests/When_querying_async.cs
  test/Remote.Linq.EntityFramework.Tests/Remote.Linq.EntityFramework.Tests.csproj
  test/Remote.Linq.EntityFrameworkCore.Tests/Remote.Linq.EntityFrameworkCore.Tests.csproj
  test/Remote.Linq.Tests/Remote.Linq.Tests.csproj
Due: production, test
